{% load i18n %}

    <li class="nav-header">
        {% trans "Course" %}
    </li>
    <li><a href="{{ instance.get_absolute_url }}">
        <i class="icon-home"></i>
        {% trans "Home" %}
    </a></li>
    <li><a href="{% url course.views.view_instance_calendar course_url=instance.course.url instance_url=instance.url %}">
        <i class="icon-calendar"></i>
        {% trans "Calendar feed" %} (ics)
    </a></li>
    <li><a href="{{ instance.get_results_url }}">
        <i class="icon-list-alt"></i>
        {% trans "Results" %}
    </a></li>
    {% for tab in instance.get_tabs %}
        <li>
            <a href="{{ tab.get_absolute_url }}">
                <i class="icon-star-empty"></i>
                {{ tab.get_label }}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ instance.get_absolute_url }}me/">
            <i class="icon-user"></i>
            {{ user.get_profile.get_shortname }}
        </a>
    </li>

    {# Categories #}
    {% if instance.categories.count > 1 %}
        <li class="nav-header">
            {% trans "Categories" %}
        </li>

        {# Visible categories #}
        {% for category in instance.categories.all %}
            {% if not user.get_profile in category.hidden_to.all %}
            <li>
                <a href="{% url exercise.views.toggle_category_visibility category_id=category.id %}">
                    <i class="icon-check"></i>
                    {{ category.name }}
                </a>
            </li>
            {% endif %}
        {% endfor %}

        {# Hidden categories #}
        {% for category in user.get_profile.hidden_categories.all %}
            {% if category in instance.categories.all %}
                <li>
                    <a class="muted" href="{% url exercise.views.toggle_category_visibility category_id=category.id %}">
                        <i class="icon-remove-circle"></i>
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if is_teacher or is_assistant %}
        <li class="nav-header">
            {% trans "Staff" %}
        </li>
        {% if is_teacher %}
            <li>
                <a href="{% url course.views.teachers_view course_url=instance.course.url instance_url=instance.url %}">
                    <i class="icon-pencil"></i>
                    {% trans "Teacher's view" %}
                </a>
            </li>
        {% endif %}
       <li>
            <a href="{% url course.views.assistants_view course_url=instance.course.url instance_url=instance.url %}">
                <i class="icon-pencil"></i>
                {% trans "Assistant's view" %}
            </a>
        </li>
    {% endif %}
