{% load i18n %}

    <li class="nav-header">
        {% trans "Course" %}
    </li>
    <li><a href="{{ instance.get_absolute_url }}">
        <i class="icon-home"></i>
        {% trans "Home" %}
    </a></li>
    <li><a href="{% url course.views.view_instance_calendar course_url=instance.course.url instance_url=instance.url %}">
        <i class="icon-calendar"></i>
        {% trans "Calendar feed" %} (ics)
    </a></li>
    <li><a href="{{ instance.get_results_url }}">
        <i class="icon-list-alt"></i>
        {% trans "Results" %}
    </a></li>
    {% for tab in instance.get_tabs %}
        <li>
            <a href="{{ tab.get_absolute_url }}">
                <i class="icon-star-empty"></i>
                {{ tab.get_label }}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ instance.get_absolute_url }}me/">
            <i class="icon-user"></i>
            {{ user.get_profile.get_shortname }}
        </a>
    </li>

    {% load external_services_tags %}
    {% ext_service_entries instance.pk %}
    {% if ext_menu_entries|length > 0 %}
        <li class="nav-header">
            {% trans "External" %}
        </li>
        {% for menu_entry in ext_menu_entries %}
            <li>
                <a href="{{ menu_entry.url }}" target="_blank">
                    <i class="{{ menu_entry.icon_class }}"></i>
                    {{ menu_entry.label }}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    {# TODO: List categories here. Check commit 1148e0c for some existing code. #}

    {% if instance.tabs.all|length > 0 %}
        <li class="nav-header">
            {% trans "Apps" %}
        </li>
        {% for tab in instance.tabs.all %}
            <li>
                <a href="{% url apps.views.view_tab tab_id=tab.id %}">
                    <i class="icon-th-large"></i>
                    {{ tab.label }}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    {% if is_teacher or is_assistant %}
        <li class="nav-header">
            {% trans "Staff" %}
        </li>
        {% if is_teacher %}
            <li>
                <a href="{% url course.views.teachers_view course_url=instance.course.url instance_url=instance.url %}">
                    <i class="icon-pencil"></i>
                    {% trans "Teacher's view" %}
                </a>
            </li>
        {% endif %}
       <li>
            <a href="{% url course.views.assistants_view course_url=instance.course.url instance_url=instance.url %}">
                <i class="icon-pencil"></i>
                {% trans "Assistants' view" %}
            </a>
        </li>
    {% endif %}
