{% extends "base.html" %}
{% load i18n %}

{% block maintitle %}
    <h1>{% trans "Course Archive" %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8">
        <ul id="course-list" class="unstyled">
        </ul>
    </div>
    <div class="span4">
        <div class="alert alert-info">
            {% blocktrans %}
            <strong>Note:</strong>
            To demonstrate functionality found in A+, the list of courses and course instances is fetched
            from the API. And built using JavaScript.
            {% endblocktrans %}
        </div>
    </div>
</div>

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $.getJSON("/api/v1/course/", function(courseResponse) {
            $.each(courseResponse.objects, function(i, course) {
                var $courseLI = $("<li />").attr('id', 'course'+course.id).appendTo("#course-list");
                var $courseHeading = $("<h3 />").text(course.name + " ").appendTo($courseLI);
                var $courseCode = $("<small />").text(course.code).appendTo($courseHeading);
                $instanceUL = $("<ul />").appendTo($courseLI);
                $.each(course.instances, function(j, courseInstance) {
                    
                    $.getJSON(courseInstance, function(instanceResponse) {
                        var $instanceLI = $("<li />").appendTo($("#course"+course.id));
                        var $instanceLink = $("<a />")
                            .text(instanceResponse.instance_name)
                            .attr("href", instanceResponse.browser_url)
                            .appendTo($instanceLI);
                        if (instanceResponse.is_open) {
                            $instanceLI.append(" <span class='label label-success'>open</span>");
                        }
                    });
                });
            });
        });
    });
</script>
{% endblock %}

{% endblock %}
