{% extends "course/course_base.html" %}
{% load i18n %}

{% block coursecontent %}

<h2>{% trans "Assistants' view" %}</h2>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th colspan="3"><h3>{% trans "Learning modules" %}</h3></th>
        </tr>
    </thead>
    <tbody>

    {% for module in instance.course_modules.all %}
        <tr>
            <th colspan="2">
                <strong>{{ module.name }}</strong>
            </th>
        </tr>
        {% for object in module.learning_objects.all %}
            <tr>
                <td>
                    {{ object.name }}
                </td>
                <td>
                    <a href="{% url exercise.staff_views.list_exercise_submissions exercise_id=object.id %}">View submissions</a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
