{% extends "base.html" %}

{% block pagetitle %}
    {{ instance.course.name }}
{% endblock %}

{% block maintitle %}
    <h1>{{ instance.course.name }} <small>{{ instance.instance_name }}</small></h1>
{% endblock %}


{% block breadcrumb %}{% endblock %}


{% block content %}
<div class="row">
    <div class="span2">
        <ul class="nav nav-list">
        {% include "course/_course_menu.html" with instance=instance %}
        </ul>
    </div>
    <div class="span10">
        {% block coursecontent %}
        {% endblock %}
    </div>
</div>
{% endblock %}