{% extends "course/course_base.html" %}
{% load sanitizer %}
{% load i18n %}

{% block coursecontent %}
<div class="row">
    <div class="span5">
        <p class="pull-right"><img src="{{ user.get_profile.avatar_url }}" alt="avatar" /></p>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <dl class="dl-horizontal">
            <dt>{% trans "student-id" %}</dt><dd>{{user.get_profile.student_id}}</dd>
            <dt>{% trans "email" %}</dt><dd>{{user.email}}</dd>
            <dt>{% trans "username" %}</dt><dd>{{user.username}}</dd>
         </dl>

        <div class="alert alert-info clearfix">
            {% blocktrans with email=user.email %}
                <p> You can change your avatar icon
                at <a href="http://gravatar.com">gravatar.com</a>.
                Use your e-mail address <strong>{{ email }}</strong>
                when registering your account.</p>
                <p>To change your settings, such
                as <strong>e-mail</strong> address
                or <strong>password</strong>, you must update them on
                your identity provider.</p>
            {% endblocktrans %}
        </div>
    </div>
    <div class="span5">
        <h3>{{ course.name }}</h3>
        <p>
            {% trans "You currently have" %}
            <span class="label label-info">{{ course_summary.get_total_points }} / {{ course_summary.get_maximum_points }}</span>
            {% trans "exercise points on this course" %}.
        </p>
        
        <h3>{% trans "Your latest submissions" %}</h3>
        <ul>
            {% for submission in submissions %}
            <li><a href="{{ submission.get_absolute_url }}">{{ submission.exercise.name }}</a>, {{ submission.grade }}/{{ submission.exercise.max_points }}</li>
            {% empty %}
            <li>{% trans "No submissions for this course." %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
