{% extends "course/course_base.html" %}
{% load sanitizer %}
{% load i18n %}

{% block coursecontent %}
<div class="row">
    <div class="span7">
        <h2>{% trans "Schedule" %}</h2>
        <ul class="exercise_rounds">
        {% for round_summary in course_summary.round_summaries %}
            <li class="exercise_round {{ round_summary.get_classes }}">
                {% if round_summary.exercise_round.is_after_open or is_teacher or is_assistant %}
                <div class="exercise-icons">
                    <div class="btn-group">
                    {% for exercise_summary in round_summary.exercise_summaries %}
                        <a href="{{ exercise_summary.exercise.get_absolute_url }}"
                            class="btn 
                                {% if not exercise_summary.is_passed %}
                                    btn-danger
                                {% else %}
                                    {% if exercise_summary.is_full_points %}
                                        btn-success
                                    {% endif %}
                                    {% if not exercise_summary.is_full_points and exercise_summary.is_submitted%}
                                        btn-warning
                                    {% endif %}
                                {% endif %}"
                                {# Django 1.3 does not support elif #}
                            rel="tooltip"
                            data-html="true"
                            data-placement="bottom"
                            title="&lt;strong&gt;{{ exercise_summary.exercise.name }}&lt;/strong&gt;&lt;br /&gt; {{ exercise_summary.get_points }} / {{ exercise_summary.get_max_points }}">
                            {{ forloop.counter }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                <a href="#" class="collapse_toggle">
                    <h3>
                        <i class="icon-chevron-right"></i>
                        <i class="icon-chevron-down"></i>
                        {{ forloop.counter }}. {{ round_summary.exercise_round.name }}
                        <small class="nowrap">
                            {{ round_summary.get_total_points }} / {{ round_summary.get_maximum_points }} {% trans "points" %}
                            {% if round_summary.exercise_round.points_to_pass > 0 %}(required to pass: {{ round_summary.exercise_round.points_to_pass }}){% endif %}
                        </small>
                    </h3>
                </a>
                <p><span class="dates">{{ round_summary.exercise_round.opening_time }} &ndash; {{ round_summary.exercise_round.closing_time }}</span></p>
                 
                <div class="table-container">
                	<div class="progress{% if round_summary.is_passed %} progress-success{% else %} progress-danger{% endif %} progress-striped" style="position: relative">
		                <div class="bar" style="width: {{ round_summary.get_completed_percentage }}%;"
		                     data-placement="below" rel="tooltip" title="{% trans "Your points" %}: {{ round_summary.get_total_points }}"></div>
		                <a href="#"
		                   class="score-barrier required-score"
		                   style="left: {{ round_summary.get_required_percentage }}%"
		                   rel="tooltip"
		                   data-placement="bottom"
		                   title="{% trans "Points required to pass" %}: {{ round_summary.exercise_round.points_to_pass }}"></a>
	                </div>
                	{% autoescape off %}
	                <div class="exercise_round_introduction">{{ round_summary.exercise_round.introduction }}</div>
                	{% endautoescape %}
                    {% if round_summary.exercise_summaries %}
                    <table class="table table-striped table-bordered table-condensed exercise_units">
                        <thead>
                            <th>{% trans "Exercise" %}</th>
                            <th style="width: 80px;">{% trans "Points" %}</th>
                        </thead>
                        <tbody>
                        {% for category, exercise_summaries in round_summary.categorized_exercise_summaries %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>Points</td>
                            </tr>
                            {% for exercise_summary in exercise_summaries %}
                                <tr>
                                    <td>
                                    {% if round_summary.exercise_round.is_after_open or is_teacher or is_assistant %}
                                        <a href="{{ exercise_summary.exercise.get_absolute_url }}">{{ exercise_summary.exercise.name }}</a>
                                    {% else %}
                                        {{ forloop.counter }}. {{exercise_summary.exercise.name}}
                                    {% endif %}
                                    </td>
                                    <td style="text-align: right">{{ exercise_summary.get_points }} / {{ exercise_summary.get_max_points }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="alert alert-info">
                            {% trans "No learning objects defined for this module." %}
                        </div>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li class="alert alert-info">
                {% trans "No learning modules defined." %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="span3">
            <div class="well my-score-box">
            <h4>{%trans "Total points:" %}</h4>
            <h2>{{ course_summary.get_total_points }} <small>/ {{ course_summary.get_maximum_points }}</small></h2>
            <div 
                class="progress {% if course_summary.is_passed %}progress-success{% else %}progress-info{% endif %} progress-striped"
                style="position: relative">
                <div class="bar" style="width: {{ course_summary.get_completed_percentage }}%;"
                    data-placement="below" rel="tooltip" title="{% trans "Your points" %}: {{ course_summary.get_total_points }}"></div>
                </div>
            </div>

        {% if instance.plugins.all %}
            {% for plugin in instance.plugins.all %}
                
                {# TODO: Plugins should not be rendered as safe #}
                {{ plugin.render|safe }}
                
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
