{% load i18n %}
<form method="post" action="{{ post_url }}">
	<div class="form-group">
		<label for="git_id">
			<strong>{% trans "Enter your Git repository address for grading" %}</strong>
		</label>
		<input type="text" id="git_id" name="git" class="form-control" />
		{% if not exercise.no_git_reminder %}
		<p class="help-block">
			{% trans "Did you remember git add - git commit - git push?" %}
		</p>
		{% endif %}
	</div>
	{% if post_url or not result.accepted %}
	<div class="form-group">
		<input type="submit" id="git_submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
	</div>
	{% endif %}
</form>
