{% extends 'access/exercise_frame.html' %}
{% load i18n %}

{% block exercise %}
{% if not result.error %}
{% if exercise.instructions %}
<div class="instructions">
  {{ exercise.instructions|safe }}
</div>
{% endif %}

<form method="post" action="{{ post_url }}">
	{% if result.user and result.hash %}
	<input type="hidden" name="user" value="{{ result.user }}" />
	<input type="hidden" name="hash" value="{{ result.hash }}" />
	{% else %}
	<div class="form-group">
		<label for="user">
            <strong>{% trans "Enter your user id for grading" %}</strong>
        </label>
		<input type="text" id="user" name="user" class="form-control" />
	</div>
	{% endif %}
    {% if not exercise.no_git_reminder %}
	<p class="help-block">
        {% trans "Did you remember git add - git commit - git push?" %}
    </p>
	{% endif %}
    {% if post_url or not result.accepted %}
    <div class="form-group">
        <input type="submit" class="btn btn-primary aplus-submit" value="{% trans 'Request grading of my repository' %}" />
    </div>
    {% endif %}
</form>
{% endif %}
{% endblock %}
