{% load i18n %}
{% if exercise.fields or exercise.files %}
<form method="post" action="{{ post_url }}" enctype="multipart/form-data">

	{% if exercise.fields %}
	{% for entry in exercise.fields %}
	<div class="form-group{% if entry.missing %} has-error{% endif %}">
		<label for="{{ entry.name }}_id" class="control-label">
			{{ entry.title|safe }}
		</label>
		{% if entry.more %}
		{{ entry.more|safe }}
		{% endif %}
		<textarea id="{{ entry.name }}_id" name="{{ entry.name }}" class="form-control" rows="{% if entry.rows %}{{ entry.rows }}{% else %}6{% endif %}"></textarea>
	</div>
	{% endfor %}
	{% endif %}

	{% if exercise.files %}

		{% if exercise.required_number_of_files %}
			<p>
			{% blocktrans with num_files=exercise.required_number_of_files %}
				Submit only {{ num_files }} of the following files.
			{% endblocktrans %}
			</p>
		{% endif %}

		{% for entry in exercise.files %}
		<div class="form-group">
			<label for="{{ entry.field }}_id">
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				{{ entry.name }}
			</label>
			<input type="file" id="{{ entry.field }}_id" name="{{ entry.field }}" class="form-control" />
		</div>
		{% endfor %}	
	{% endif %}

	{% if post_url or not result.accepted %}
	<div class="form-group">
		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary aplus-submit" />
	</div>
	{% endif %}
</form>
{% endif %}
