{% load i18n %}
{% if exercise.fields %}
<form method="post" action="{{ post_url }}">
	{% for entry in exercise.fields %}
	<div class="form-group">
		<label for="{{ entry.name }}_id">
			{{ entry.title }}
		</label>
		<textarea id="{{ entry.name }}_id" name="{{ entry.name }}" class="form-control"></textarea>
	</div>
	{% endfor %}
	{% if post_url or not result.accepted %}
	<div class="form-group">
		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
	</div>
	{% endif %}
</form>
{% endif %}
