{% load i18n %}
<div id="feedback">
	{% for entry in result.tests %}
	{% if entry.title or entry.out or entry.err or entry.points > 0 %}
		{% if entry.title %}
		<h3>{{ entry.title }}</h3>
		{% endif %}

		{% if entry.points > 0 and entry.max_points > 0 %}
		{% blocktrans with points=entry.points max_points=entry.max_points %}
		Points {{ points }}/{{ max_points }}
		{% endblocktrans %}
		{% endif %}

		{% if entry.out %}
		{% if entry.html %}
		{{ entry.out|safe }}
		{% else %}
		  <pre>{{ entry.out }}</pre>
		{% endif %}
		{% endif %}

		{% if entry.err %}
		<pre class="alert alert-danger">{{ entry.err }}</pre>
		{% endif %}
	{% endif %}
	{% endfor %}
</div>
