{% extends 'frame.html' %}

{% block head %}
		{% include 'access/exercise_head.html' %}
{% endblock %}

{% block body %}

		<div id="exercise">
		
			{% if result.error %}
			<div class="alert alert-error">
			
				{% if result.missing_files %}
				<p>Every file is required for a submission.</p>
				{% endif %}
			
				{% if result.missing_file_name %}
				<p>Unknown file received (no file name configured).</p>
				{% endif %}
				
				{% if result.invalid_address %}
				<p>Invalid address entered.</p>
				{% endif %}
				
			</div>
			{% endif %}

			{% block exercise %}
			{% endblock %}
		</div>
{% endblock %}
