{% load i18n %}
<form method="post" action="{{ post_url }}">
	{% for field in result.form %}
	{% if field.field.open_set %}
	<fieldset id="{{ field.field.open_set }}"{% if result.accepted %} class="alert {% if field.field.open_set in result.error_groups %}alert-danger{% else %}alert-success{% endif %}"{% endif %}>
		{% if field.field.set_title %}<legend>{{ field.field.set_title }}</legend>{% endif %}
	{% endif %}

		<div class="form-group{% if field.errors %} has-error{% endif %}">
			{% if field.field.choice_list %}
			<label>{{ field.label }}</label>
			{% else %}
			{{ field.label_tag }}
			{% endif %}

			{% if field.field.more %}
			{{ field.field.more|safe }}
			{% endif %}

			{% if field.field.choice_list %}
			{% for choice in field %}
			<div class="{{ field.field.type }}">
				<label>
					{{ choice.tag }}
					{{ choice.choice_label }}
				</label>
			</div>
			{% endfor %}
			{% else %}
			{{ field }}
			{% endif %}

			{% if field.errors %}
			<div class="alert alert-danger">
				{{ field.errors }}
			</div>
			{% endif %}

			{% if field.field.hints %}
			{{ field.field.hints }}
			{% endif %}
		</div>
	{% if field.field.close_set %}
	</fieldset>
	{% endif %}
	{% endfor %}

	{% if post_url or not result.accepted %}
	<div class="form-group">
		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
	</div>
	{% endif %}
</form>
