{% load i18n %}
<form method="post" action="{{ post_url }}">
	{% for field in result.form %}
	{% if field.field.open_set %}
	<fieldset id="{{ field.field.open_set }}"{% if result.accepted and field.field.group_errors %} class="alert {% if field.field.open_set in result.error_groups %}alert-danger{% else %}alert-success{% endif %}"{% endif %}>
		{% if field.field.set_title %}<legend>{{ field.field.set_title }}</legend>{% endif %}
	{% endif %}

		<div class="form-group{% if field.errors %} has-error{% elif not field.field.group_errors and field.field.name in result.error_fields %} has-error{% endif %}">
			{% if field.field.required %}<span class="required">*</span>{% endif %}
			{% if field.field.choice_list %}
			<label>{{ field.label }}</label>
			{% else %}
			{{ field.label_tag }}
			{% endif %}
			{% if result.accepted and not field.field.group_errors and field.field.points > 0 %}
			{% if field.field.name in result.error_fields %}
			<span class="badge badge-danger">0 / {{ field.field.points }}</span>
			{% else %}
			<span class="badge badge-success">{{ field.field.points }} / {{ field.field.points }}</span>
			{% endif %}
			{% endif %}

			{% if field.field.more %}
			{{ field.field.more|safe }}
			{% endif %}

			{% if field.field.choice_list %}
			{% for choice in field %}
			<div class="{{ field.field.type }}">
				<label>
					{{ choice.tag }}
					{{ choice.choice_label }}
				</label>
			</div>
			{% endfor %}
			{% else %}
			{{ field }}
			{% endif %}

			{% if field.errors %}
			<div class="alert alert-danger">
				{{ field.errors }}
			</div>
			{% endif %}

			{% if field.field.hints %}
			{{ field.field.hints }}
			{% endif %}
		</div>
	{% if field.field.close_set %}
	</fieldset>
	{% endif %}
	{% endfor %}

	{% if post_url or not result.accepted %}
	<div class="form-group">
		{% if result.form.nonce or result.form.sample or result.form.checksum %}
		<input type="hidden" name="_nonce" value="{{ result.form.nonce }}" />
		<input type="hidden" name="_sample" value="{{ result.form.sample }}" />
		<input type="hidden" name="_checksum" value="{{ result.form.checksum }}" />
		{% endif %}
		{% if not result.form.disabled %}
		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
		{% endif %}
	</div>
	{% endif %}
</form>
