{% extends 'grader_frame.html' %}
{% load i18n %}

{% block body %}
<div class="page-header">
	<h1>{% trans "Grader ready" %}</h1>
</div>
<p>
	<a href="{% url 'access.views.queue_length' %}" class="btn btn-default btn-sm">
		{% trans "Current queue length" %}
	</a>
</p>
<h3>{% trans "Available courses" %}</h3>
<div class="list-group">
	{% for course in courses %}
	<a href="{% url 'access.views.course' course.key %}" class="list-group-item">
		{{ course.name }}
	</a>
	{% endfor %}
</ul>
{% endblock %}
