{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}{% translate "ENROLL_STUDENTS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}participants,enroll-students{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'participants' }}">{% translate "PARTICIPANTS" %}</a></li>
<li class="active">{% translate "ENROLL_STUDENTS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
  <p>
  {% translate "ENROLL_STUDENTS_MANUALLY_DESCRIPTION" %}
  </p>
  <form method="post" class="card form">
    {% csrf_token %}
    <legend>{% translate "ENROLL_STUDENTS_IN_COURSE" %}</legend>
    {% bootstrap_form form %}
    <button type="submit" class="aplus-button--default aplus-button--md">
      {% translate "ENROLL_STUDENTS" %}
    </button>
  </form>
</div>
{% endblock %}
