{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}

{% block title %}{% translate "GROUPS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}groups-edit{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "GROUPS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">

  <p>
    {% translate "NUMBER_OF_GROUPS" %} <strong>{{ groups|length }}</strong>
    <a class="aplus-button--secondary aplus-button--xs" role="button" href="{{ instance|url:'groups-add' }}">
      <i class="far fa-plus-sign" aria-hidden="true"></i>
      {% translate "ADD_NEW" %}
    </a>
  </p>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "MEMBERS" %}</th>
        <th>{% translate "CREATED" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{% profiles group.members.all instance is_teacher %}</td>
        <td>{{ group.timestamp }}</td>
        <td>
          <a class="aplus-button--secondary aplus-button--xs" role="button" href="{% url 'groups-edit' course_slug=course.url instance_slug=instance.url group_id=group.id %}">
            <i class="bi-pencil-square" aria-hidden="true"></i>
            {% translate "EDIT" %}
          </a>
          <a class="aplus-button--secondary aplus-button--xs" role="button" href="{% url 'groups-delete' course_slug=course.url instance_slug=instance.url group_id=group.id %}">
            <i class="bi-x-lg" aria-hidden="true"></i>
            {% translate "REMOVE" %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
