{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/ajax_search_select.js' %}"></script>
{% endblock scripts %}
{% block title %}{% translate "EDIT" %} | {% translate "GROUPS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}groups-edit{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'groups-list' }}">{% translate "GROUPS" %}</a></li>
<li class="active">{% translate "EDIT" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">

  <form method="post" class="well form">
      {% csrf_token %}
      <legend>{% translate "EDIT_GROUP_MEMBERS" %}</legend>
      {{ form|bootstrap }}
      <button type="submit" class="aplus-button--default aplus-button--md">
          {% translate "SAVE" %}
      </button>
  </form>

</div>
{% endblock %}
