{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}

{% block title %}{% trans "Groups" %} | {{ block.super }}{% endblock %}
{% block view_tag %}groups-edit{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Groups" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">

  <p>
    {% trans "Number of groups" %} <strong>{{ groups|length }}</strong>
    <a class="btn btn-default btn-xs" href="{{ instance|url:'groups-add' }}">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      {% trans "Add new" %}
    </a>
  </p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Members" %}</th>
        <th>{% trans "Created" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{% profiles group.members.all instance is_teacher %}</td>
        <td>{{ group.timestamp }}</td>
        <td>
          <a class="btn btn-default btn-xs" href="{% url 'groups-edit' course_slug=course.url instance_slug=instance.url group_id=group.id %}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            {% trans "Edit" %}
          </a>
          <a class="btn btn-default btn-xs" href="{% url 'groups-delete' course_slug=course.url instance_slug=instance.url group_id=group.id %}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% trans "Remove" %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
