{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load static %}

{% block title %}{% translate "PARTICIPANTS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}participants{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "PARTICIPANTS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">

    {% if is_teacher %}
    <p>
      <a class="aplus-button--secondary aplus-button--sm" role="button" href="{{ instance|url:'enroll-students' }}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {% translate "ENROLL_STUDENTS" %}
      </a>
    </p>
    {% endif %}
    <p class="filter-users">
      <small>{% translate "FILTER_USERS" %}:</small>
      {% for tag in tags %}
      <button class="btn btn-default btn-xs" style="background-color:{{ tag.color }};color:{{ tag.font_color }};" data-tagslug="{{ tag.slug }}">
        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        {{ tag.name }}
      </button>
      {% endfor %}
    </p>

    <p>
        {% translate "NUMBER_OF_STUDENTS" %} <strong id="participants-number"></strong>
        {% if is_teacher %}
        {% translate "OF_WHICH_SELECTED" %} <strong id="selected-number">0</strong>
        {% endif %}
    </p>

    <table class="table table-condensed">
        <thead>
            <tr>
                {% if is_teacher %}
                <th>
                    <input type="checkbox" id="students-select-all" name="students" value="all" >
                </th>
                {% endif %}
                <th><a href="#" class="order-toggle" id="order-id">{% translate "STUDENT_ID" %} <span class="glyphicon glyphicon-triangle-bottom order-marker" aria-hidden="true"></span></a></th>
                <th><a href="#" class="order-toggle" id="order-last">{% translate "LAST_NAME" %} </a></th>
                <th><a href="#" class="order-toggle" id="order-first">{% translate "FIRST_NAME" %} </a></th>
                <th>{% translate "EMAIL" %}</th>
                <th>{% translate "TAGS" %}</th>
            </tr>
        </thead>
        <tbody id="participants">
        </tbody>
    </table>

</div>
{% include 'course/staff/_tag_remove_modal.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% if is_teacher %}
<script src="{% static 'django_colortag.js' %}"></script>
<script src="{% static 'add_tagging_dropdown.js' %}"></script>
<script src="{% static 'js/buttons_popover.js' %}"></script>
<script src="{% static 'js/tag_popover.js' %}"></script>
{% endif %}

<script src="{% static 'js/participants.js' %}"></script>
<script src="{% static 'course/usertagdropdown.js' %}"></script>
<script>
 $(function () {
     const participants = {{ participants|escape_slashes|safe }};
     const api_url = "{% url 'api:course-detail' 2 instance.id %}";
     const is_teacher = {{ is_teacher|yesno:"true,false" }};
     participants_list(participants, api_url, is_teacher);
 });
</script>

{% endblock %}
