{% load i18n %}
{% load course %}
{% load exercise %}
{% load bootstrap %}

<div class="panel panel-default assessment-panel">
	<div class="panel-heading">
		{# Heading: default mode #}
		<div class="assessment-bar assessment-toggle{% if form.errors %} hidden{% endif %}">
			<div class="assessment-bar-fill assessment-bar-text">
				{% if submission.grader %}
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				{% if not pseudonymize %}
					{% blocktranslate trimmed with user=submission.grader.user.get_full_name time=submission.grading_time %}
					ASSESSED_BY -- {{ user }}, {{ time }}
					{% endblocktranslate %}
				{% else %}
					{% translate 'ASSESSED_BY' %} -- {% translate 'SOMEBODY' %}, {{ submission.grading_time }}
				{% endif %}
				{% else %}
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				{% translate 'NOT_ASSESSED_MANUALLY' %}
				{% endif %}
			</div>
			<div>
				{% if is_teacher or exercise.allow_assistant_grading %}
					{% if submission.is_approvable  %}
						<button
							data-toggle="modal"
							data-target="#submission-approval-modal"
							class="aplus-button--secondary aplus-button--sm"
							type="button"
						>
							{% translate 'APPROVE_SUBMISSION' %}
						</button>
					{% endif %}
				{% endif %}
				<button
					data-toggle="modal"
					data-target="#details-modal"
					class="aplus-button--secondary aplus-button--sm"
				>{% translate 'SUBMISSION_DETAILS' %}</button>
				<form method="post" action="{{ submission|url:'submission-re-submit' }}" style="display: inline-block">
					{% csrf_token %}
					<button
						class="aplus-button--secondary aplus-button--sm aplus-button--left"
						type="submit"
					>
						{% translate 'REGRADE_AUTOMATICALLY' %}
					</button><button
						data-toggle="modal"
						data-target="#resubmit-modal"
						class="aplus-button--secondary aplus-button--sm aplus-button--right"
						type="button"
						title="{% translate 'HELP' %}"
					>?</button>
				</form>
				<button
					data-toggle="visibility"
					data-target=".assessment-toggle"
					class="aplus-button--default aplus-button--sm"
				>{% translate 'ASSESS_MANUALLY' %}</button>
			</div>
		</div>

		{# Heading: assessment mode #}
		<form class="assessment-bar assessment-toggle{% if not form.errors %} hidden{% endif %}" method="post">
			{% csrf_token %}
			<div class="assessment-bar-fill">
				{{ form.assistant_feedback|bootstrap }}
				{{ form.feedback|bootstrap }}
			</div>
			<div style="flex-basis: 200px">
				{{ form.points|bootstrap }}
				{{ form.mark_as_final|bootstrap }}
			</div>
			<div class="text-right">
				<div>
					<input
						class="aplus-button--secondary aplus-button--sm"
						data-toggle="visibility"
						data-target=".assessment-toggle"
						type="button"
						value="{% translate 'CLOSE' %}"
					/>
					{% if is_teacher or is_assistant and exercise.allow_assistant_grading %}
					<input
						class="aplus-button--default aplus-button--sm"
						type="submit"
						value="{% translate 'SUBMIT' %}"
					/>
					{% endif %}
				</div>
			</div>
		</form>
	</div>

	<div class="panel-body">
		<div class="row resizable-sm">
			{# Body: left column (submitted files) #}
			{% if files %}
			<div class="col-sm-6">
				<ul class="nav nav-tabs" role="tablist">
					{% for file in files %}
					<li class="nav-item {% if forloop.first %}active{% endif %}" role="presentation">
						<a class="nav-link" href="#file-{{ file.id }}" role="tab" aria-controls="file-{{ file.id }}" data-toggle="tab">{{ file.filename }}</a>
					</li>
					{% endfor %}
				</ul>

				<div class="tab-content submission-container">
					{% for file in files %}
					<div
						id="file-{{ file.id }}"
						data-id="{{ file.id }}"
						role="tabpanel"
						class="submitted-file tab-pane {% if forloop.first %}active{% endif %}"
						{% if not file.is_passed %}data-viewable="true"{% endif %}
						{% if file.exists %}data-url="{{ file.get_absolute_url }}"{% endif %}
					>
						{% if file.exists %}
							{% if not file.is_passed %}
							<div class="submitted-file-progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
									{% translate "LOADING" %}
								</div>
							</div>
							<div class="submitted-file-data"></div>
							{% else %}
								{% include "exercise/_file_link.html" %}
							{% endif %}
						{% endif %}
						<div class="alert alert-danger submitted-file-error {% if file.exists %}hidden{% endif %}">
							{% translate "FILE_NOT_FOUND" %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{# Body: right column (grader feedback, grader errors and assistant feedback) #}
			<div
				class="{% if files %}col-sm-6{% else %}col-sm-12{% endif %}"
			>
				{% get_grading_errors submission as grading_errors %}

				<ul class="nav nav-pills grader-container-tabs" role="tablist">
					{% if submission.feedback %}
					<li role="presentation">
						<a href="#grader-feedback" role="tab" data-toggle="pill">{% translate "GRADER_FEEDBACK" %}</a>
					</li>
					{% endif %}
					{% if grading_errors %}
					<li role="presentation">
						<a href="#grader-errors" role="tab" data-toggle="pill">{% translate "GRADER_ERRORS" %}</a>
					</li>
					{% endif %}
					{% if submission.assistant_feedback %}
					<li role="presentation">
						<a href="#assistant-feedback" role="tab" data-toggle="pill">{% translate "ASSISTANT_FEEDBACK" %}</a>
					</li>
					{% endif %}
				</ul>

				<div class="tab-content grader-container">
					{% if submission.feedback %}
					<div id="grader-feedback" role="tabpanel" class="grader-tab tab-pane">
						{{ submission.feedback|safe }}
					</div>
					{% endif %}
					{% if grading_errors %}
					<div id="grader-errors" role="tabpanel" class="grader-tab tab-pane">
						<pre>{{ grading_errors }}</pre>
					</div>
					{% endif %}
					{% if submission.assistant_feedback %}
					<div id="assistant-feedback" role="tabpanel" class="grader-tab tab-pane">
						<blockquote>{{ submission.assistant_feedback|safe }}</blockquote>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
