{% load i18n %}
{% load course %}
{% load exercise %}
{% load django_bootstrap5 %}
{% load colortag %}
{% load static %}

<div class="card assessment-panel mb-3">
	<div class="card-header" style="background-color: rgb(245, 245, 245)">
		{# Heading: default mode #}
		<div class="row">
			<div class="assessment-bar assessment-toggle{% if form.errors %} d-none{% endif %}">
				<div class="assessment-bar-fill assessment-bar-text">
					<div class="row">
						<div class="col-6">
							{% if submission.grader %}
							<i class="bi-check-lg" aria-hidden="true"></i>
							{% if not pseudonymize %}
								{% blocktranslate trimmed with user=submission.grader.user.get_full_name time=submission.grading_time %}
								ASSESSED_BY -- {{ user }}, {{ time }}
								{% endblocktranslate %}
							{% else %}
								{% translate 'ASSESSED_BY' %} -- {% translate 'SOMEBODY' %}, {{ submission.grading_time }}
							{% endif %}
							{% else %}
							<i class="bi-x-lg" aria-hidden="true"></i>
							{% translate 'NOT_ASSESSED_MANUALLY' %}
							{% endif %}
						</div>
						<div class="col-6">
							<div style="display: flex; column-gap: 1em; align-items: center; flex-wrap: wrap">
								{% translate 'TAGS' %}
								<p id="submission-tags" class="usertags-container" data-user-id="{{ instance.id }}">
								{% for tag in submission.submission_taggings.all %}
								<form method="post" style="display: flex; align-items: center; column-gap: 0.25em" action="{% url 'remove-tag-from-submissions' course_slug=course.url instance_slug=instance.url module_slug=module.url exercise_path=exercise.get_path submission_id=submission.id subtag_id=tag.tag.id %}">
									{% csrf_token %}
									{{tag.tag|colortag}}
									<button type="submit" class="aplus-button--danger aplus-button--secondary aplus-button--xs"><i class="bi-x-lg" aria-hidden="true"></i></button>
								</form>
								{% endfor %}
								</p>
							</div>
						</div>
					</div>
					<div style="display: flex; column-gap: 1em; align-items: baseline; flex-wrap: wrap">
						<div class="dropdown mt-2">
							<button class="aplus-button--secondary aplus-button--sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% translate 'ADD_TAGGING' %} 
							</button>
							<ul id="submissionTagsList" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								{% for subtag in instance.submissiontags.all %}
								<li><a class="dropdown-item" id="submission-tag-{{subtag.id}}" href="#" onclick="submitForm('{% url 'add-tag-to-submissions' course_slug=course.url instance_slug=instance.url module_slug=module.url exercise_path=exercise.get_path submission_id=submission.id subtag_id=subtag.id %}')"><span>{{subtag|colortag}}</span></a></li>
								{% endfor %}
							</ul>
						</div>
						{% if is_teacher or exercise.allow_assistant_grading %}
							{% if submission.is_approvable  %}
								<button
									data-bs-toggle="modal"
									data-bs-target="#submission-approval-modal"
									class="aplus-button--secondary aplus-button--sm"
									type="button"
								>
									{% translate 'APPROVE_SUBMISSION' %}
								</button>
							{% endif %}
						{% endif %}
						<button
							data-bs-toggle="modal"
							data-bs-target="#details-modal"
							class="aplus-button--secondary aplus-button--sm"
						>{% translate 'SUBMISSION_DETAILS' %}</button>
						{% if has_model_answers and files %}
						<a class="aplus-button--secondary aplus-button--sm" href="{{ submission|url:'submission-inspect' }}?compare_to=model">
							{% translate "COMPARE_TO_MODEL" %}
						</a>
						{% endif %}
						<form method="post" action="{{ submission|url:'submission-re-submit' }}" style="display: inline-block">
							{% csrf_token %}
							<button
								class="aplus-button--secondary aplus-button--sm aplus-button--left"
								type="submit"
							>
								{% translate 'REGRADE_AUTOMATICALLY' %}
							</button><button
								data-bs-toggle="modal"
								data-bs-target="#resubmit-modal"
								class="aplus-button--secondary aplus-button--sm aplus-button--right"
								type="button"
								title="{% translate 'HELP' %}"
							>?</button>
						</form>
						<button
							data-bs-toggle="visibility"
							data-bs-target=".assessment-toggle"
							class="aplus-button--default aplus-button--sm"
						>{% translate 'ASSESS_MANUALLY' %}</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{# Heading: assessment mode #}
					<form class="assessment-bar assessment-toggle{% if not form.errors %} d-none{% endif %}" method="post">
						{% csrf_token %}
						<div class="assessment-bar-fill">
							{% bootstrap_field form.assistant_feedback wrapper_class='mb-0' %}
							{% bootstrap_field form.feedback wrapper_class='mb-0' %}
						</div>
						<div style="flex-basis: 200px">
							{% bootstrap_field form.points wrapper_class='mb-0' %}
							{% bootstrap_field form.mark_as_final wrapper_class='mb-0' %}
						</div>
						<div class="text-right">
							<div>
								<input
									class="aplus-button--secondary aplus-button--sm"
									data-bs-toggle="visibility"
									data-bs-target=".assessment-toggle"
									type="button"
									value="{% translate 'CLOSE' %}"
								/>
								{% if is_teacher or is_assistant and exercise.allow_assistant_grading %}
								<input
									class="aplus-button--default aplus-button--sm"
									type="submit"
									value="{% translate 'SUBMIT' %}"
								/>
								{% endif %}
							</div>
						</div>
					</form>			
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row resizable-sm">
			{# Body: left column (submitted files) #}
			{% if files %}
			<div class="col-sm-6" style="position: relative">
				<ul class="nav nav-tabs" role="tablist">
					{% for file in files %}
					<li class="nav-item {% if forloop.first %}active{% endif %}" role="presentation">
						<a class="nav-link" href="#file-{{ file.id }}" role="tab" aria-controls="file-{{ file.id }}" data-bs-toggle="tab">{{ file.filename }}</a>
					</li>
					{% endfor %}
				</ul>

				<div class="tab-content submission-container">
					{% for file in files %}
					<div
						id="file-{{ file.id }}"
						data-id="{{ file.id }}"
						role="tabpanel"
						class="submitted-file tab-pane {% if forloop.first %}active{% endif %}"
						{% if not file.is_passed %}data-viewable="true"{% endif %}
						{% if file.exists %}
						data-url="{{ file.get_absolute_url }}{% if compared_submission %}?{{ compared_submission|compared_submission_param }}{% endif %}"
						data-filename="{{ file.filename }}"
						{% endif %}
					>
						{% if file.exists %}
							{% if not file.is_passed %}
							<div class="d-none progress submitted-file-progress">
								<div class="aplus-progress-bar aplus-progress-bar-striped active" role="progressbar" style="width:100%">
									{% translate "LOADING" %}
								</div>
							</div>
							<div class="submitted-file-data"></div>
							{% else %}
								{% include "exercise/_file_link.html" %}
							{% endif %}
						{% endif %}
						<div class="alert alert-danger submitted-file-error {% if file.exists %}d-none{% endif %}">
							{% translate "FILE_NOT_FOUND" %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{# Body: right column (grader feedback, grader errors and assistant feedback) #}
			<div
				class="{% if files %}col-sm-6{% else %}col-sm-12{% endif %}"
			>
				{% get_grading_errors submission as grading_errors %}

				<ul class="nav nav-pills grader-container-tabs" role="tablist">
					{% if submission.feedback %}
					<li role="presentation">
						<a class="nav-link" href="#grader-feedback" role="tab" data-bs-toggle="pill">{% translate "GRADER_FEEDBACK" %}</a>
					</li>
					{% endif %}
					{% if grading_errors %}
					<li role="presentation">
						<a class="nav-link" href="#grader-errors" role="tab" data-bs-toggle="pill">{% translate "GRADER_ERRORS" %}</a>
					</li>
					{% endif %}
					{% if submission.assistant_feedback %}
					<li role="presentation">
						<a class="nav-link" href="#assistant-feedback" role="tab" data-bs-toggle="pill">{% translate "ASSISTANT_FEEDBACK" %}</a>
					</li>
					{% endif %}
				</ul>

				<div class="tab-content grader-container">
					{% if submission.feedback %}
					<div id="grader-feedback" role="tabpanel" class="grader-tab tab-pane">
						{{ submission.feedback|safe }}
					</div>
					{% endif %}
					{% if grading_errors %}
					<div id="grader-errors" role="tabpanel" class="grader-tab tab-pane">
						<pre>{{ grading_errors }}</pre>
					</div>
					{% endif %}
					{% if submission.assistant_feedback %}
					<div id="assistant-feedback" role="tabpanel" class="grader-tab tab-pane">
						<blockquote>{{ submission.assistant_feedback|safe }}</blockquote>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="{% static 'exercise/css/submission_tagging_dropdown.css' %}" />

<script>
function submitForm(url) {
	var form = document.createElement('form');
	var csrfToken = "{{csrf_token}}"

	form.setAttribute('method', 'post');
	form.setAttribute('action', url);
	document.body.appendChild(form);

	var csrfInput = document.createElement('input');
	csrfInput.setAttribute('type', 'hidden');
	csrfInput.setAttribute('name', 'csrfmiddlewaretoken');
	csrfInput.setAttribute('value', csrfToken);
	form.appendChild(csrfInput);

	form.submit();
}

const submissionTags = new Set();
{% for tag in submission.submission_taggings.all %}
	submissionTags.add("{{ tag.tag.id }}");
{% endfor %}

$(document).ready(function() {
	// Hide tags that the submission already has from the "Add tags" dropdown
	$('.dropdown-menu .dropdown-item').each(function() {
		// Remove submission-tag- prefix from id
		const subtagId = $(this).attr('id') ? $(this).attr('id').substring(15) : undefined;
		if (subtagId !== undefined) {
			if (submissionTags.has(subtagId)) {
				$(this).parent().hide();
			}
		} else {

		}
	});
});
</script>
