{% load i18n %}
{% load course %}
{% load exercise %}
{% load static %}

{% if is_teacher %}
<script src="{% static 'django_colortag.js' %}"></script>
<script src="{% static 'add_tagging_dropdown.js' %}"></script>
{% endif %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{% translate "SUBITTED_DATA" %}</h3>
	</div>
	<div class="panel-body">
		<dl>
			<dt>
				{% translate "SUBMITTERS" %}
				{% if is_teacher %}
				<a href="{{ submission|url:'submission-edit-submitters' }}" class="aplus-button--secondary aplus-button--xs" role="button">
					{% translate "EDIT" %}
				</a>
				{% endif %}
			</dt>
			<dd>{% profiles submission.submitters.all instance is_teacher %}</dd>
			<dt>{% translate "STATUS" %}</dt>
			<dd>{{ submission.status|submission_status }}</dd>
			<dt>{% translate "SUBMISSION_TIME" %}</dt>
			<dd>{{ submission.submission_time|date:'DATETIME_SECONDS_FORMAT' }}</dd>
			<dt>{% translate "GRADING_TIME" %}</dt>
			<dd>{{ submission.grading_time|date:'DATETIME_SECONDS_FORMAT' }}</dd>
			<dt>{% translate "GRADE" %}</dt>
			<dd>
				{{ submission.grade }} / {{ submission.exercise.max_points }}
				({% translate "GRADER_OUTPUT" %} {{ submission.service_points }} / {{ submission.service_max_points }})
			</dd>
			{% if submission.late_penalty_applied %}
			<dt>{% translate "INCLUDES_LATE_PENALTY" %}</dt>
			<dd>-{{ submission.late_penalty_applied|percent }}%</dd>
			{% endif %}
			<dt>{% translate "SUBMISSIONS" %}</dt>
			<dd>
				<ol>
					{% for s in submissions reversed %}
					<li>
						{% if s == submission %}
						{{ s.submission_time|date:'DATETIME_SECONDS_FORMAT' }}
						{% points_badge s %}
						{% else %}
						<a href="{{ s|url:'submission-inspect' }}">
						{{ s.submission_time|date:'DATETIME_SECONDS_FORMAT' }}
						{% points_badge s %}
						</a>
						{% endif %}
					</li>
					{% endfor %}
				</ol>

				{% translate "IN_TOTAL" %}
				{{ summary.get_submission_count }}
				{% if exercise.max_submissions %}
					/ {{ exercise|max_submissions:submission.submitters.first }}
					{% if is_teacher or is_assistant and submission.exercise.allow_assistant_grading %}
						<form method="post" action="{{ submission|url:'submission-increase-max' }}" style="display:inline;" title="{% translate 'ADD_ONE_EXTRA_SUBMISSION_FOR_STUDENT_IN_EXERCISE' %}">
							{% csrf_token %}
							<input class="aplus-button--secondary aplus-button--xs" type="submit" value="+1" />
						</form>
					{% endif %}
				{% endif %}
			</dd>
		</dl>

		<h4>{% translate "SUBMITTED_FILES" %}</h4>

		<ul class="list-unstyled">
			{% for file in submission.files.all %}
			<li>
				<span class="glyphicon glyphicon-file"></span>
				{% include "exercise/_file_link.html" %}
			</li>
			{% empty %}
			<li>
				{% translate "NO_FILES" %}
			</li>
			{% endfor %}
		</ul>

		<h4>{% translate "SUBMITTED_VALUES" %}</h4>

		<dl>
			{% for item in submission.submission_data %}
			<dt>{{ item.0 }}</dt>
			<dd>{{ item.1 }}</dd>
			{% empty %}
			<dt>{% translate "NO_VALUES" %}</dt>
			{% endfor %}
		</dl>

		<h4>{% translate "GRADING_DATA" %}</h4>

		<dl>
			{% for item in submission.grading_data.items %}
			<dt>{{ item.0 }}</dt>
			<dd>{{ item.1 }}</dd>
			{% empty %}
			<dt>{% translate "NO_VALUES" %}</dt>
			{% endfor %}
		</dl>
	</div>
</div>
