{% load i18n %}
{% load course %}

<div class="modal" id="approval-help-modal" tabindex="-1" role="dialog" aria-labelledby="approval-help-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{% translate "CLOSE" %}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="approval-help-modal-label">
					{% translate "SUBMISSION_APPROVAL_HELP" %}
				</h4>
			</div>

			<div class="modal-body">
				{% translate "SUBMISSION_APPROVAL_DESCRIPTION" %}
			</div>
		</div>
	</div>
</div>
