{% load i18n %}
{% load course %}
{% load exercise %}
<p>
    {% blocktrans with count=submissions.count %}
    {{ count }} submissions
    {% endblocktrans %}
</p>
<table class="table table-bordered" id="submission-table">
    <thead>
        <tr>
            <th>{% trans "Submitters" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Grade" %}</th>
            <th>{% trans "Inspect" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>
                {{ submission.submitters.all|students }}
            </td>
            <td>
                {{ submission.submission_time }}
                {% if submission.late_penalty_applied %}
                <span class="label label-warning">
                    {% blocktrans with percent=submission.late_penalty_applied|percent %}
                    Late <small>-{{ percent }}%</small>
                    {% endblocktrans %}
                </span>
                {% endif %}
            </td>
            <td>
                {{ submission.status }}
            </td>
            <td>
                {{ submission.grade }}
            </td>
            <td>
                <a href="{{ submission|url:'submission-inspect' }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    {% trans "Inspect" %}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="5">{% trans "No submissions" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
