{% load i18n %}
{% load course %}
{% load exercise %}

<table id="submission-table" class="table table-condensed">
	<thead>
		<tr>
			<th>{% translate "NUMBER_ABBREVIATED" %}</th>
			<th>{% translate "TIME" %}</th>
			<th>{% translate "STATUS" %}</th>
			<th>{% translate "GRADE" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for s in submissions reversed %}
		<tr
			{% if forloop.counter < lowest_visible_index or forloop.counter > highest_visible_index %}
			class="submissions-toggle hidden"
			{% elif forloop.counter == index %}
			class="active"
			{% endif %}
		>
			<td>
				{{ forloop.counter }}
			</td>
			<td>
				{% if forloop.counter != index %}
				<a href="{{ s|url:'submission-inspect' }}">
					{{ s.date|date:'DATETIME_SECONDS_FORMAT' }}
				</a>
				{% else %}
				{{ s.date|date:'DATETIME_SECONDS_FORMAT' }}
				{% endif %}
				{% if s.late_penalty_applied %}
				<span class="label label-warning">
					{% blocktranslate trimmed with percent=s.late_penalty_applied|percent %}
					LATE_W_PENALTY -- {{ percent }}
					{% endblocktranslate %}
				</span>
				{% endif %}
			</td>
			<td>
				{{ s.status|submission_status }}
			</td>
			<td>
				{% if exercise.difficulty %}
					<span class="difficulty">{{ exercise.difficulty }}</span>
				{% endif %}
				<span
					class="badge{% if not s.unofficial %} {% if s.points >= exercise.max_points %}badge-success{% elif s.points >= exercise.points_to_pass %}badge-warning{% else %}badge-danger{% endif %}{% endif %}"
					data-toggle="tooltip"
					data-placement="bottom"
					title="{% if s.unofficial %}{% translate 'UNOFFICIAL_DESCRIPTION' %}{% elif s.points >= exercise.points_to_pass %}{% if exercise.points_to_pass > 0 %}{% translate 'PASSED' %}{% endif %}{% else %}{% blocktranslate trimmed with points=exercise.points_to_pass %}POINTS_REQUIRED_TO_PASS -- {{ points }}{% endblocktranslate %}{% endif %}"
				>
					{{ s.points }} / {{ exercise.max_points }}
				</span>

				{% if s == summary.best_submission %}
					{% if s.force_exercise_points %}
					<span
						class="label label-primary"
						data-toggle="tooltip"
						title="{% translate 'SUBMISSION_FINAL_TOOLTIP' %}"
					>{% translate 'FINAL' %}</span>
					{% else %}
					<span
						class="glyphicon glyphicon-star"
						data-toggle="tooltip"
						title="{% translate 'SUBMISSION_CHOSEN_TOOLTIP' %}"
					></span>
					{% endif %}
				{% endif %}
				{% if s.is_assessed %}
				<span
					class="label label-warning"
					data-toggle="tooltip"
					title="{% translate 'SUBMISSION_ASSESSED_TOOLTIP' %}"
				>{% translate 'ASSESSED' %}</span>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% if submissions|length > highest_visible_index or lowest_visible_index > 1 %}
		<tr>
			<td colspan="5">
				<button class="aplus-button--secondary aplus-button--xs" data-toggle="visibility" data-target=".submissions-toggle">
					<span class="submissions-toggle">{% translate "SHOW_ALL_SUBMISSIONS" %}</span>
					<span class="submissions-toggle hidden">{% translate "HIDE_OTHER_SUBMISSIONS" %}</span>
				</button>
			</td>
		</tr>
		{% endif %}
	</tbody>
</table>
