{% load i18n %}
{% load course %}
{% load exercise %}
{% load static %}

<div class="clearfix">
	<div class="float-end">
		{% if allow_regrade %}
			<button type="button" class="aplus-button--secondary aplus-button--xs" data-bs-toggle="modal" data-bs-target="#regrade-modal">
				{{ regrade_button }}
			</button>
		{% endif %}

		<a class="aplus-button--secondary aplus-button--xs" href="{{ exercise|url:'submission-next-unassessed' }}">
			<i class="bi-check-lg" aria-hidden="true"></i>
			{% translate "START_MANUAL_ASSESSMENT" %}
		</a>
		<a class="aplus-button--secondary aplus-button--xs" href="{{ exercise|url:'submission-summary' }}">
			<i class="bi-bar-chart-fill" aria-hidden="true"></i>
			{% translate "SUMMARY" %}
		</a>
		<span class="dropdown">
			<button
				class="aplus-button--secondary aplus-button--xs dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				id="download-data"
			>
				{% translate "DOWNLOAD_POINTS" %} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end" aria-labeledby="download-data">
				{% get_format_info_list "json csv excel.csv" as formats %}
				{% for format in formats %}
				<li>
					<a class="dropdown-item" href="{% url 'api:course-submissiondata-list' version=2 course_id=instance.id %}?exercise_id={{ exercise.id }}&amp;format={{ format.name }}">
						{{ format.verbose_name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</span>
		{% if has_files %}
			<span class="dropdown">
				<button
					class="aplus-button--secondary aplus-button--xs dropdown-toggle"
					type="button"
					data-bs-toggle="dropdown"
					id="download-zip-data"
				>
					{% translate "DOWNLOAD_SUBMISSIONS" %} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-end" aria-labeledby="download-zip-data">
					{% get_zip_info_list "all best" as types %}
					{% for type in types %}
					<li>
						<a class="dropdown-item" href="{% url 'api:exercise-submissions-zip' version=2 exercise_id=exercise.id %}?best={{ type.best }}">
							{{ type.verbose_name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</span>
		{% endif %}
	</div>
	<p>
		{% exercise_text_stats exercise %}
		<a class="aplus-button--secondary aplus-button--xs" href="{{ exercise|url:'submission-list' }}">
		{% translate "SHOW_INDIVIDUAL_SUBMISSIONS" %}
		</a>
	</p>
</div>

<table class="table table-bordered filtered-table ordered-table">
	<thead>
		<tr>
			<th>{% translate "SUBMITTER" %}</th>
			<th>{% translate "SUBMISSIONS" %}</th>
			<th>{% translate "LATEST_SUBMISSION_TIME" %}</th>
			<th>{% translate "GRADE" %}</th>
			<th
				data-filter-type="options"
				data-filter-options="{% translate 'YES' %}|{% translate 'NO' %}"
				data-order-disable="true"
			>
				{% translate "ASSESSED_MANUALLY" %}
			</th>
			<th data-filter-type="none" data-order-disable="true">{% translate "INSPECT" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for submitter in submitters %}
		{% url 'submitter-inspect' course_slug=course.url instance_slug=instance.url module_slug=module.url exercise_path=exercise.get_path user_id=submitter.profile.user_id as inspect_url %}
		<tr>
			<td>
				{% profiles submitter.profile instance is_teacher %}
			</td>
			<td>
				{{ submitter.count_submissions }}
			</td>
			<td data-datetime="{{ submitter.last_submission_time|date:'Y-m-d H:i:s' }}">
				{{ submitter.last_submission_time|date:'DATETIME_SECONDS_FORMAT' }}
			</td>
			<td>
				{{ submitter.final_points }}
			</td>
			<td>
				{% if submitter.count_assessed > 0 %}
					<i class="bi-check-lg"></i>
					{% translate "YES" %}
				{% else %}
					<i class="bi-x-lg"></i>
					{% translate "NO" %}
				{% endif %}
			</td>
			<td>
				<a href="{{ inspect_url }}" class="aplus-button--secondary aplus-button--xs">
					<i class="bi-zoom-in" aria-hidden="true"></i>
					{% translate "INSPECT" %}
				</a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td class="5">{% translate "NO_SUBMITTERS" %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include "exercise/staff/_regrade_submissions.html" %}
