{% load i18n %}
{% load course %}
{% load exercise %}
{% load static %}
{% with count=submissions.count %}

<div class="clearfix">
	<div class="pull-right">
		<a class="aplus-button--secondary aplus-button--xs" role="button" href="{{ exercise|url:'submission-summary' }}">
			<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
			{% translate "SUMMARY" %}
		</a>
		<span class="dropdown pull-right">
			<button
				class="aplus-button--secondary aplus-button--xs dropdown-toggle"
				type="button"
				data-toggle="dropdown"
				id="download-data"
			>
				{% translate "DOWNLOAD" %} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labeledby="download-data">
				{% get_format_info_list "json csv excel.csv" as formats %}
				{% for format in formats %}
				<li>
					<a href="{% url 'api:course-submissiondata-list' version=2 course_id=instance.id %}?exercise_id={{ exercise.id }}&amp;format={{ format.name }}">
						{{ format.verbose_name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</span>
	</div>
	<p>
		{% exercise_text_stats exercise %} |
		{% if not all and count == default_limit %}
		{% blocktranslate trimmed with limit=default_limit count=count url=all_url %}
			NUM_OF_SUBMISSIONS_DISPLAYED_AND_SHOW_ALL_BTN -- {{ limit }}, {{ url }}
		{% endblocktranslate %}
		{% else %}
		{% blocktranslate trimmed with count=count %}
			NUM_OF_SUBMISSIONS_DISPLAYED -- {{ count }}
		{% endblocktranslate %}
		{% endif %}
	</p>
</div>
<table class="table table-bordered{% if all or count < default_limit %} filtered-table{% endif %}">
		<thead>
				<tr>
						<th>{% translate "SUBMITTERS" %}</th>
						<th>{% translate "TIME" %}</th>
						<th>{% translate "STATUS" %}</th>
						<th>{% translate "GRADE" %}</th>
						<th>{% translate "INSPECT" %}</th>
				</tr>
		</thead>
		<tbody>
				{% for submission in submissions %}
				<tr>
						<td>
								{% profiles submission.submitters.all instance is_teacher %}
						</td>
						<td data-datetime="{{ submission.submission_time|date:'Y-m-d H:i:s' }}">
								{{ submission.submission_time|date:'DATETIME_SECONDS_FORMAT' }}
								{% if submission.late_penalty_applied %}
								<span class="label label-warning">
										{% blocktranslate trimmed with percent=submission.late_penalty_applied|percent %}
											LATE_W_PENALTY -- {{ percent }}
										{% endblocktranslate %}
								</span>
								{% endif %}
						</td>
						<td>
								{{ submission.status|submission_status }}
						</td>
						<td>
								{{ submission.grade }}
								{% if submission.assistant_feedback %}
								<span class="label label-warning">{% translate "ASSISTANT" %}</span>
								{% endif %}
						</td>
						<td>
								<a href="{{ submission|url:'submission-inspect' }}" role="button" class="aplus-button--secondary aplus-button--xs">
										<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
										{% translate "INSPECT" %}
								</a>
						</td>
				</tr>
				{% empty %}
				<tr>
						<td class="5">{% translate "NO_SUBMISSIONS" %}</td>
				</tr>
				{% endfor %}
		</tbody>
</table>
{% endwith %}
