{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}

{% block title %}{% translate "ASSESS_SID" %} {{ submission.id}} | {{ block.super }}{% endblock %}
{% block view_tag %}assess{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li><a href="{{ exercise|url:'submission-list' }}">{% translate "ALL_SUBMISSIONS"  %}</a></li>
<li><a href="{{ submission|url }}">{% translate "SUBMISSION_ID" %} {{ submission.id }}</a></li>
<li class="active">{% translate "ASSESS" %}</td>
{% endblock %}

{% block columns %}
<div class="col-md-5">
    {% include "exercise/staff/_assess_info.html" %}
</div>
<div class="col-md-7">
    <h3>{% translate "ASSESSMENT" %}</h3>
    <div class="well assistant-feedback">
        <form method="post" role="form">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" class="aplus-button--default aplus-button--md">{% translate "SAVE" %}</button>
                <a href="{{ submission|url:'submission-inspect' }}" class="aplus-button--secondary aplus-button--md" role="button">{% translate "CANCEL" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
