{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}
{% load static %}

{% block title %}{% translate "EDIT_SUBMITTERS_SID" %} {{ submission.id}} | {{ block.super }}{% endblock %}
{% block view_tag %}assess{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li><a href="{{ exercise|url:'submission-list' }}">{% translate "ALL_SUBMISSIONS"  %}</a></li>
<li><a href="{{ submission|url }}">{% translate "SUBMISSION_ID" %} {{ submission.id }}</a></li>
<li class="active">{% translate "EDIT_SUBMITTERS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
      <form method="post" class="well form">
          {% csrf_token %}
          {{ form|bootstrap }}
          <div class="form-group">
              <button type="submit" class="aplus-button--default aplus-button--md">{% translate "SAVE" %}</button>
              <a href="{{ submission|url:'submission-inspect' }}" class="aplus-button--secondary aplus-button--md" role="button">{% translate "CANCEL" %}</a>
          </div>
      </form>
      {% if groups %}
      <h4>{% translate "QUICK_SELECT_GROUP" %}</h4>
      <table class="table table-condensed" id="group-select">
        <tbody>
          {% for group in groups %}
          <tr>
            <td class="col-md-1">
              <a href="#" class="aplus-button--secondary aplus-button--xs select" role="button" data-profiles="{% for profile in group.members.all %}{{ profile.user.id }},{% endfor %}">
                {% translate "SELECT" %}
              </a>
            </td>
            <td class="col-md-1">{{ group.id }}</td>
            <td>{% profiles group.members.all instance is_teacher %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/ajax_search_select.js' %}"></script>
<script>
$(function() {
  $('#group-select a.select').on('click', function(event) {
    event.preventDefault();
    $('select.search-select-ajax').aplusSearchSelectAjax(
      {},
      $(this).attr("data-profiles").split(",").slice(0,-1)
    );
  });
});
</script>
{% endblock scripts %}
