{% extends "course/course_base.html" %}
{% load i18n %}
{% load exercise %}

{% block coursecontent %}

<div class="row">
    <div class="span10">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'course' course_url=course.url instance_url=instance.url %}">
                	{{ course.name }}
                </a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ exercise.name }}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span10">
        <h2>{{ exercise.name }} <small>{{ submissions.count }} {% trans "submissions" %}</small></h2>
        <table class="table table-bordered" id="submission-table">
            <thead>
                <tr>
                    <th>
                        {% trans "Submitters" %}
                    </th>
                    <th>
                        {% trans "Time" %}
                    </th>
                    <th>
                        {% trans "Status" %}
                    </th>
                    <th>
                        {% trans "Grade" %}
                    </th>
                    <th>
                        {% trans "Inspect" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td>
                        {{ submission.submitters.all|students }}
                    </td>
                    <td>
                        {{ submission.submission_time }}
                        {% if submission.late_penalty_applied %}
                        <span class="label label-warning">
	                        {% blocktrans with percent=submission.late_penalty_applied|percent %}
	                        Late <small>-{{ percent }}%</small>
	                        {% endblocktrans %}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        {{ submission.status }}
                    </td>
                    <td>
                        {{ submission.grade }}
                    </td>
                    <td>
                        <a href="{% url 'submission-inspect' course_url=course.url instance_url=instance.url exercise_id=exercise.id submission_id=submission.id %}">
                        	{% trans "Inspect" %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/picnet.table.filter.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#submission-table').tableFilter();
                });
            </script>
{% endblock %}
