{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}
{% load static %}

{% block title %}{% translate "INSPECT_SID" %} {{ submission.id}} | {{ block.super }}{% endblock %}
{% block view_tag %}inspect{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li><a href="{{ exercise|url:'submission-list' }}">{% translate "ALL_SUBMISSIONS"  %}</a></li>
<li><a href="{{ submission|url }}">{% translate "SUBMISSION_ID" %} {{ submission.id }}</a></li>
<li class="active">{% translate "INSPECT" %}</td>
{% endblock %}

{% block columns %}

{% if not_final or not_best or not_last %}
<div class="col-md-12">
	<div class="alert alert-warning">
		{% if not_final %}
		{% translate "NOTE_FINAL_SUBMISSION" %}
		{% elif not_best %}
		{% translate "NOTE_BETTER_SUBMISSIONS" %}
		{% elif not_last %}
		{% translate "NOTE_LATER_SUBMISSIONS" %}
		{% endif %}
	</div>
</div>
{% endif %}

{% if form.non_field_errors %}
<div class="col-md-12">
	<div class="alert alert-danger">
		{% for error in form.non_field_errors %}
			{{ error }}
		{% endfor %}
	</div>
</div>
{% endif %}

<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<span class="h4">{% translate "SUBMITTERS" %}</span>
			{% if is_teacher %}
			<a href="{{ submission|url:'submission-edit-submitters' }}" class="aplus-button--secondary aplus-button--xs">
				{% translate "EDIT" %}
			</a>
			{% adddeviationsbutton instance exercise=exercise submitters=submission.submitters.all %}
			{% endif %}
			{% profiles submission.submitters.all instance is_teacher %}
		</div>

		<div class="col-md-9">
			<div>
				<a href="{{ exercise|url:'submission-next-unassessed' }}" class="pull-right">
					{% translate "ASSESS_NEXT_SUBMITTER_MANUALLY" %}
					{{ request.session.manually_assessed_counter }}
					<span aria-hidden="true">&raquo;</span>
				</a>
				<span class="h4">{% translate "SUBMISSIONS" %}</span>
				<span class="badge">
					{{ summary.submission_count }}
					{% if exercise.max_submissions %}
					/ {{ summary.personal_max_submissions|default_if_none:exercise.max_submissions }}
					{% endif %}
				</span>
				{% if exercise.max_submissions %}
					{% if is_teacher or is_assistant and submission.exercise.allow_assistant_grading %}
						<form
							method="post"
							action="{{ submission|url:'submission-increase-max' }}"
							style="display:inline;"
							title="{% translate 'ADD_ONE_EXTRA_SUBMISSION_FOR_STUDENT_IN_EXERCISE' %}"
						>
							{% csrf_token %}
							<input class="aplus-button--secondary aplus-button--xs" type="submit" value="+1" />
						</form>
					{% endif %}
				{% endif %}
				{% if not submission.force_exercise_points %}
					{{ grading_mode_text }}
				{% endif %}
				{% include "exercise/staff/_submissions_table_compact.html" %}
				{% if compared_submission and files %}
				{% with cs=compared_submission %}
				<p>
				{% if cs == 'model' %}
					{% translate "COMPARING_TO_MODEL" %}
				{% elif cs == 'not found' %}
					{% translate "COMPARING_TO_NOT_FOUND" %}
				{% else %}
					{% blocktranslate trimmed with cs_url=cs|url:'submission-inspect' cs_date=cs.date|date:'DATETIME_SECONDS_FORMAT' %}
						COMPARING_TO_SUBMISSION -- {{ cs_url }}, {{ cs_date }}
					{% endblocktranslate %}
				{% endif %}
					{% blocktranslate trimmed with submission_url=submission|url:'submission-inspect' %}
						SHOW_ORIGINAL_SUBMISSION -- {{ submission_url }}
					{% endblocktranslate %}
				</p>
				{% endwith %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% include "exercise/staff/_assessment_panel.html" %}
		</div>
	</div>
</div>
{% include "exercise/staff/_submission_data_modal.html" %}
{% include "exercise/staff/_resubmit_modal.html" %}
{% include "exercise/staff/_late_submission_approval_modal.html" %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/resize.js' %}"></script>
<script src="{% static 'exercise/assessment.js' %}"></script>
{% endblock %}
