{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}

{% block title %}{% trans "Inspect SID " %} {{ submission.id}} | {{ block.super }}{% endblock %}
{% block view_tag %}inspect{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li><a href="{{ exercise|url:'submission-list' }}">{% trans "All submissions"  %}</a></li>
<li><a href="{{ submission|url }}">{% trans "Submission ID" %} {{ submission.id }}</a></li>
<li class="active">{% trans "Inspect" %}</td>
{% endblock %}

{% block columns %}
<div class="col-md-5">
    {% include "exercise/staff/_assess_info.html" %}
</div>
<div class="col-md-7">
    <h3>{% trans "Assistant feedback" %}</h3>
    <div class="well">

        {% if submission.assistant_feedback %}
        {{ submission.assistant_feedback|safe }}
        {% else %}
        <div class="alert alert-info">
        	{% trans "No assistant feedback available for this submission." %}
        </div>
        {% endif %}

        {% if is_teacher or is_assistant and submission.exercise.allow_assistant_grading %}
        <hr/>
        <p>
            <a class="aplus-button--secondary aplus-button--md" href="{{ submission|url:'submission-assess' }}" role="button">
                {% if submission.exercise.allow_assistant_grading %}
            	{% trans "Assess this submission as an assistant" %}
                {% else %}
                {% trans "Assess this submission as a teacher" %}
                {% endif %}
            </a>
        </p>
        {% endif %}
    </div>

    <h3>{% trans "Grader feedback" %}</h3>
    <div class="well">
    	{% if submission.feedback %}
        {{ submission.feedback|safe }}
    	{% else %}
        <div class="alert alert-info">
        	{% trans "No grader feedback available for this submission." %}
        </div>
    	{% endif %}

        <hr/>
        {% if exercise.can_regrade %}
        	<form method="post" action="{{ submission|url:'submission-re-submit' }}">
        		{% csrf_token %}
        		<input class="aplus-button--secondary aplus-button--md" type="submit" value="{% trans 'Re-submit to service' %}" />
        	</form>
        {% endif %}
        <p>
        {% if exercise.can_regrade %}
        	{% blocktrans %}
            Click this button to re-submit this submission to the assessment
            service. This is meant to be used only in situations where the
            assessment service has behaved incorrectly so that the grading
            data is incorrect or the status of the submission never became
            ready. Caution! Re-submitting overwrites the current grading data.
            {% endblocktrans %}
        {% else %}
            {% trans "Exercises of this type can not be re-submitted to the assessment service." %}
        {% endif %}
        </p>

    </div>

    {% get_grading_errors submission as errors %}
    {% if errors %}
        <h3>{% trans "Grader errors" %}</h3>
        <pre>{{ errors }}</pre>
    {% endif %}
</div>
{% endblock %}
