{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}

{% block title %}{% translate "INSPECT_SID" %} {{ submission.id}} | {{ block.super }}{% endblock %}
{% block view_tag %}inspect{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li><a href="{{ exercise|url:'submission-list' }}">{% translate "ALL_SUBMISSIONS"  %}</a></li>
<li><a href="{{ submission|url }}">{% translate "SUBMISSION_ID" %} {{ submission.id }}</a></li>
<li class="active">{% translate "INSPECT" %}</td>
{% endblock %}

{% block columns %}
<div class="col-md-5">
    {% include "exercise/staff/_assess_info.html" %}
</div>
<div class="col-md-7">
    <h3>{% translate "ASSISTANT_FEEDBACK" %}</h3>
    <div class="well">

        {% if submission.assistant_feedback %}
        {{ submission.assistant_feedback|safe }}
        {% else %}
        <div class="alert alert-info">
        	{% translate "NO_ASSISTANT_FEEDBACK_FOR_SUBMISSION" %}
        </div>
        {% endif %}

        {% if is_teacher or is_assistant and submission.exercise.allow_assistant_grading %}
        <hr/>
        <p>
            <a class="aplus-button--secondary aplus-button--md" href="{{ submission|url:'submission-assess' }}" role="button">
                {% if submission.exercise.allow_assistant_grading %}
            	    {% translate "ASSESS_SUBMISSION_AS_ASSISTANT" %}
                {% else %}
                    {% translate "ASSESS_SUBMISSION_AS_TEACHER" %}
                {% endif %}
            </a>
        </p>
        {% endif %}
    </div>

    <h3>{% translate "GRADER_FEEDBACK" %}</h3>
    <div class="well">
    	{% if submission.feedback %}
            {{ submission.feedback|safe }}
    	{% else %}
            <div class="alert alert-info">
        	    {% translate "NO_GRADER_FEEDBACK_FOR_SUBMISSION" %}
            </div>
    	{% endif %}

        <hr/>
        {% if exercise.can_regrade %}
        	<form method="post" action="{{ submission|url:'submission-re-submit' }}">
        		{% csrf_token %}
        		<input class="aplus-button--secondary aplus-button--md" type="submit" value="{% translate 'RE-SUBMIT_TO_SERVICE' %}" />
        	</form>
        {% endif %}
        <p>
        {% if exercise.can_regrade %}
        	{% blocktranslate trimmed %}
                RE-SUBMIT_TO_SERVICE_DESCRIPTION
            {% endblocktranslate %}
        {% else %}
            {% translate "EXERCISE_OF_TYPE_CANNOT_BE_RE-SUBMITTED_TO_ASSESMENT_SERVICE" %}
        {% endif %}
        </p>

    </div>

    {% get_grading_errors submission as errors %}
    {% if errors %}
        <h3>{% translate "GRADER_ERRORS" %}</h3>
        <pre>{{ errors }}</pre>
    {% endif %}
</div>
{% endblock %}
