{% extends "course/course_base.html" %}
{% load i18n %}
{% load exercise %}

{% block coursecontent %}

<div class="row">
    <div class="span10">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'course' course_url=course.url instance_url=instance.url %}">
                	{{ course.name }}
                </a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'submission-list' course_url=course.url instance_url=instance.url exercise_id=exercise.id %}">
                	{{ exercise.name }}
                </a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'submission-inspect' course_url=course.url instance_url=instance.url exercise_id=exercise.id submission_id=submission.id %}">
					{% trans "Submission" %} {{ submission.id }}
                </a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {% trans "Manual assessment" %}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span4" id="student-submission">
        <h2>{% trans "Submission" %}</h2>

        <div class="well">

            <h3>{% trans "General information" %}</h3>
            <dl>
                <dt>{% trans "Submitters" %}</dt>
                <dd>{{ submission.submitters.all|students }}</dd>
            </dl>

            <hr />

            <h3>{% trans "Submitted values" %}</h3>
            <dl>
            	{% for item in submission.submission_data %}
                <dt>{{ item.0 }}</dt>
                <dd>{{ item.1 }}</dd>
            	{% empty %}
                <dt>
                    {% trans "No values" %}
                </dt>
            	{% endfor %}
            </dl>

            <hr />

            <h3>{% trans "Submitted files" %}</h3>
            <ul class="unstyled">
                {% for file in submission.files.all %}
                <li>
                	<i class="icon-file"></i>
                    <a href="{{ file.get_absolute_url }}">{{ file.filename }}</a>
                    ({{ file.file_object.size|filesizeformat }})
                </li>
                {% empty %}
                <li>
                    {% trans "No files" %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="span6" id="generated-feedback">
        <h2>{% trans "Assessment" %}</h2>
        <div class="well">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
