{% extends "base.html" %}
{% load i18n %}

{% block maintitle %}
    <h1>{% trans "Login" %}</h1>
{% endblock %}

{% block content %}

{% if shibboleth_login %}
<div class="hero-unit">
	{% url 'privacy_policy' as policy_url %}
	{% include 'shibboleth/login_link.html' %}
</div>
<h3>
	{% trans "Alternatively, you can log in with your A+ specific account" %}
</h3>
{% endif %}

<form method="post" action="">{% csrf_token %}
	<div class="clearfix">
		{{ form.username.label_tag }}
		{{ form.username.errors }}
		<div class="input">{{ form.username }}</div>
	</div>
	<div class="clearfix">
		{{ form.password.label_tag }}
		{{ form.password.errors }}
		<div class="input">{{ form.password }}</div>
	</div>

	<div class="actions">
		<input type="submit" value="{% trans 'Login' %}" class="btn" />
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form>

{% endblock %}
