{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block title %}{% blocktranslate trimmed %}LOG_IN_TO -- {{ brand_name }}{% endblocktranslate %} | {{ block.super }}{% endblock %}

{% block scripts %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'userprofile/login.css' %}" />
	<script src="{% static 'userprofile/extra_logins.js' %}"></script>
{% endblock %}

{% block content %}

	<div class="page-header">
		<h1>{% blocktranslate trimmed %}LOG_IN_TO -- {{ brand_name }}{% endblocktranslate %}</h1>
	</div>

	<div id="login-box-row" class="row">

		{% if shibboleth_login %}
			<section aria-labelledby="login-shibboleth-users" class="col-sm-6 col-md-3 login-box">
				<div class="login-section">
					{% if shibboleth_title_text %}
						<h2 id="login-shibboleth-users">
							{{ shibboleth_title_text|safe }}
						</h2>
					{% endif %}
					<div class="login-section-body">
						{% if shibboleth_body_text %}
							<p>
								{{ shibboleth_body_text|safe }}
							</p>
						{% endif %}
						<p>
							<a class="aplus-button--secondary aplus-button--lg" role="button"
								href="{% url 'shibboleth-login' %}?next={{ next|iriencode }}">
								{{ shibboleth_button_text|safe }}
							</a>
						</p>
					</div>
				</div>
			</section>
		
			<section aria-labelledby="login-haka-users" class="col-sm-6 col-md-3 login-box">
				<div class="login-section">
					{% if haka_title_text %}
						<h2 id="login-haka-users">
							{{ haka_title_text|safe }}
						</h2>
					{% endif %}
					<div class="login-section-body">
						{% if haka_body_text %}
							<p>
								{{ haka_body_text|safe }}
							</p>
						{% endif %}
						<p>
							<a class="aplus-button--secondary aplus-button--lg" role="button"
								href="{% url 'haka-login' %}?target={% url 'shibboleth-login' %}">
								{{ haka_button_text|safe }}
							</a>
						</p>
					</div>
				</div>
			</section>
		{% endif %}

		{% if mooc_login %}
			<section aria-labelledby="login-google-users" class="col-sm-6 col-md-3 login-box">
				<div class="login-section">
					{% if mooc_title_text %}
						<h2 id="login-google-users">
							{{ mooc_title_text|safe }}
						</h2>
					{% endif %}
					<div class="login-section-body">
						{% if mooc_body_text %}
							<p>
								{{ mooc_body_text|safe }}
							</p>
						{% endif %}
						<p>
							<a class="aplus-button--secondary aplus-button--lg" role="button"
								href="{% url 'social:begin' 'google-oauth2' %}?next={{ next|iriencode }}">{% translate "LOG_IN_USING_GOOGLE" %}</a>
						</p>
					</div>
				</div>
			</section>
		{% endif %}

		<section aria-labelledby="login-local-users" class="col-sm-6 col-md-3 login-box extra-login">
			<div class="login-section">
				<h2 id="login-local-users">
					{% translate "LOCAL_USERS" %}
				</h2>
				<div class="login-section-body">
					<p>
						{% blocktranslate trimmed %}
							LOCAL_USER_LOGIN_DESCRIPTION -- {{ brand_name }}
						{% endblocktranslate %}
					</p>
					<form method="post" role="form">
						{% csrf_token %}
						{% if form.non_field_errors %}
							<div class="alert alert-danger">
								<a class="close" aria-label="{% translate 'CLOSE_ERROR_LIST' %}" data-dismiss="alert">×</a>
									{% for error in form.non_field_errors %}
										<p>{{ error }}</p>
									{% endfor %}
							</div>
						{% endif %}
							<div class="form-group{% if form.username.errors %} has-error{% endif %}">
								<label class="control-label"
								for="{{ form.username.id_for_label }}">{% translate "USERNAME" %}</label>
								<input class="form-control" id="{{ form.username.id_for_label }}" type="text"
								name="{{ form.username.html_name }}" required autocomplete="username" />
								{% for error in form.username.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
							</div>
							<div class="form-group{% if form.password.errors %} has-error{% endif %}">
								<label class="control-label"
								for="{{ form.password.id_for_label }}">{% translate "PASSWORD" %}</label>
								<input class="form-control" id="{{ form.password.id_for_label }}" type="password"
								name="{{ form.password.html_name }}" required autocomplete="current-password" />
									{% for error in form.password.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
							</div>
						<div class="form-group">
							<button type="submit"
								class="aplus-button--secondary aplus-button--lg">{% translate "LOG_IN" %}</button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<div class="col-sm-1">
			<button class="btn btn-default show-extra-login-btn"
				aria-label="{% translate 'SHOW_MORE_LOGIN_OPTIONS' %}"
				title="{% translate 'SHOW_MORE_LOGIN_OPTIONS' %}"
			>
				<i class="glyphicon glyphicon-chevron-right hidden-xs" focusable="false"></i>
				<i class="glyphicon glyphicon-chevron-down visible-xs-inline" focusable="false"></i>
			</button>
		</div>
	</div>

	{% url 'privacy_notice' as privacy_url %}
	<p>
		{% blocktranslate trimmed with url=privacy_url %}
			READ_OUR_PRIVACY_NOTICE -- {{ url }}
		{% endblocktranslate %}
	</p>

{% endblock %}
