{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load course %}
{% load base %}

{% block title %}{% translate "PROFILE" %} | {{ block.super }}{% endblock %}
{% block view_tag %}profile{% endblock %}

{% block js-translations %}
<link
    data-translation
	rel="prefetch"
    as="fetch"
    crossorigin="anonymous"
    type="application/json, */*;"
    hreflang="fi"
    href="{{ STATIC_URL }}js-translations/profile.fi.json"
>
<link
    data-translation
	rel="prefetch"
    as="fetch"
    crossorigin="anonymous"
    type="application/json, */*;"
    hreflang="fi"
    href="{{ STATIC_URL }}js-translations/copy-to-clipboard.fi.json"
>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'userprofile/local_storage_external_services.js' %}"></script>
<script src="{% static 'js/copy-to-clipboard.js' %}"></script>
<script src="{% static 'userprofile/copy_token.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-offset-2 col-sm-8 page-header">
		<h1>
			{% if user.first_name or user.last_name %}
				{{ user.first_name }} {{ user.last_name }}
			{% else %}
				{% translate "[UNKNOWN_NAME]" %}
			{% endif %}
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8 col-lg-4">
		<h2>{% blocktranslate trimmed %}BRAND_PREFERENCES -- {{ brand_name }}{% endblocktranslate %}</h2>
		<form action="{% url 'set-user-language' %}" method="post" class="form form-horizontal">{% csrf_token %}
			<div class="form-group">
				<label class="col-xs-12" for="language-profile">{% translate "LANGUAGE" %}</label>
				<div class="col-xs-12 col-sm-8">
					<select name="language" class="form-control" id="language-profile">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
						<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
							{{ language.name_local }}
						</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-offset-0 col-xs-6 col-sm-4 ">
					<button type="submit"
						class="aplus-button--default aplus-button--md btn-block btn-save-profile">{% translate "SAVE" %}</button>
				</div>
			</div>
		</form>
		<label for="api-access-token">{% translate "API_ACCESS_TOKEN" %}</label>
		<div class="input-group">
			<input readonly type="text" class="form-control read-only" id="api-access-token"
				value="{{ profile.api_token }}">
			<span class="input-group-btn">
				<button data-toggle="tooltip" data-placement="bottom"
					title="{% translate 'COPY_API_ACCESS_TOKEN' %}" aria-label="{% translate 'COPY_API_ACCESS_TOKEN' %}"
					class="aplus-button--secondary aplus-button--md js-copy" type="button"><span
						class="glyphicon glyphicon-copy"></span><span class="">{% translate "COPY" %}</span></button>
			</span>
		</div>
		<br>
		<div>
			<label for="local-storage-services">{% translate "AUTOMATIC_REDIRECTIONS" %}</label>
			<p id="services-instructions">
				{% blocktranslate trimmed %}
					AUTOMATIC_REDIRECTIONS_NO_SERVICES_MARKED_ON_DEVICE
				{% endblocktranslate %}
			</p>
			<ul id="local-storage-services" class="local-storage-fields"
			data-forget-text="{% translate 'AUTOMATIC_REDIRECTIONS_FORGET' %}" role="group"></ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8 col-md-4">
		{% if not is_google %}
			{% brand_institution_name as institution %}
				<h2>{% blocktranslate trimmed %}INFORMATION_PROVIDED_BY_YOUR_ORGANIZATION{% endblocktranslate %}</h2>
		{% elif is_google %}
			<h2>{% translate "INFORMATION_PROVIDED_BY_GOOGLE" %}</h2>
		{% endif %}
		<p class="text-warning">{% translate "SETTINGS_CAN_BE_CHANGED_BY_IDENTITY_PROVIDER" %}</p>
		<dl class="dl-horizontal">
			{% translate "[MISSING]" as miss %}
			<dt class="provider-information">{% translate "STUDENT_ID" %}</dt>
			<dd>{% firstof profile.student_id miss %}</dd>
			<dt class="provider-information">{% translate "EMAIL" %}</dt>
			<dd>{% firstof user.email miss %}</dd>
			<dt class="provider-information">{% translate "USERNAME" %}</dt>
			<dd>{% firstof user.username miss %}</dd>
			<dt class="provider-information">{% translate "ORGANIZATION" %}</dt>
			<dd>{% firstof profile.organization miss %}</dd>
		</dl>
	</div>
</div> <br>

{% endblock %}
