{% extends "base.html" %}
{% load i18n %}

{% block maintitle %}
    <h1>{% trans "Student groups" %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            {% blocktrans %}
            <strong>Warning:</strong>
            The group functionality in A+ is unfinished. New groups can be created
            through the admin interface and students can be added in them there as well.
            This page, however, is still an early mock-up.
            {% endblocktrans %}
        </div>
    </div>
</div>
<div class="row">
    <div id="exercise" class="span6">
        <h2>{% trans "All groups" %}</h2>
        <ul class="groups-list">
        {% for group in groups.all %}
            <li class="mini-layout">
                <h4>{{ group.name }} <small>
                    {% if not group.is_public %}
                        <span class="label">private</span>
                    {% else %}
                        <span class="label success">public</span>
                    {% endif %}
                </small></h4>
                <p>{{ group.get_names }}</p>
                <blockquote><p>
                    {{ group.description }}
                </p></blockquote>
                <p>
                    {% if group.has_space_left %}
                        <a href="#" class="btn success">{% trans "Join group" %}</a>
                    {% else %}
                        <a href="#" class="btn disabled">{% trans "This group is full" %}</a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="submission_list" class="span6">
        <h2>{% trans "Your groups" %}</h2>
        <ul class="groups-list">
        {% for group in user.userprofile.groups.all %}
            <li class="mini-layout">
                <h4>{{ group.name }}</h4>
                <p>{{ group.get_names }}</p>
                <blockquote><p>
                    {{ group.description }}
                </p></blockquote>
                <a href="#" class="btn danger">{% trans "Quit group" %}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
