*.log
*.pot
*.pyc
local_settings.py
.svn
.DS_Store

.idea
.project
.pydevproject
*.sublime-project
*.sublime-workspace

static/*

test.db

aplus.db

aplus.db.old

dump.json
media
*.orig

course/fixtures/
