*.log
*.pot
*.pyc
local_settings.py
local_templates/
aplus/local_settings.py
aplus/secret_key.py
.svn
.DS_Store
*.mo

.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace

venv/
venv_aplus/
/static/
/media/

/assets/sass/vendor/
/node_cache/
__pycache__/
.pytest_cache/
node_modules/

test.db
aplus.db
aplus.db.*
aplus.db_copy

dump.json
*.orig

test_results/

selenium_test/aplus.out
selenium_test/example_grader.out
selenium_test/server.ports
selenium_test/grader/db.sqlite3

*~
*.swp
*.swo
