python-memcached >= 1.59, < 2
uwsgi >= 2.0.19.1, < 3
# Required for building packages in requirements.txt
wheel
# This extra library is required if postgres is used as the database
psycopg2 >= 2.8.6, < 3
lz4 ~= 3.1.3
# Required for Kubernetes based deployment
kubernetes == 12.0.1
