# Usage: pip install -r requirements.txt
beautifulsoup4 ~= 4.9.3
Django ~= 4.2.3
#django-bootstrap-form ~= 3.4
django-bootstrap5 >= 24.2
django-html5-colorfield >= 2.0, < 3
django-settingsdict ~= 1.1.1
djangorestframework ~= 3.14.0
djangorestframework-csv ~= 2.1.0
git+https://github.com/apluslms/drf-extensions.git@reimplement_nested_routes_v6#egg=drf_extensions==0.8.0.dev1
git+https://github.com/apluslms/django-essentials.git@1.6.0#egg=django-essentials==1.6.0
git+https://github.com/apluslms/js-jquery-toggle.git@1.1.0#egg=js-jquery-toggle-django==1.1.0&subdirectory=django
git+https://github.com/apluslms/django-colortag.git@2.4.0#egg=django-colortag==2.4.0
feedparser ~= 6.0.2
html5lib ~= 1.1
lxml >= 4.6.3, < 5
# NOTE: Change version number in requirements_prod.txt if updated
#lz4 ~= 4.3.2
cachetools ~= 4.2.1
icalendar ~= 4.0.7
oauthlib ~= 3.2.1
jwcrypto ~= 1.5.0
Pillow >= 9.0.0
python-dateutil ~= 2.8.1
social-auth-app-django >= 5.0.0, < 6
social-auth-core >= 4.1.0, < 5
reportlab >= 3.5.0, < 4
requests >= 2.25.1, < 3
unittest-xml-reporting >= 3.0.4, < 4
markdown ~= 3.3.4
aplus-auth ~= 0.2.0
celery >= 5.2.1, < 6
redis >= 4
binaryornot ~= 0.4.4
django-model-utils ~= 4.2.0
format_cef ~= 0.0.4
PyLTI1p3 ~= 2.0.0
pytz ~= 2024.1
Faker ~= 18.11.1