// This is the file which contains the installation-specific brand colours.
// To customise the colours to match the current organisation, without
// changing any colours with semantic meanings, it should only be necessary
// to edit these.

$aplus-brand-primary: #005EB8;
$aplus-brand-secondary: #EF353B;

// The following are used as the basis for other colours. Changing these is
// strongly not recommended at the moment.
$aplus-background: #FFF;
$aplus-foreground: #000;
