{% load i18n %}
{% load external_services %}
{% load course %}
{% load base %}
{% comment %}
  expected parameters:
    service - LinkService
	site - service front page
	[parameters] - key/value pairs for post form, can be ommitted for get
    parameters_hash - hash of form fields
	[exercise] - exercise that holds this link
	is_course_staff
{% endcomment %}
{% comment %}
The page that includes this partial template should also load a JavaScript code,
which adds redirection automation and removes launch button for iframe case.
E.g. {% static 'js/external_launcher.js' ‰}
{% endcomment %}
{% brand_name as brand %}
{% random_id service.pk "-" as form_id %}
<div class="external-service"
	data-ext-service-pk="{{ service.pk }}"
	data-ext-service-title="{{ service.menu_label|parse_localization }} ({{ site }})"
	data-ext-params-hash="{{ parameters_hash }}"
>
	<div class="external-service-launch">
		{% if not exercise %}
			<h1>{% blocktranslate trimmed with brand=brand name=service_label|parse_localization %}EXTERNAL_SERVICE_LAUNCH_LEAVING_AND_ENTERING -- {{ brand }}, {{ name }}{% endblocktranslate %}</h1>
		{% else %}
			<h4>{% blocktranslate trimmed with name=service_label|parse_localization %}EXTERNAL_SERVICE_LAUNCH_EXERCISE_HOSTED_ON -- {{ name }}{% endblocktranslate %}</h4>
		{% endif %}
		<div class="well">
			{% include "external_services/_privacy.html" %}
		</div>
		<p class="external-service-auto">
			<input id="extserv-auto-{{ form_id }}" name="auto_accept" type="checkbox" value="1" />
			<label for="extserv-auto-{{ form_id }}">
				{% if exercise %}
					{% if exercise.open_in_iframe %}
						{% translate "EXTERNAL_SERVICE_LAUNCH_AUTOMATICALLY_LOAD_EXERCISE_NEXT_TIME" %}
					{% else %}
						{% translate "EXTERNAL_SERVICE_LAUNCH_AUTOMATICALLY_OPEN_EXERCISE_NEXT_TIME" %}
					{% endif %}
				{% else %}
					{% translate "EXTERNAL_SERVICE_LAUNCH_AUTOMATICALLY_CONTINUE_TO_SERVICE_NEXT_TIME" %}
				{% endif %}
				<br>
				{% translate "EXTERNAL_SERVICE_LAUNCH_CHOICE_SAVED_ON_DEVICE_AND_WHERE_TO_REMOVE" %}
			</label>
		</p>
		<p>
			<form method="{{ service.method }}" action="{{ url }}"
			      target="{% if exercise %}{% if exercise.open_in_iframe %}extserv-frame-{{ form_id }}{% else %}_blank{% endif %}{% else %}_self{% endif %}">
				{% for name, value in parameters %}
					<input type="hidden" name="{{ name }}" value="{{ value }}">
				{% endfor %}
				<input type="submit" class="aplus-button--default aplus-button--md"
				       value="{% if exercise %}{% if exercise.open_in_iframe %}{% translate 'LOAD_THE_EXERCISE' %}{% else %}{% translate 'OPEN_EXERCISE_IN_NEW_WINDOW' %}{% endif %}{% else %}{% translate 'CONTINUE_TO_SERVICE' %}{% endif %}">
				{% if parameters %}
					<a href="#extserv-more-{{ form_id }}" class="aplus-button--secondary aplus-button--md"
					   aria-controls="{{ collapse_id }}" role="button" aria-expanded="false" data-toggle="collapse"
					>{% translate "SHOW_DETAILS" %}</a>
				{% endif %}
			</form>
		</p>
		{% if parameters %}
			<div class="collapse well" id="extserv-more-{{ form_id }}">
				<p>{{ service.method }} {{ url }}</p>
				<table class="card card-block table">
					{% for name, value in parameters|dictsort:"0.lower" %}
						<tr><th>{{ name }}</th><td>{{ value }}</td></tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}
	</div>

	{% if exercise.open_in_iframe %}
		<iframe name="extserv-frame-{{ form_id }}" src="about:blank" height="500" style="width: 100%; display: none;"></iframe>
	{% endif %}
</div>
