{% load i18n %}
{% load external_services %}
{% load course %}
{% comment %}
aplus/assets/js/external_launcher.js defines a jQuery plugin that is used with
this template. The page that includes this partial template should also
activate the JavaScript code, for example, in the following way:

<script src="{% static 'js/external_launcher.js' %}"></script>
<script>
$(function() {
    $('[data-external-launch]').aplusExternalLauncher();
});
</script>
{% endcomment %}
<div data-external-launch
     data-ext-service-pk="{{ service.pk }}"
     data-ext-params-hash="{{ parameters_hash }}"
>
<div data-hide-after-launch>
<div class="alert alert-warning">
	<p>
		{% blocktrans with name=service.menu_label|parse_localization %}
		You are about to use an external service, {{ name }}, for the first time.
		{% endblocktrans %}
		{% if service.is_anonymous %}
			{% blocktrans %}
			Your name and email address will be pseudonymised and transferred
			to the provider of this service. This means that the service cannot
			identify you, but A+ administration can.
			{% endblocktrans %}
		{% else %}
			{% blocktrans %}
			To use the service, your name and email address will be transferred
			to the provider of this service.
			{% endblocktrans %}
		{% endif %}
	</p>
	{% if service.api_access %}
	<p>
		{% if is_course_staff %}
			{% blocktrans %}
			For this service also API token is transferred,
			thus giving this service access to A+ API with your privileges.
			If this was not intended, change access settings in django admin.
			{% endblocktrans %}
		{% else %}
			{% blocktrans %}
			For this service also API token is transferred,
			thus giving this service access to A+ API with your privileges.
			That means service can for example read your student number,
			course progress and submit solutions to exercises.
			Course staff has enabled this feature and have checked that
			the service behaves with your best interest in mind.
			{% endblocktrans %}
		{% endif %}
	</p>
	{% endif %}
	<p>
		<a href="{{ site }}" target="_blank" rel="noopener nofollow">{{ site }}</a>
	</p>
	<p>
		{% url 'privacy_policy' as policy_url %}
		{% if policy_url %}
		<a href="{% url 'privacy_policy' %}" target="_blank">A+ {% trans "Privacy Policy" %}</a>
		{% endif %}
	</p>
</div>
<div>
	<p>
		<label data-auto-accept>
			<input name="auto_accept" type="checkbox" value="1" />
			{% trans "Remember this and automatically redirect next time. The selection is saved as a cookie." %}
		</label>
	</p>
	{% random_id as iframe_name %}
	{% random_id as collapse_id %}
	<form data-ext-launch-form method="POST" action="{{ url }}"
	      target="{% if exercise %}{% if exercise.open_in_iframe %}{{ iframe_name }}{% else %}_blank{% endif %}{% else %}_self{% endif %}">
		{% for entry in parameters %}
		<input type="hidden" name="{{ entry.0 }}" value="{{ entry.1 }}" />
		{% endfor %}
		<input type="submit" value="{% blocktrans with name=service.menu_label|parse_localization %}Accept and continue to {{ name }}{% endblocktrans %}" class="btn btn-primary" />
		<a class="btn btn-default" data-toggle="collapse"
		   aria-expanded="false" aria-controls="{{ collapse_id }}"
		   href="#{{ collapse_id }}"
		   >{% trans "Show shared variables" %}</a>
	</form>
</div>
<div class="collapse" id="{{ collapse_id }}">
	<table class="card card-block">
		{% for name, value in parameters|dictsort:"0.lower" %}
		<tr>
			<th>{{ name }}</th>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
</div>

{% if exercise.open_in_iframe %}
<iframe name="{{ iframe_name }}" src="about:blank" height="500" style="width: 100%; display: none;"></iframe>
{% endif %}

</div>
