{% load i18n %}
{% load base %}
{% comment %}
  expected parameters:
    service - LinkService
	site - service front page
	brand - branding of A+
	is_course_staff
{% endcomment %}
{% if not service.sends_user_info %}
	<p>{% translate "EXTERNAL_SERVICE_NO_PERSONAL_DATA_SENT" %}</p>
{% else %}
	{% if service.is_anonymous %}
		<p>
			{% blocktranslate trimmed with brand=brand %}
				EXTERNAL_SERVICE_PSEUDONYMISED_DATA_SENT_TO_SERVICE -- {{ brand }}
			{% endblocktranslate %}
		</p>
	{% else %}
		{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}
			<p class="alert alert-warning"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
		{% else %}
			<p><span>
		{% endif %}
		{% blocktranslate trimmed %}
			EXTERNAL_SERVICE_PERSONAL_DATA_SENT_TO_SERVICE
		{% endblocktranslate %}
		{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}
			{% blocktranslate trimmed %}
				EXTERNAL_SERVICE_USE_OPTIONAL_BUT_USEFUL
			{% endblocktranslate %}
		{% endif %}
		</span></p>
	{% endif %}
	{% if service.api_access %}
		{% if is_course_staff %}
			{% if service.destination_region > service.DESTINATION_REGION.INTERNAL %}
				<p class="alert alert-{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}warning{% else %}info{% endif %}">
				<i class="glyphicon glyphicon-exclamation-sign"></i>
				<span>
			{% else %}
				<p><span>
			{% endif %}
			{% blocktranslate trimmed with brand=brand %}
				EXTERNAL_SERVICE_SENT_ACCESS_TOKEN_COURSE_STAFF -- {{ brand }}
			{% endblocktranslate %}
			</span></p>
		{% else %}
			<p class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
				{% blocktranslate trimmed with brand=brand %}
					EXTERNAL_SERVICE_SENT_ACCESS_TOKEN_STUDENT -- {{ brand }}
				{% endblocktranslate %}
			</span></p>
		{% endif %}
	{% endif %}
{% endif %}

{# Privacy information #}
{% if service.destination_region == service.DESTINATION_REGION.INTERNAL %}
	<p><span>
	{% url 'privacy_notice' as privacy_url %}
	{% blocktranslate trimmed with url=privacy_url %}
		EXTERNAL_SERVICE_PRIVACY_HOSTED_INTERNALLY -- {{ brand }}, {{ url }}
	{% endblocktranslate %}
{% elif service.destination_region == service.DESTINATION_REGION.ORGANIZATION %}
	<p><span>
	{% blocktranslate trimmed with brand=brand %}
		EXTERNAL_SERVICE_PRIVACY_HOSTED_IN_ORGANISATION -- {{ brand }}
	{% endblocktranslate %}
{% elif service.destination_region == service.DESTINATION_REGION.EEA %}
	{% if service.sends_user_info and not service.is_anonymous %}
		<p class="alert alert-info"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% blocktranslate trimmed %}
		EXTERNAL_SERVICE_PRIVACY_HOSTED_IN_EEA
	{% endblocktranslate %}
{% elif service.destination_region == service.DESTINATION_REGION.PRIVACYSHIELD %}
	{% if service.sends_user_info %}
		<p class="alert alert-{{service.is_anonymous|yesno:'info,warning' }}">
		<i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% blocktranslate trimmed %}
		EXTERNAL_SERVICE_PRIVACY_PRIVACYSHIELD
	{% endblocktranslate %}
{% else %}{# global #}
	{% if service.sends_user_info %}
		<p class="alert alert-{{service.is_anonymous|yesno:'info,warning' }}">
		<i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% translate "EXTERNAL_SERVICE_PRIVACY_GLOBAL" %}
{% endif %}
{% if service.privacy_notice_url %}
	{% blocktranslate trimmed with url=service.privacy_notice_url %}
		EXTERNAL_SERVICE_PRIVACY_NOTICE -- {{ url }}
	{% endblocktranslate %}
{% endif %}
	</span></p>

{# link to the site #}
{% if service.sends_user_info %}
	<p>
		{% blocktranslate trimmed with url=site %}
			EXTERNAL_SERVICE_LOOK_WITHOUT_SENDING_DATA -- {{ url }}
		{% endblocktranslate %}
	</p>
{% endif %}
