{% load i18n %}
{% load base %}
{% comment %}
  expected parameters:
    service - LinkService
	site - service front page
	brand - branding of A+
	is_course_staff
{% endcomment %}
{% if not service.sends_user_info %}
	<p>{% trans "No personal data is send to this service." %}</p>
{% else %}
	{% if service.is_anonymous %}
		<p>
			{% blocktrans with brand=brand %}
			Your name and email address will be pseudonymised and send to the service.
			This means that the service’s administration can not identify you, but {{brand}}'s administration can if necessary.
			{% endblocktrans %}
		</p>
	{% else %}
		{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}
			<p class="alert alert-warning"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
		{% else %}
			<p><span>
		{% endif %}
		{% blocktrans %}
		Information including your name and email address will be sent to the service.
		This means that at least the service’s administrators can identify you.
		You can see the full list of information below.
		{% endblocktrans %}
		{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}
			{% blocktrans %}
			We use this external service to help you and other students learn.
			Nevertheless, you aren't absolutely required to use it in order to pass the course.
			If you want to avoid using the service, please discuss alternative solutions with the course staff.
			{% endblocktrans %}
		{% endif %}
		</span></p>
	{% endif %}
	{% if service.api_access %}
		{% if is_course_staff %}
			{% if service.destination_region > service.DESTINATION_REGION.INTERNAL %}
				<p class="alert alert-{% if service.destination_region > service.DESTINATION_REGION.ORGANIZATION %}warning{% else %}info{% endif %}">
				<i class="glyphicon glyphicon-exclamation-sign"></i>
				<span>
			{% else %}
				<p><span>
			{% endif %}
			{% blocktrans with brand=brand %}
			Moreover, we send this service a so-called <a href="https://en.wikipedia.org/wiki/Access_token" rel="noopener nofollow" target="_blank" class="alert-link">access token</a>, which gives the service access to the {{brand}} API at your privilege level.
			If you don't want that to happen, please contact {{brand}} administration.
			{% endblocktrans %}
			</span></p>
		{% else %}
			<p class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
				{% blocktrans with brand=brand %}
				Moreover, we send this service a so-called <a href="https://en.wikipedia.org/wiki/Access_token" rel="noopener nofollow" target="_blank" class="alert-link">access token</a>, which gives the service access to the {{brand}} API at your privilege level.
				This means that the service can, for example, access your student ID number and your progress in the course, and submit solutions to assignments.
				The course staff has enabled this feature and trust the service to operate with your best interests in mind.
				{% endblocktrans %}
			</span></p>
		{% endif %}
	{% endif %}
{% endif %}

{# Privacy information #}
{% if service.destination_region == service.DESTINATION_REGION.INTERNAL %}
	<p><span>
	{% url 'privacy_notice' as privacy_url %}
	{% blocktrans with url=privacy_url %}
	This service is hosted by us ({{brand}} administrators) and thus our <a href="{{url}}" target="_blank">privacy notice</a> covers it too.
	{% endblocktrans %}
{% elif service.destination_region == service.DESTINATION_REGION.ORGANIZATION %}
	<p><span>
	{% blocktrans with brand=brand %}
	This service is hosted within our organization, but it's not maintained by us ({{brand}} administrators).
	{% endblocktrans %}
{% elif service.destination_region == service.DESTINATION_REGION.EEA %}
	{% if service.sends_user_info and not service.is_anonymous %}
		<p class="alert alert-info"><i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% blocktrans %}
	This service is hosted within the European Economics Area and is thus subject to <a href="https://ec.europa.eu/info/law/law-topic/data-protection/reform_en" rel="noopener nofollow" target="_blank" class="alert-link">the European Union's General Data Protection Regulation</a>.
	{% endblocktrans %}
{% elif service.destination_region == service.DESTINATION_REGION.PRIVACYSHIELD %}
	{% if service.sends_user_info %}
		<p class="alert alert-{{service.is_anonymous|yesno:'info,warning' }}">
		<i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% blocktrans %}
	This service is hosted outside of the European Economics Area and is thus not covered by <a href="https://ec.europa.eu/info/law/law-topic/data-protection/reform_en" rel="noopener nofollow" target="_blank" class="alert-link">the European Union's General Data Protection Regulation</a> (GDPR).
	However, the service is certified under <a href="https://www.privacyshield.gov/Individuals-in-Europe" rel="noopener nofollow" target="_blank" class="alert-link">the EU-U.S. Privacy Shield</a>, which provides similar protection as GDPR.
	{% endblocktrans %}
{% else %}{# global #}
	{% if service.sends_user_info %}
		<p class="alert alert-{{service.is_anonymous|yesno:'info,warning' }}">
		<i class="glyphicon glyphicon-exclamation-sign"></i><span>
	{% else %}
		<p><span>
	{% endif %}
	{% trans "This service is not covered by any privacy regulations, thus there isn’t any lawful entity to enforce it." %}
{% endif %}
{% if service.privacy_notice_url %}
	{% blocktrans with url=service.privacy_notice_url %}
	Please see <a href="{{ url }}" rel="noopener nofollow" target="_blank" class="alert-link">the service's privacy notice</a> for more details.
	{% endblocktrans %}
{% endif %}
	</span></p>

{# link to the site #}
{% if service.sends_user_info %}
	<p>
		{% blocktrans with url=site %}
		You can first take a look at the external service without sending data: <a href="{{url}}" rel="noopener nofollow" target="_blank">services’ front page</a>.
		{% endblocktrans %}
	</p>
{% endif %}
