{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load external_services %}

{% block edittitle %}{% translate "MENU_ITEMS" %}{% endblock %}
{% block view_tag %}edit-course,menu{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "MENU_ITEMS" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<table class="table">
	<tr>
		<th>{% translate "LINK" %}</th>
		<th>{% translate "GROUP" %}</th>
		<th>{% translate "WEIGHT" %}</th>
		<th>{% translate "SERVICE" %}</th>
		<th>{% translate "URL" %}</th>
		<th>{% translate "ACCESS" %}</th>
		<th></th>
		<th></th>
	</tr>
	{% for menu in menu_items %}
	<tr>
		<td>
			<a href="{{ menu.url }}">
				{% if menu.icon_class %}
				<i class="bi-{{ menu.icon_class }}" aria-hidden="true"></i>
				{% endif %}
				{{ menu.label }}
			</a>
		</td>
		<td>
			{{ menu.menu_group_label }}
		</td>
		<td>
			{{ menu.menu_weight }}
		</td>
		<td>
			{% if menu.service %}
			{{ menu.service.menu_label|parse_localization}}
			{% endif %}
		</td>
		<td class="long-url">
			{{ menu.final_url }}
		</td>
		<td>
			{% if not menu.enabled %}
			<span class="badge text-bg-default">{% translate "DISABLED" %}</span>
			{% endif %}
			<small class="text-body-secondary">{{ menu.access|menu_access }}</small>
		</td>
		<td>
			<a href="{{ menu|url:'external-services-edit-menu' }}" role="button" class="aplus-button--secondary aplus-button--xs">
				<i class="bi-pencil-square" aria-hidden="true"></i>
				{% translate "EDIT" %}
			</a>
		</td>
		<td>
			<form method="post" action="{{ menu|url:'external-services-remove-menu' }}">
				{% csrf_token %}
				<button type="submit" class="aplus-button--danger aplus-button--xs">
					<i class="bi-x-lg" aria-hidden="true"></i>
					{% translate "REMOVE" %}
				</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
<br />
<p>
	<a class="btn btn-primary btn-sm" href="{{ instance|url:'external-services-add-menu' }}">
		<i class="bi-plus-lg" aria-hidden="true"></i>
		{% translate "ADD_NEW_MENU_ITEM" %}
	</a>
</p>
{% endblock %}
