{% extends "course/course_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {{ service.menu_label }}{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{{ service.menu_label }}</li>
{% endblock %}

{% block coursecontent %}
<div class="alert alert-warning">
	<p>
		{% blocktrans with name=service.menu_label %}
		You are about to use an external service, {{ name }}, for the first time.
		To use the service, your name and email address will be transferred
		to the provider of this service.
		{% endblocktrans %}
	</p>
	{% if service.enable_api_access %}
	<p>
		{% blocktrans %}
		For this service also API token is transferred.
		Thus this service will have full access to A+ API with your privileges and
		could possibly do harm in you name.
		System administrator can disable this feature for this service.
		{% endblocktrans %}
	</p>
	</p>
	{% endif %}
	<p>
		<a href="{{ site }}" target="_new">{{ site }}</a>
	</p>
</div>
<div>
	<p>
		<form id="lti_login_form" method="POST" action="{{ service.url }}">
			{% for entry in parameters %}
			<input type="hidden" name="{{ entry.0 }}" value="{{ entry.1 }}" />
			{% endfor %}
			<input type="submit" value="{% blocktrans with name=service.menu_label %}Accept and continue to {{ name }}{% endblocktrans %}" class="btn btn-primary" />
			<a class="btn btn-default" data-toggle="collapse"
			   aria-expaned="false" aria-controls="shared_variables"
			   href="#shared_variables"
			   >{% trans "Show shared variables" %}</a>
		</form>
	</p>
</div>
<div class="collapse" id="shared_variables">
	<table class="card card-block">
		{% for name, value in parameters|dictsort:"0.lower" %}
		<tr>
			<th>{{ name }}</th>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function() {
	var cookieName = "aplusexse{{ service.id }}";
	var regex = new RegExp("(?:(?:^|.*;\s*)" + cookieName + "\s*\=\s*([^;]*).*$)|^.*$");
	var val = document.cookie.replace(regex, "$1");
	if (val == "1") {
		$("form")[0].submit();
	}
	$("form").on("submit", function() {
		var expire = new Date();
		expire.setFullYear(expire.getFullYear() + 1);
		var path = document.location.href.split("/");
		document.cookie = cookieName + "=1"
			+ ";path=/" + path[3] + "/" + path[4] + "/"
			+ ";expires=" + expire.toGMTString();
	});
});
</script>
{% endblock %}
