{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load django_bootstrap5 %}

{% block title %}{% translate "ADD_DEADLINE_DEVIATIONS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}deadline-deviations{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'deviations-list-dl' }}">{% translate "LIST_DEADLINE_DEVIATIONS" %}</a></li>
<li class="active">{% translate "ADD_NEW_DEADLINE_DEVIATIONS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
	<form method="post" class="card form-horizontal">
		<div class="card-body">
			{% csrf_token %}
			<legend>{% translate "ADD_DEADLINE_DEVIATIONS" %}</legend>
			{% bootstrap_form form %}
			<div class="form-group">
				<input type="hidden" id="timezone_string" name="timezone_string" value="">
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="aplus-button--default aplus-button--md">{% translate "SAVE" %}</button>
					<a href="{{ cancel_action }}" class="aplus-button--secondary aplus-button--md" role="button">{% translate "CANCEL" %}</a>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	// Get the user's timezone
	const timezoneString = Intl.DateTimeFormat().resolvedOptions().timeZone;
	// Set the hidden input field value to the timezone string
	document.getElementById('timezone_string').value = timezoneString;
</script>
{% endblock %}
