{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}

{% block edittitle %}{% translate "LIST_DEADLINE_DEVIATIONS" %}{% endblock %}
{% block view_tag %}edit-course,deviations{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "LIST_DEADLINE_DEVIATIONS" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<p>
	<a class="aplus-button--default aplus-button--xs" role="button" href="{{ instance|url:'deviations-add-dl' }}">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		{% translate "ADD_NEW_DEADLINE_DEVIATIONS" %}
	</a>
</p>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{% translate "DEADLINE_DEVIATIONS" %}</h3>
	</div>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th>{% translate "SUBMITTER" %}</th>
			<th>{% translate "EXERCISE" %}</th>
			<th>{% translate "EXTRA_MINUTES" %}</th>
			<th>{% translate "WITHOUT_LATE_PENALTY" %}</th>
			<th>{% translate "ACTIONS" %}</th>
		</tr>
		{% for deviation in deviations %}
		<tr>
			<td>{{ deviation.submitter }}</td>
			<td>{{ deviation.exercise }}</td>
			<td>{{ deviation.extra_minutes }}</td>
			<td>{{ deviation.without_late_penalty }}</td>
			<td>
				<form method="post" action="{{ deviation|url:'deviations-remove-dl' }}">
					{% csrf_token %}
					<button type="submit" class="aplus-button--danger aplus-button--xs">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						{% translate "REMOVE" %}
					</button>
				</form>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="4">{% translate "NO_DEADLINE_DEVIATIONS" %}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
