{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load django_bootstrap5 %}

{% block title %}{% translate "REMOVE_DEADLINE_DEVIATIONS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}deadline-deviations{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'deviations-list-dl' }}">{% translate "LIST_DEADLINE_DEVIATIONS" %}</a></li>
<li class="active">{% translate "REMOVE_DEADLINE_DEVIATIONS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
	<form method="post" class="card form-horizontal">
		{% csrf_token %}
		<legend>{% translate "REMOVE_DEADLINE_DEVIATIONS" %}</legend>
		{% bootstrap_form form %}
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button type="submit" class="aplus-button--default aplus-button--md">{% translate "SUBMIT" %}</button>
				<a href="{{ instance|url:'deviations-list-dl' }}" class="aplus-button--secondary aplus-button--md">{% translate "CANCEL" %}</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}
