{% extends "course/course_base.html" %}
{% load i18n %}

{% block coursecontent %}

<h2>{% trans "Teacher's view" %}</h2>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th><h3>{% trans "Exercise categories" %}</h3></th>
        </tr>
    </thead>
    <tbody>
    {% for category in instance.categories.all %}
        <tr>
            <th>
                <strong>{{ category.name }}</strong>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>
    <a href="/admin/exercise/learningobjectcategory/"
       class="btn btn-primary btn-mini">
        <i class="icon-edit icon-white"></i> {% trans "Edit categories" %}
    </a> ({% trans "You need to be a superuser" %})
</p>


<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th colspan="2"><h3>{% trans "Course modules" %}</h3></th>
        </tr>
    </thead>
    <tbody>

    {% for module in instance.course_modules.all %}
        <tr>
            <th><strong>{{ module }}</strong></th>
            <td>
                <a class="btn btn-mini" href="{% url 'module-edit' course_url=course.url instance_url=instance.url module_id=module.id %}">
                    <i class="icon-edit"></i> {% trans "Edit module" %}
                </a>
                {% if module.learning_objects.count == 0 %}
                <a class="btn btn-mini" href="{% url 'module-remove' course_url=course.url instance_url=instance.url module_id=module.id %}">
                	<i class="icon-remove"></i> {% trans "Remove" %}
                </a>
                {% endif %}
            </td>

        </tr>
        {% for object in module.chapters.all %}
        <tr>
            <td>
                {{ object }}
            </td>
            <td>
                <a class="btn btn-mini" href="{% url 'chapter-edit' course_url=course.url instance_url=instance.url chapter_id=object.id %}">
                    <i class="icon-edit"></i> {% trans "Edit" %}
                </a>
                <a class="btn btn-mini" href="{% url 'chapter-remove' course_url=course.url instance_url=instance.url chapter_id=object.id %}">
                    <i class="icon-remove"></i> {% trans "Remove" %}
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <a class="btn btn-mini btn-primary" href="{% url 'chapter-add' course_url=course.url instance_url=instance.url module_id=module.id %}">
                    {% trans "Add new chapter" %}
                </a>
            </td>
        </tr>
        {% for object in module.learning_objects.all %}
        <tr>
            <td>
                {{ object }}
            </td>
            <td>
                <a class="btn btn-mini" href="{% url 'exercise-edit' course_url=course.url instance_url=instance.url exercise_id=object.id %}">
                    <i class="icon-edit"></i> {% trans "Edit" %}
                </a>
                <a class="btn btn-mini" href="{% url 'exercise-remove' course_url=course.url instance_url=instance.url exercise_id=object.id %}">
                    <i class="icon-remove"></i> {% trans "Remove" %}
                </a>
                <a class="btn btn-mini btn-link" href="{% url 'submission-list' course_url=course.url instance_url=instance.url exercise_id=object.id %}">
                	{% trans "View submissions" %}
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div class="btn-group">
                    <a class="btn btn-mini btn-success" href="{% url 'exercise-add' course_url=course.url instance_url=instance.url module_id=module.id %}">
                        {% trans "Add new exercise" %}
                    </a>
                    <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="" href="{% url 'exercise-add' course_url=course.url instance_url=instance.url module_id=module.id %}">
                             {% trans "Add exercise" %}
                        </a></li>
                        <li><a href="{% url 'exercise-add-type' course_url=course.url instance_url=instance.url module_id=module.id exercise_type='exercise_with_attachment' %}">
                            {% trans "Add exercise with attachment" %}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary btn-mini" href="{% url 'module-add' course_url=course.url instance_url=instance.url %}">
    <i class="icon-plus-sign icon-white"></i> {% trans "Add new module" %}
</a>


<h3>{% trans "Deadline Rule Deviations" %}</h3>
<p>{% trans "Add or view personalized deadlines for students for exercises." %}</p>
<a class="btn btn-primary btn-mini" href="{% url 'deviations-add-dl' course_url=course.url instance_url=instance.url %}">
    <i class="icon-plus-sign icon-white"></i> {% trans "Add Deadline Deviations" %}
</a>
<a class="btn btn-primary btn-mini" href="{% url 'deviations-list-dl' course_url=course.url instance_url=instance.url %}">
    <i class="icon-list-alt icon-white"></i> {% trans "List Deadline Deviations" %}
</a>

<div class="col-sm-10">

	{% blocktrans %}
	<h3>Batch Create and Assess Submissions</h3>
	<p><em>Use only if you know what you are doing!</em></p>
	<p>By submitting json to the form below you can try to create and assess multiple exercises for students automatically.</p>
	<div>
		<p>XXXXX1 and XXXXX2 are the real student ids</p>
		<p>X1 (integer) is the A+ userprofile id of the desired grader</p>
		<p>Z1 and Z2 (integers) are A+ exercise ids</p>

		<pre>{
  "objects": [
    {
      "students_by_student_id": [
        "XXXXX1"
      ],
      "feedback": "Nicely solved exercise!",
      "grader": X1,
      "exercise_id": Z1,
      "submission_time": "2014-09-24 11:50",
      "points": 100
    },
    {
      "students_by_student_id": [
        "XXXXX2"
      ],
      "feedback": "You can do better!",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 20
    }
  ]
}
		</pre>
	</div>
   {% endblocktrans %}

</div>
<form method="post" action="{% url 'batch-assess' course_url=course.url instance_url=instance.url %}">
	{% csrf_token %}
    <textarea name="submissions_json"></textarea>
    <button type="submit" class="btn">{% trans "Submit" %}</button>
</form>

{% endblock %}
