{% extends "course/course_base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Confirm removing module" %}</h1>

<div class="alert alert-danger">
	{% blocktrans with name=module.name %}
    You are removing module <b>{{name}}</b>.
    Only modules without exercises can be removed.
    {% endblocktrans %}
</div>

{% if exercise_count > 0 %}
<div class="alert alert-danger">
	{% blocktrans with count=exercise_count %}
	This module has {{count}} exercises and cannot be removed.
	{% endblocktrans %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% trans 'Remove' %}" />
    <a class="btn btn-primary" href="{% url 'course-edit' course_url=course.url instance_url=instance.url %}">
    	{% trans "Cancel" %}
    </a>
</form>
{% endblock %}
