{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}

{% block content %}
<h2>
	{% blocktrans with model=model_name %}
	Confirm {{ model }} removal
	{% endblocktrans %}
</h2>
<div class="alert alert-danger">
	{% if empty %}
		{% blocktrans with model=model_name name=object %}
	    You are removing {{ model }} <strong>{{ name }}</strong>.
		Are you sure?
		{% endblocktrans %}

		{% if model == "exercise" %}
		<h3>
			{% blocktrans %}
		    If you remove this exercise, all the submissions
			to the exercise will also be removed.
			{% endblocktrans %}
		</h3>
		{% endif %}
	{% else %}
		{% blocktrans with model=model_name name=object %}
		The {{ model }} <strong>{{ name }}</strong> is not empty.
		Contained exercises must be removed first.
		{% endblocktrans %}
	{% endif %}
</div>

<form method="post">
    {% csrf_token %}
	{% if empty %}
    <input class="btn btn-danger" type="submit" value="{% trans 'Remove' %}" />
	{% endif %}
    <a class="btn btn-primary" href="{{ instance|url:'course-edit' }}">
    	{% trans "Cancel" %}
    </a>
</form>
{% endblock %}
