{% extends "course/course_base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Confirm removing chapter" %}</h1>

<div class="alert alert-danger">
	{% blocktrans with name=chapter.name %}
    You are removing chapter <b>{{ name }}</b>. Are you sure?
    {% endblocktrans %}
</div>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% trans 'Remove' %}" />
    <a class="btn btn-primary" href="{% url 'course-edit' course_url=course.url instance_url=instance.url %}">
    	{% trans "Cancel" %}
    </a>
</form>
{% endblock %}
