{% extends "base.html" %}
{% load sanitizer %}
{% load i18n %}

{% block breadcrumb %}
{% endblock %}


{% block mainmenu %}
{% endblock %}

{%block pagetitle %}
{% endblock %}

{% block content %}
<div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto;">
    <div class="modal-header">
        <h3>{% trans "Authorization request" %}</h3>
    </div>
    <div class="modal-body">
        <p>
        {% blocktrans with service_name=token.consumer.name %}
            Do you wish to authorize the service <strong>{{ service_name }}</strong> access to
            A+ on your behalf?
        {% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <form method="post">
            {% csrf_token %}
            <div style="display: none;">{{ form.as_p }}</div>
            <input type="submit" value="{% trans "Allow" %}" class="btn btn-success" />
            <a href="/" class="btn danger">{% trans "Deny" %}</a>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
