{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load static %}
{% load bootstrap %}

{% block title %}{% trans "Exam management" %} | {{ block.super }}{% endblock %}
{% block view_tag %}Exam management{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'exam-management' }}">{% trans "Exam management" %}</a></li>
<li class="active">{% trans "Edit exam" %}</li>
{% endblock %}

{% block columns %}

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="content-divider-exam-session">{% trans "Edit exam" %}</div>
	<div class="field-wrapper-exam-session">
		{{ form.name.errors }}
		{{ form.name.label_tag}}
		{{ form.name }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.exam_module.errors }}
		{{ form.exam_module.label_tag}}
		{{ form.exam_module }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.room.errors }}
		{{ form.room.label_tag}}
		{{ form.room }}
	</div>
	<input class="btn btn-primary" name="add" type="submit" value="Submit" />
	<a href="{{ instance|url:'exam-management' }}" role="button" class="btn btn-default">
		{% trans "Cancel" %}
	</a>
</form>

{% endblock %}
