{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load static %}

{% block title %}{% trans "Exam management" %} | {{ block.super }}{% endblock %}
{% block view_tag %}Exam management{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Edit exam" %}</li>
{% endblock %}

{% block columns %}

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="content-divider-exam-session">Content</div>
	<div class="field-wrapper-exam-session">
		{{ form.exam_module.errors }}
		{{ form.exam_module.label_tag}}
		{{ form.exam_module }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.room.errors }}
		{{ form.room.label_tag}}
		{{ form.room }}
	</div>
	<input class="btn btn-primary" name="add" type="submit" value="Submit" />
</form>

{% endblock %}
