{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load static %}

{% block title %}{% trans "Exam management" %} | {{ block.super }}{% endblock %}
{% block view_tag %}Exam management{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Exam management" %}</li>
{% endblock %}

{% block columns %}

<h3>Add new exam session</h3>

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="content-divider-exam-session">Content</div>
	<div class="field-wrapper-exam-session">
		{{ form.course_instance.errors }}
		{{ form.course_instance.label_tag}}
		{{ form.course_instance }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.exam_module.errors }}
		{{ form.exam_module.label_tag}}
		{{ form.exam_module }}
	</div>
	<hr>
	<div class="content-divider-exam-session">Schedule</div>
	<div class="field-wrapper-exam-session">
		{{ form.can_start.errors }}
		{{ form.can_start.label_tag}}
		{{ form.can_start }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.duration.errors }}
		{{ form.duration.label_tag}}
		{{ form.duration }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.room.errors }}
		{{ form.room.label_tag}}
		{{ form.room }}
	</div>
	<hr>
	<div class="content-divider-exam-session">Visibility</div>
	<input class="btn btn-primary" name="add" type="submit" value="Submit" />
</form>

<br style="line-height: 5;">

<ul class="list-group">
	{% for exam_session in exam_sessions %}
	<li class="list-group-item">
		{{exam_session.course_instance.course}}
		{{exam_session.can_start}}
		<a class="btn btn-warning" href="{% url 'edit-exam-session' course_slug=course.url instance_slug=instance.url pk=exam_session.id %}">
			Edit
		</a>
		<a class="btn btn-danger" href="{% url 'delete-exam-session' course_slug=course.url instance_slug=instance.url pk=exam_session.id %}">
			Delete
		</a>
		<a class="btn btn-info" href="">
			Grading
		</a>
		<a class="btn btn-info" href="">
			Link to this exam
		</a>
	</li>
	{% endfor %}
</ul>

{% endblock %}