{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load static %}

{% block title %}{% trans "Exam management" %} | {{ block.super }}{% endblock %}
{% block view_tag %}Exam management{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Exam management" %}</li>
{% endblock %}

{% block columns %}

<h3>Add new exam session</h3>

<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="field-wrapper-exam-session">
		{{ form.course_instance.errors }}
		{{ form.course_instance }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.name.errors }}
		{{ form.name.label_tag}}
		{{ form.name }}
	<div class="field-wrapper-exam-session">
		{{ form.exam_module.errors }}
		{{ form.exam_module.label_tag}}
		{{ form.exam_module }}
	</div>
	<div class="field-wrapper-exam-session">
		{{ form.room.errors }}
		{{ form.room.label_tag}}
		{{ form.room }}
	</div>
	<input class="btn btn-primary" name="add" type="submit" value="Add" />
</form>

<h3>List of active exams:</h3>
{% if exam_sessions %}
<ul class="list-group">
	{% for exam_session in exam_sessions %}
	<li class="list-group-item">
		{{exam_session.name}}, Module: {{exam_session.exam_module}}, Room: {{exam_session.room}}
		<a class="btn btn-warning" href="{% url 'edit-exam-session' course_slug=course.url instance_slug=instance.url pk=exam_session.id %}">
			Edit
		</a>
		<a class="btn btn-danger" href="{% url 'delete-exam-session' course_slug=course.url instance_slug=instance.url pk=exam_session.id %}">
			Delete
		</a>
		<a class="btn btn-info" href="">
			Grading
		</a>
		<a class="btn btn-info" href="">
			Link to this exam
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
No active exams.
{% endif %}
{% endblock %}
