{% extends "base.html" %}
{% load i18n %}

{% block maintitle %}
<h1>A+ <small>e-oppimisjärjestelmä</small></h1>
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}

<div class="row">
    <div class="span6" style="text-align: justify">
        <p>
            A+ on ohjelmoinnin opetukseen suunnattu www-pohjainen oppimisalusta, joka hyödyntää 
            palveluorientoitunutta toimintamallia. Palveluorientoituneisuuden ansiosta 
            opiskelijoille voidaan tarjota useista eri lähteistä tuotuja interaktiivisia 
            harjoitustehtäviä sekä muita oppimisen tueksi tarjottavia palveluita yhden 
            käyttöliittymän kautta. Sisällön tuominen saman katon alle mahdollistaa monipuolisten 
            harjoitusten tarjoamisen kurssilla, samalla helpottaen opiskelijoiden oppimistyötä ja 
            pienentäen ylläpitoon liittyvää työmäärää.
        </p>
        <p>
            A+ tarjoaa sekä opiskelijoille että kurssihenkilökunnalle intuitiiviset näkymät 
            kurssin edistymisen sekä tulosten seurantaan. Järjestelmään on liitettävissä erilaisia 
            kolmansien osapuolten tarjoamia palveluita, kuten keskustelupalstoja, uutisvirtoja,
            oppimateriaalia, videoita ja niin edelleen. Kuhunkin harjoitustehtävään on esimerkiksi
            mahdollista liittää kysymyksiä ja vastauksia -palsta, jonka avulla opiskelijat voivat
            saada tukea opiskeluun sekä kurssihenkilökunnalta että muilta opiskelijoilta. 
            Järjestelmään kirjautuminen onnistuu käyttäen ulkoisia tunnistautumispalveluita, 
            kuten suomalaisissa yliopistoissa yleisesti käytettyä Shibboleth-järjestelmää.
        </p>
        <p>
            Verkkokäyttöliittymänsä lisäksi A+ tarjoaa ohjelmointirajapintoja ulkopuolisille 
            järjestelmille, joiden avulla sisältö ei ole ainoastaan A+:n käytettävissä, vaan sitä 
            voidaan hyödyntää myös muissa oppilaitoksen järjestelmissä. Rajapintojen avulla 
            A+:aa voidaan laajentaa uusilla palveluilla ilman muutoksia itse järjestelmän 
            ytimen toteutukseen.
        </p>
        <p>
            A+:aa kehitetään Aalto-yliopiston ohjelmistotekniikan laboratoriossa, ja se on tarkoitus
            ottaa käyttöön kevään 2012 lopussa. Ensimmäisessä versiossa A+:n kautta on 
            mahdollista hyödyntää <a href="https://greengoblin.cs.hut.fi/">Goblin</a>-, 
            <a href="https://trakla.cs.hut.fi/">TRAKLA2</a>-, 
            <a href="http://www.uuhistle.org/index.php">UUhistle</a>- sekä 
            <a href="https://rubyric.cs.hut.fi/">Rubyric</a> -järjestelmien 
            harjoitustehtäviä sekä <a href="https://noppa.aalto.fi/noppa/app">Noppa</a>-palvelun 
            kurssitiedotteita.
        </p>
        <address>
            Lisätietoa A+:sta antaa<br />
            <strong>Teemu Koskinen</strong><br />
            teemu.a.koskinen at aalto.fi
        </address>
    </div>
    <div class="span6">
        <img src="{{ STATIC_URL }}images/userinterface.png" />
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
