{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load news %}

{% block edittitle %}{% translate "NEWS" %}{% endblock %}
{% block view_tag %}edit-news{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "EDIT_NEWS" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<table class="table">
	<tr>
		<th>{% translate "SELECT" %}</th>
		<th>{% translate "PUBLISH" %}</th>
		<th>{% translate "AUDIENCE" %}</th>
		<th>{% translate "TITLE" %}</th>
		<th>{% translate "LANGUAGE" %}</th>
		<th></th>
		<th></th>
	</tr>
	<form method="post" action="{{ instance|url:'remove-selected-news' }}">
	{% for item in news %}
	<tr>
		<td id={{item.id}}>
			<input type="checkbox" name="selection" value="{{item.id}}">
		</td>

		<td>
			{% if item.pin %}
			<i class="bi-pushpin" aria-hidden="true"></i>
			{% endif %}
			{{ item.publish }}
		</td>
		<td>
			{{ item.audience|news_audience }}
		</td>
		<td>
			{{ item.title|safe }}
		</td>
		<td>
			{{ item.language|safe }}
		</td>

		<td>
			<a href="{{ item|url:'news-edit' }}" role="button" class="aplus-button--secondary aplus-button--xs">
				<i class="bi-pencil-square" aria-hidden="true"></i>
				{% translate "EDIT" %}
			</a>
		</td>
		<td>
			<button id="remove-btn-{{item.id}}" role="button" class="aplus-button--danger aplus-button--xs" value="{{item.id}}">
				<i class="bi-x-lg" aria-hidden="true"></i>
				{% translate "REMOVE" %}
			</button>
		</td>
	</tr>
	{% endfor %}
	{% csrf_token %}
	<button type="submit" class="aplus-button--danger aplus-button--sm">
		<i class="bi-x-lg" aria-hidden="true"></i>
		{% translate "REMOVE_SELECTED_NEWS_ITEMS" %}
	</button>
	</form>


</table>
<br />
<p>
	<a class="aplus-button--default aplus-button--sm" href="{{ instance|url:'news-add' }}">
		<i class="bi-plus-lg" aria-hidden="true"></i>
		{% translate "ADD_NEWS_ITEM" %}
	</a>
</p>

<script>
window.addEventListener('DOMContentLoaded', function() {
	const removeBtns = document.querySelectorAll("[id^='remove-btn']");

	for (let i = 0; i < removeBtns.length; i++) {
		removeBtns[i].addEventListener('click', function(event) {
			event.preventDefault();

			const currentUrl = window.location.href;
			const newsId = this.getAttribute('value');

			fetch(currentUrl + newsId + '/remove/', {
				method: 'POST',
				headers: {
					'X-CSRFToken': '{{ csrf_token }}',
				},
			})
			.then((response) => {
				window.location = currentUrl;
			});
		});
	}
});
</script>

{% endblock %}
