{% load i18n %}
<form enctype="multipart/form-data" method="post" class="form-stacked">
  <fieldset>
    <legend>{% translate "SUBMIT" %}</legend>
    {% for file in files %}
    <div class="form-group">
      <label>{{ file }}</label>
      <input type="hidden" name="file_{{ forloop.counter }}" value="{{ file }}" />
      <div class='input'><input name='content_{{ forloop.counter }}' type='file' /></div>
    </div>
    {% endfor %}
  </fieldset>
  <div class="form-group">
    <input class="aplus-button--default aplus-button--md aplus-submit" type="submit" value="{% translate 'SUBMIT' %}" />
  </div>
</form>
