{% load i18n %}

<ul class="nav nav-tabs">
    <li>
        <a href="{{ exercise.get_absolute_url }}">
            {% trans "Exercise description" %}
        </a>
    </li>
    <li class="dropdown"><a class="dropdown-toggle"
        data-toggle="dropdown"
        href="#">{% trans "My submissions" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% for submission in submissions %}
            <li>
                <a href="{{ submission.get_absolute_url }}">
                    {{ forloop.counter }}.
                    {{ submission.submission_time|date }}.
                    {% if submission.is_graded %}
                        {{ submission.grade }} / {{ exercise.max_points }}
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <li>
                <a href="#">{% trans "No submissions yet" %}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
