{% load i18n %}

<h3>{% trans "Submission info" %}</h3>
<dl>
    <dt>
        {% trans "Exercise" %}
    </dt>
    <dd>
        <a href="{{ submission.exercise.get_absolute_url }}">{{ submission.exercise.name }}</a>
    </dd>
    
    <dt>
        {% trans "Status" %}
    </dt>
    <dd>
        <span class="label{% if submission.is_graded %} success{% endif %}">
            {{ submission.status }}
        </span>
    </dd>
    
    <dt>
        {% trans "Submitted on" %}
    </dt>
    <dd>
        {{ submission.submission_time }}
    </dd>
    
    <dt>
        {% trans "Grade" %}
    </dt>
    <dd>
        {{ submission.grade }} / {{ submission.exercise.max_points }}
    </dd>
    
    {% if submission.exercise.max_points != submission.service_max_points %}
        <dt>
            {% trans "Non-scaled grading" %}
        </dt>
        <dd>
            {{ submission.service_points }} / {{ submission.service_max_points }}
        </dd>
    {% endif %}
    
    {% comment %}
    <!-- groups are not active, so only one submitter is possible. -->
    TODO: group functionality
    <dt>
        {% trans "Submitters" %}
    </dt>
    <dd>
        {% for submitter in submission.submitters.all %}
            <a href="#" data-placement="below" rel="tooltip" title="{{ submitter.shortname }}">
                <img src="{{ submitter.avatar_url }}&s=48" alt="avatar" />
            </a>
        {% endfor %}
    </dd>
    {% endcomment %}
</ul>