{% load i18n %}

{% if submissions %}
<h3>{% trans "Your submissions" %} {% if exercise.max_submissions %} <small>{{ submissions.count }}/{{ exercise.max_submissions }}</small>{% endif %}</h3>

<ul id="submission_list" class="unstyled">
    {% for submission in submissions %}
        <li>
            {% if submission.is_graded %}
                <i class="icon-ok"></i>
            {% else %}
                <i class="icon-time"></i>
            {% endif %}
            <a href="{{ submission.get_absolute_url }}">
                {{ forloop.counter }}.
                {{ submission.submission_time|date }}
            </a>
            {% if submission.is_graded %}
                {{ submission.grade }} / {{ exercise.max_points }}
            {% endif %}
        </li>
    {% endfor %}
</ol>
{% endif %}
