{% extends "exercise/exercise_base.html" %}
{% load sanitizer %}
{% load i18n %}


{% block exercisecontent %}
    {% if submission.files.all %}
        <h3>{% trans "Files in this submission" %}</h3>
        <ul class="unstyled">
            {% for file in submission.files.all %}
                <li><i class="icon-file"></i>
                    <a href="{{ file.get_absolute_url }}">{{ file.filename }}</a> ({{ file.file_object.size|filesizeformat }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if submission.feedback %}
        {{ submission.feedback|sanitize }}
    {% else %}
        <div class="alert alert-info">
            {% trans "No verbal feedback available for this submission." %}
        </div>
    {% endif %}

{% endblock %}

{% block exerciseinfo %}
    {{block.super}}
    {% include 'exercise/_submission_info.html' %}

    {% for plugin in plugins %}
        {{ plugin.render|safe }}
    {% endfor %}
{% endblock %}
