{% load i18n %}
{% load course %}
{% load exercise %}

{% comment "Disabled as course total points/grade calculation is unknown." %}
{% if categories|length > 1 %}
<div class="well">
    <p>{% translate "TOTAL_POINTS" %}</p>
    <p><strong class="h2">
    	{{ course.points }}
    	<small>/ {{ course.max_points }}</small>
    </strong></p>
    {% points_progress course %}
</div>
{% endif %}
{% endcomment %}

{% for entry in categories %}
{% if entry|is_visible and entry.max_points > 0 %}
<div class="well">
    <p>{{ entry.name|parse_localization }}</p>
    <p><strong class="h2">
    	{{ entry.points }}
    	<small>/ {{ entry.max_points }}</small>
    </strong></p>
    {% points_progress entry %}
</div>
{% endif %}
{% endfor %}
