{% load i18n %}
{% load course %}
{% load exercise %}
{% for entry in children %}
	{% if entry.type == 'level' %}
		{% if entry.down %}
			<ul class="toc">
		{% elif entry.up %}
			</ul>
		{% endif %}
	{% elif entry.is_listed %}
		<li>
		{% if accessible and not entry.submittable and entry.is_revealed or exercise_accessible and entry.is_revealed %}
			{% if entry.is_empty %}
				{{ entry.name|parse_localization }}
			{% else %}
				<a href="{{ entry.link }}">{{ entry.name|parse_localization }}</a>
				{% if module_specific %}
					{% check_exercise_deadline_extensions entry.children entry.name module_specific %}
				{% else %}
					{% check_exercise_deadline_extensions children entry.name %}
				{% endif %}
			{% endif %}
			{% if entry.submission_count %}
				{% points_badge entry %}
			{% endif %}
		{% else %}
			{{ entry.name|parse_localization }}
			{% if is_course_staff %}
				<a href="{{ entry.link }}">
					<i class="bi-lock" aria-hidden="true"></i>
					{% translate "EARLY_ACCESS" %}
				</a>
			{% endif %}
		{% endif %}
		</li>
	{% endif %}
{% endfor %}
