{% load i18n %}
{% load course %}

{% with next=exercise.next previous=exercise.previous %}
{% include "course/_siblings.html" %}
{% endwith %}

<ol class="breadcrumb">
    <li><a href="{{ instance|url }}">{% trans "Home" %}</a></li>
    <li><a href="{{ module|url }}">{{ module }}</a></li>
    <li class="active">
        {{ exercise }}
    </li>
</ol>

<ul class="nav nav-tabs">
    <li class="menu-exercise">
        <a href="{{ exercise|url }}">
            {% trans "Exercise description" %}
        </a>
    </li>
    <li class="dropdown menu-submission">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
    		{% trans "My submissions" %}
    		<span class="caret"></span>
    	</a>
        <ul class="dropdown-menu">
        	{% for submission in submissions %}
            <li>
                <a href="{{ submission|url }}">
                    {{ forloop.revcounter }}.
                    {{ submission.submission_time }}
                    {% if submission.is_graded %}
                    {{ submission.grade }} / {{ exercise.max_points }}
                    {% endif %}
                </a>
            </li>
        	{% empty %}
            <li>
                <a href="#">{% trans "No submissions yet" %}</a>
            </li>
        	{% endfor %}
        </ul>
    </li>
    {% if is_course_staff %}
    <li>
        <p class="navbar-text navbar-btn">
            {% if submission %}
            <a href="{{ submission|url:'submission-inspect' }}" class="btn btn-default btn-xs">
                {% trans "Inspect" %}
            </a>
            {% endif %}
        	<a href="{{ exercise|url:'submission-list' }}" class="btn btn-default btn-xs">
    			{% trans "View all submissions" %}
    		</a>
        </p>
	</li>
	{% endif %}
</ul>
