{% load i18n %}
{% load course %}
{% load exercise %}

<div class="well">
    {% if exercise.category.confirm_the_level %}
    <p>{% translate "CURRENT_STATUS" %}</p>
    <p class="exercise-info-points">
      {% points_badge summary %}
    </p>
    {% else %}
    <p>{% translate "EARNED_POINTS" %}</p>
    <p><strong class="h2 exercise-info-points">
        {{ summary.get_points }}
        <small>
            / {{ exercise.max_points }}
            {% if summary.get_penalty %}
            <span class="badge">
                {% translate "LATE" %} -{{ summary.get_penalty|percent }} %
            </span>
            {% endif %}
        </small>
    </strong></p>
    {% points_progress summary %}
    {% endif %}
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">{% translate "EXERCISE_INFO" %}</h4>
    </div>
    <div class="panel-body">
        <dl>
            {% if exercise.category.status != "hidden" %}
              <dt>{% translate "EXERCISE_CATEGORY" %}</dt>
              <dd class="exercise-info-category">
              	{{ exercise.category|parse_localization }}
              </dd>
            {% endif %}
            <dt>{% translate "YOUR_SUBMISSIONS" %}</dt>
            <dd class="exercise-info-submissions">
            	{{ summary.get_submission_count }}
            	{% if exercise.max_submissions %}
            	/ {{ exercise|max_submissions:profile }}
            	{% endif %}
            </dd>

            {% if exercise.points_to_pass > 0 %}
            <dt>{% translate "POINTS_REQUIRED_TO_PASS" %}</dt>
            <dd class="exercise-info-required-points">{{ exercise.points_to_pass }}</dd>
            {% endif %}

            <dt>{% translate "DEADLINE" %}</dt>
            <dd class="exercise-info-deadline">{{ exercise.course_module.closing_time }}</dd>

            {% if exercise.course_module.late_submissions_allowed %}
            <dt>{% translate "LATE_SUBMISSION_DEADLINE" %}</dt>
            <dd class="exercise-info-late-deadline">
              {{ exercise.course_module.late_submission_deadline }}
              {% if module.late_submission_penalty > 0 %}
                (-{{ exercise.course_module.late_submission_penalty|percent }}%)
              {% endif %}
            </dd>
            {% endif %}

            {% if exercise.max_group_size > 1 %}
            <dt>{% translate "GROUP_SIZE" %}</dt>
            <dd class="exercise-info-group">{{ exercise.min_group_size }}{% if exercise.max_group_size > exercise.min_group_size %}-{{ exercise.max_group_size }}{% endif %}</dd>
            {% endif %}

            <dt>{% translate "TOTAL_NUMBER_OF_SUBMITTERS" %}</dt>
            <dd class="exercise-info-submitters">{{ exercise.get_total_submitter_count }}</dd>

        </dl>
    </div>
</div>
