{% load i18n %}
{% load course %}

<ul class="nav nav-tabs">
    <li class="menu-exercise">
        <a href="{{ exercise|url }}">
            {% trans "Exercise description" %}
        </a>
    </li>
    <li class="dropdown menu-submission">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
    		{% trans "My submissions" %}
    		<span class="caret"></span>
    	</a>
        <ul class="dropdown-menu">
        	{% for submission in submissions %}
            <li>
                <a href="{{ submission|url }}">
                    {{ forloop.revcounter }}.
                    {{ submission.submission_time }}
                    {% if submission.is_graded %}
                    {{ submission.grade }} / {{ exercise.max_points }}
                    {% endif %}
                </a>
            </li>
        	{% empty %}
            <li>
                <a href="#">{% trans "No submissions yet" %}</a>
            </li>
        	{% endfor %}
        </ul>
    </li>
    {% if is_teacher or is_assistant %}
    <li class="menu-all-submissions">
    	<a class="staff" href="{{ exercise|url:'submission-list' }}">
			{% trans "View all submissions" %}
		</a>
	</li>
	{% endif %}
</ul>
