{% load i18n %}
{% load exercise %}

<h3>{% trans "Exercise info" %}</h3>
<dl>
    <!--<dt>{% trans "Deadline" %}</dt>
    <dd>{{ exercise.course_module.closing_time }}</dd>
    
    <dt>{% trans "Maximum points" %}</dt>
    <dd>{{ exercise.max_points }}</dd>
    
    <dt>{% trans "Points to pass" %}</dt>
    <dd>{{ exercise.points_to_pass }}</dd>-->
    
    {% if exercise.max_submissions %}
    <dt>{% trans "Allowed submissions" %}</dt>
    <dd>{{ exercise|max_submissions:profile }}</dd>
    {% endif %}
    
    <!--<dt>{% trans "Maximum group size" %}</dt>
    <dd>{{ exercise.max_group_size }}</dd>-->
</dl>

<div class="well my-score-box">
    <h2>{{ exercise_summary.get_points }} <small>/ {{ exercise.max_points }}</small></h2>
    <div class="progress {% if exercise_summary.is_passed %}progress-success{% else %}progress-danger{% endif %} progress-striped" style="position:relative">
        <div class="bar" rel="tooltip" style="width:{{ exercise_summary.get_completed_percentage }}%;"
        	data-placement="below" title="{% trans 'Your points' %}: {{ exercise_summary.get_points }}">
        </div>

        <a class="score-barrier required-score" rel="tooltip" style="left:{{ exercise.get_percentage_to_pass }}%" href="#"
			data-placement="bottom" title="{% trans 'Points required to pass' %}: {{ exercise.points_to_pass }}">
		</a>

		{% comment "Disabled: If average is required implement more efficient query for it." %}
        <a class="score-barrier course-average" rel="tooltip" style="left:{{ exercise.todo }}%" href="#"
			data-placement="bottom" title="{% trans 'Course average' %}: {{ exercise.todo|floatformat:2 }}"></a>
		{% endcomment %}
    </div>
</div>

<dl>
    <dt>{% trans "Number of submitters" %}</dt>
    <dd>{{ exercise.get_total_submitter_count }}</dd>

	{% comment "Disabled: If average is required implement more efficient query for it." %}
    <dt>{% trans "Average submissions per student" %}</dt>
    <dd>{{ exercise.todo|floatformat:2 }}</dd>
    {% endcomment %}
</dl>
