{% load i18n %}
{% block exercisecontent %}

    {# Content goes here #}
    <h3 class="ec-title">{{ exercisecollection_data.title }}:</h3>
    <ul style="list-style-type: disc">
    {% for exercise_data in exercisecollection_data.exercises %}
        <li class="ec-list">
            <a href={{ exercise_data.url }} >
                {{ exercise_data.title }}
            </a>
            <ul style="list-style-type: none">
                <li>
                    <p style="font-weight: bold;font-style: italic">
                    {% translate "CURRENT_SCORE" %}: {{ exercise_data.user_points }}
                    / {{ exercise_data.max_points }}
                    </p>
                </li>
            </ul>
        </li>
      {% endfor %}
    </ul>

    <p style="font-weight: bold;font-style: italic">
      {% translate "TOTAL_SCORE" %}: {{exercisecollection_data.user_total_points}}
      / {{exercisecollection_data.target_max_points}}
    </p>
    <p style="font-weight: bold;font-style: italic">
      {% translate "SCORE_ON_THIS_COURSE"%}: {{exercisecollection_data.ec_points}}
      / {{exercisecollection_data.ec_max_points}}
    </p>

{% endblock %}
