{% load i18n %}

<ul class="nav nav-tabs">
    <li>
        <a href="{{ exercise.get_absolute_url }}">
            {% trans "Exercise description" %}
        </a>
    </li>
    <li class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    		{% trans "My submissions" %}
    		<b class="caret"></b>
    	</a>
        <ul class="dropdown-menu">
        	{% for submission in submissions %}
            <li>
                <a href="{{ submission.get_absolute_url }}">
                    {{ forloop.revcounter }}.
                    {{ submission.submission_time }}.
                    {% if submission.is_graded %}
                    {{ submission.grade }} / {{ exercise.max_points }}
                    {% endif %}
                </a>
            </li>
        	{% empty %}
            <li>
                <a href="#">{% trans "No submissions yet" %}</a>
            </li>
        	{% endfor %}
        </ul>
    </li>
    {% if is_teacher or is_assistant %}
    <li>
    	<a class="staff" href="{% url 'exercise.staff_views.list_exercise_submissions' course_url=course.url instance_url=instance.url exercise_id=exercise.id %}">
			All submissions
		</a>
	</li>
	{% endif %}
</ul>
