{% load i18n %}
{% load course %}
{% load exercise %}
{% load static %}

<div class="card">
	<div class="card-header bg-primary">
		<h4 class="panel-title">{% translate "SUBMISSION_INFO" %}</h4>
	</div>
	<div class="panel-body">
		<dl>
			<dt>{% translate "SUBMITTED_ON" %}</dt>
			<dd>{{ submission.submission_time|date:'DATETIME_SECONDS_FORMAT' }}</dd>

			<dt>{% translate "STATUS" %}</dt>
			<dd>
				<span class="badge text-bg-{% if submission.is_graded %}success{% else %}default{% endif %}">
					{{ submission.status|submission_status }}
				</span>
			</dd>

			<dt>{% translate "GRADE" %}</dt>
			<dd>
				{% format_points submission.grade feedback_revealed False %} / {{ exercise.max_points }}
			</dd>

			{% if submission.late_penalty_applied %}
			<dt>{% translate "INCLUDES_LATE_PENALTY" %}</dt>
			<dd>-{{ submission.late_penalty_applied|percent }} %</dd>
			{% endif %}

			<dt>
				{% translate "SUBMITTERS" %}
			</dt>
			<dd>
			  {% if not pseudonymize %}
				  {% if is_course_staff %}
					  {% if is_teacher %}
					  <script src="{% static 'django_colortag.js' %}"></script>
					  <script src="{% static 'add_tagging_dropdown.js' %}"></script>
					  {% endif %}
					  {% profiles submission.submitters.all instance is_teacher %}
					  {% else %}
					  {{ submission.submitters.all|names }}
				  {% endif %}
			  {% else %}
				{% translate "PSEUDONYMIZED_SUBMITTERS" %}
			  {% endif %}
			</dd>
		</dl>
	</div>
</div>
