{% load i18n %}
{% load course %}
<p>{{ current.name|parse_localization }}</p>
{% for entry in templates %}
	{% if entry.content %}
		{% if entry.html %}
			{{ entry.content|safe }}
		{% else %}
			<h4>{{ entry.name|parse_localization }}</h4>
			<pre class="hljs">{{ entry.content }}</pre>
		{% endif %}
	{% else %}
		<h4>{{ entry.name|parse_localization }}</h4>
		<p class="alert alert-warning">{% translate "FILE_NOT_FOUND" %}</p>
	{% endif %}
{% empty %}
	{% translate "EXERCISE_HAS_NO_TEMPLATE" %}
{% endfor %}
