{% load i18n %}
{% load course %}
<div class="overlay exercise-warnings-overlay" id="overlay-{{ exercise.id }}">
    <div class="panel panel-warning">
        <div class="panel-heading">
            {% translate "CANNOT_SUMBIT_EXERCISE_WARNING" %}
        </div>
        <div class="panel-body">
            {% for issue in issues %}
            <p>{{ issue }}</p>
            {% endfor %}
            <div class="btn-toolbar" role="toolbar">
                <button
                    type="button"
                    class="aplus-button--secondary aplus-button--md"
                    id="overlay-dismiss-{{ exercise.id }}"
                >
                    {% translate "SHOW_ANYWAY" %}
                </button>
                {% if should_enroll and enrollable and instance.is_enrollment_open %}
                {% comment %}
                TODO: The enrollment form has partial duplication with
                course/_enroll_form.html that maybe could be removed
                {% endcomment %}
                <form
                    method="post"
                    action="{{ instance|url:'enroll' }}"
                    data-aplus-overlay="true"
                >
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="aplus-button--default aplus-button--md"
                        id="overlay-enroll-{{ exercise.id }}"
                    >
                        {% translate "ENROLL" %}
                    </button>
                </form>
                {% elif should_enroll %}
                {# The enrollment page informs the user about why he/she can not enroll. #}
                <a class="aplus-button--secondary aplus-button--md" role="button" href="{{ instance|url:'enroll' }}">
                  {% translate "ENROLLMENT_INFORMATION" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
     $(function () {
         $('#overlay-dismiss-{{ exercise.id }}').on('click', function () {
             $('#overlay-{{ exercise.id }}').remove();
             return false;
         });
     });
    </script>
</div>
