{% load i18n %}
{% load staticfiles %}
{% load course %}
{% load exercise %}
<html>
	<head>
		<title>{{ exercise }}</title>
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'exercise/poll.js' %}"></script>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	</head>
	<body>
		<div id="exercise">
			<ul class="exercise-summary nav nav-tabs">
				<li>
					<a href="{% if summary.get_best_submission %}{{ summary.get_best_submission|url }}{% else %}#{% endif %}">
						{% trans "Points" %}
						<span class="{% if summary.get_submission_count > 0 %}label{% if summary.is_passed %} label-success{% endif %}{% endif %}">
						{{ summary.get_points }}
						</span>
						/ {{ exercise.max_points }}
					</a>
				</li>
				<li class="dropdown">
	    			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						{% trans "Submissions" %}
						{{ summary.get_submission_count }}
		    			{% if exercise.max_submissions %}
		    			/ {{ exercise|max_submissions:profile }}
		    			{% endif %}
	    				<b class="caret"></b>
	    			</a>
			        <ul class="dropdown-menu">
			        	{% for submission in submissions %}
			            <li>
			                <a href="{{ submission|url }}">
			                    {{ forloop.revcounter }}.
			                    {{ submission.submission_time }}
			                    {% if submission.is_graded %}
			                    {{ submission.grade }} / {{ exercise.max_points }}
			                    {% endif %}
			                </a>
			            </li>
			        	{% empty %}
			            <li>
			                <a href="#">{% trans "No submissions yet" %}</a>
			            </li>
			        	{% endfor %}
			        </ul>
				</li>
				{% if is_course_staff %}
			    <li>
			    	<a class="staff" href="{{ exercise|url:'submission-list' }}">
						{% trans "View all submissions" %}
					</a>
				</li>
				{% endif %}
			</ul>
			<div class="exercise-response">
				{% include "_messages.html" %}

				{{ page.content|safe }}

				{% include "exercise/_exercise_wait.html" %}
			</div>
		</div>
	</body>
</html>
