{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load static %}
{% load course %}

{% block view_tag %}exercise{% endblock %}

{% block exercisebreadcrumblist %}
<li class="active">{{ current.name|parse_localization }}</li>
{% endblock %}

{% block js-translations %}
<link
	data-translation
	rel="preload"
	as="fetch"
	crossorigin="anonymous"
	type="application/json"
	hreflang="fi"
	href="{{ STATIC_URL }}js-translations/exercise.fi.json"
>
{% endblock %}

{% block exercisecontent %}

{% if toc %}
{% include 'exercise/_user_toc.html' %}
{% endif %}

<div
	id="exercise-page-content"
	{% if exercise.is_submittable %}
		data-aplus-chapter="{{ exercise|url }}"
		data-aplus-group="{{ exercise.min_group_size }}-{{ exercise.max_group_size }}"
		{% if summary.get_group_id is not None %}
			data-aplus-group-fixed="{{ summary.get_group_id }}"
		{% endif %}
	{% endif %}
>
	{% if latest_enrollment_submission_data %}
		{{ latest_enrollment_submission_data|json_script:"enroll-submission-data" }}
	{% endif %}
	<div class="overlay-parent">
		{% if issues and not submission_allowed %}
			{% include 'exercise/_warnings_overlay.html' %}
		{% endif %}
		<div {% if disable_submit %}data-aplus-disable-submit="true"{% endif %}>
			{{ page.content|safe }}
		</div>
	</div>
</div>

<div id="submit-progress" class="hide progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;">
		{% translate "POSTING_SUBMISSION" %}
	</div>
</div>

{% include "exercise/_exercise_wait.html" %}

{% include "exercise/_duplicate_submission_modal.html" %}

<div id="loading-indicator" class="hide progress"
	data-msg-load="{% translate 'LOADING_EXERCISE' %}"
	data-msg-submit="{% translate 'POSTING_SUBMISSION' %}"
	data-msg-error="{% translate 'EXERCISE_ERROR_COMMUNICATION' %}">
	<div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;"></div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/md5.min.js' %}"></script>
<script src="{% static 'js/external_launcher.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/external_services.css' %}">
<script src="{% static 'exercise/poll.js' %}"></script>
<script src="{% static 'exercise/group.js' %}"></script>
<script src="{% static 'exercise/autosave.js' %}"></script>
<script src="{% static 'exercise/duplicate_check.js' %}"></script>
<script src="{% static 'exercise/chapter.js' %}"></script>
<script
	src="{% static 'exercise/language_link.js' %}"
	data-set-lang="{{ instance|url:'set-enrollment-language' }}"></script>
<script>
// Visualize loading in case of slow POST operations.
/*$(function() {
	var forms = $("#exercise-page-content").find("form:not([data-aplus-exercise] form)");
	forms.on("submit", function(event) {
		$("#submit-progress").removeClass("hide");
	});
});*/

// Add an Ajax exercise event listener to refresh the info column.
window.addEventListener("message", function (event) {
	if (event.data.type === "a-plus-refresh-stats") {
		$("#submit-progress").addClass("hide");
		var $stats = $("#exercise-info"),
			url = $stats.data("url");
		$stats.load(url, function() {
			$stats.find('[data-toggle="tooltip"]').tooltip();
		});
	}
});
</script>
{{ page.head|safe }}
{% endblock %}
