{% load i18n %}
{% load static %}
{% load course %}
{% load exercise %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ current.name|parse_localization }}</title>

		<script src="https://code.jquery.com/jquery-3.7.0.min.js"
				integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap5.min.js' %}"></script>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" rel="stylesheet"
				integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA=="
				crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
				integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/scala.min.js"
				integrity="sha512-F7HBSjTYDsAreqced8cggvF5AuB+j2TXktnLYpCrpWF2fhQJJCc5KimR3LYLs0AppTBecbPN9M9Hjf8yC2WstA=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/matlab.min.js"
				integrity="sha512-5ZGiuxBBzpJ0aH15H1I850TRlyLKnJz4oUehftIWUpEGv4k/Yq7Iva5m7yqfLQYjMjZLcQ8eFCkPQR5JL5CUrQ=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/dockerfile.min.js"
				integrity="sha512-f4j2jCLhh6ii5vDz5Zi41dqB8gpf1J3VJfApZSdlZQCzm5X4jmMKRulA0Vlf1CCewroxvKrel6yCCSpiEwFNsA=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/submission.css' %}" />

		<script>
		 // Add an Ajax exercise event listener to refresh the summary.
			 window.addEventListener("message", function (event) {
				 if (event.data.type === "a-plus-refresh-stats") {
					 $.ajax(window.location.href, {dataType: "html"})
					  .done(function(data) {
						  $(".exercise-summary").empty().append(
							  $(data).find(".exercise-summary").contents());
					  });
				 }
			 });
		</script>

		{{ page.head|safe }}
	</head>
	<body>
		<div id="exercise-all">
			<a href="{{ exercise|url:'exercise' }}" target="_blank" rel="noopener" class="skip-link">
				{% translate "OPEN_EXERCISE_IN_NEW_TAB" %}
			</a>
			<div class="overlay-parent">

				{% if issues and not submission_allowed %}
					{% include 'exercise/_warnings_overlay.html' %}
				{% endif %}

				{% if exercisecollection_data %}
					{% include 'exercise/_exercisecollection.html' %}

				{% elif exercise.is_submittable %}
					<nav class="exercise-summary navbar navbar-default" aria-label="{{ exercise|parse_localization }}">
						<ul class="nav navbar-nav exercise-nav">
							<li>
								<a href="{% if summary.feedback_revealed and summary.best_submission %}{{ summary.best_submission|url:'submission-plain' }}{% else %}#{% endif %}"
									class="exercise-nav-points"
									role="button"
								>
									<span>
										{% if not exercise.category.confirm_the_level %}
											{% translate "POINTS" %}
										{% endif %}
										{% points_badge summary%}
									</span>
								</a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle exercise-nav-submissions" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
									<span>
										{% translate "MY_SUBMISSIONS" %}
										<span class="badge">
											{{ summary.submission_count }}
											{% if exercise.max_submissions %}
												/ {{ summary.personal_max_submissions|default_if_none:exercise.max_submissions }}
											{% endif %}
										</span>
										<b class="caret"></b>
									</span>
								</a>
								<ul class="dropdown-menu">
									{% for submission in submissions %}
										<li>
											<a href="{{ submission|url:'submission-plain' }}" data-hash="{{ submission.hash }}">
												{{ forloop.revcounter }}.
												{{ submission.date|date:'DATETIME_SECONDS_FORMAT' }}
												{% points_badge submission%}
											</a>
										</li>
									{% empty %}
										<li>
											<a href="#">{% translate "NO_SUBMISSIONS_YET" %}</a>
										</li>
									{% endfor %}
								</ul>
							</li>
							{% if not exercise.category.confirm_the_level %}
								<li class="navbar-text exercise-nav-info">
									<small>
										<ul>
											{% if exercise.points_to_pass > 0 %}
												<li>
													<i class="bi-flag" aria-hidden="true"></i>
													{% blocktranslate trimmed with points=exercise.points_to_pass %}
														POINTS_REQUIRED_TO_PASS -- {{ points }}
													{% endblocktranslate %}
												</li>
											{% endif %}
											<li>
												<i class="bi-time" aria-hidden="true"></i>
												{% if summary.personal_deadline %}
													{% translate "PERSONAL_EXTENDED_DEADLINE" %}
													{{ summary.personal_deadline }}
													{% if module.late_submission_penalty > 0 and summary.personal_deadline_has_penalty %}
													({% blocktranslate trimmed with penalty=module.late_submission_penalty|percent deadline=module.closing_time %}
														PENALTY_AFTER -- {{ penalty }}, {{ deadline }}
													{% endblocktranslate %})
													{% endif %}
												{% elif exercise.is_late_submission_open %}
													{% translate "LATE_SUBMISSION_DEADLINE" %} {{ module.late_submission_deadline }}
													{% if module.late_submission_penalty > 0 %}
													(-{{ module.late_submission_penalty|percent }}%)
													{% endif %}
												{% else %}
													{% translate "DEADLINE" %}
													{{ module.closing_time }}
												{% endif %}
											</li>
											<li>
												<i class="bi-user" aria-hidden="true"></i>
												{% if exercise.min_group_size == 1 %}
													{% if exercise.max_group_size == 1 %}
														{% translate "TO_BE_SUBMITTED_ALONE" %}
													{% elif exercise.max_group_size == 2 %}
														{% blocktranslate trimmed with size=2 %}TO_BE_SUBMITTED_ALONE_OR_GROUPS -- {{ size }}{% endblocktranslate %}
													{% else %}
														{% blocktranslate trimmed with min=2 max=exercise.max_group_size %}TO_BE_SUBMITTED_ALONE_OR_GROUPS -- {{ min }}, {{ max }}{% endblocktranslate %}
													{% endif %}
												{% elif exercise.min_group_size == exercise.max_group_size %}
													{% blocktranslate trimmed with size=exercise.min_group_size %}TO_BE_SUBMITTED_GROUPS -- {{ size }}{% endblocktranslate %}
												{% else %}
													{% blocktranslate trimmed with min=exercise.min_group_size max=exercise.max_group_size %}TO_BE_SUBMITTED_GROUPS -- {{ min }}, {{ max }}{% endblocktranslate %}
												{% endif %}
											</li>
										</ul>
									</small>
								</li>
							{% endif %}
						</ul>
						{% if is_course_staff or is_student and model_revealed %}
							{% comment %} The model solution link is shown even if the student can not
							open it due to personal extensions. However, this saves some database queries.
							{% endcomment %}
							{% if exercise.model_answers %}
								<a class="aplus-button--secondary aplus-button--md page-modal exercise-nav-button" role="button" href="{{ exercise|url:'exercise-model' }}">
									<i class="bi-file" aria-hidden="true"></i>
									{% translate "SHOW_MODEL_ANSWER" %}
								</a>
							{% endif %}
						{% endif %}
						{% if is_course_staff or is_student %}
							{% if exercise.templates %}
								<a class="aplus-button--secondary aplus-button--md page-modal exercise-nav-button" role="button" href="{{ exercise|url:'exercise-template' }}">
									<i class="bi-file" aria-hidden="true"></i>
									{% translate "SHOW_EXERCISE_TEMPLATE" %}
								</a>
							{% endif %}
						{% endif %}
						{% if is_course_staff %}
							<a class="aplus-button--secondary aplus-button--md page-modal exercise-nav-button" role="button" href="{{ exercise|url:'submission-list' }}">
								<i class="bi-list" aria-hidden="true"></i>
								{% translate "VIEW_ALL_SUBMISSIONS" %}
							</a>
						{% endif %}
					</nav>
				{% endif %}

				<div
					class="exercise-response"
					data-aplus-group="{{ exercise.min_group_size }}-{{ exercise.max_group_size }}"
					{% if summary.get_group_id is not None %}
						data-aplus-group-fixed="{{ summary.get_group_id }}"
					{% endif %}
					{% if disable_submit %}
						data-aplus-disable-submit="true"
					{% endif %}
				>
					{% include "_messages.html" %}
					{% include "exercise/_submit_progress.html" %}
					<div>
						{% if page.content.strip %}
							{{ page.content|safe }}
						{% elif submission and submission.status == "waiting" %}
							<div class="alert alert-info">
								{% translate "SUBMISSION_ACCEPTED_FOR_GRADING" %}
							</div>
						{% endif %}
					</div>
					{% include "exercise/_exercise_wait.html" %}
				</div>
			</div>
		</div>
	</body>
</html>
