{% load i18n %}
{% load staticfiles %}
{% load course %}
{% load exercise %}
<html>
	<head>
		<title>{{ exercise }}</title>
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'exercise/poll.js' %}"></script>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	</head>
	<body>
		<div id="exercise">
			<ul class="exercise-summary nav nav-pills">
				<li>
					<a href="{% if summary.get_best_submission %}{{ summary.get_best_submission|url }}{% else %}#{% endif %}">
						{% trans "Points" %}
						{% summary_points summary %}
					</a>
				</li>
				<li class="dropdown">
	    			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						{% trans "Submissions" %}
						<span class="badge">
							{{ summary.get_submission_count }}
			    			{% if exercise.max_submissions %}
			    			/ {{ exercise|max_submissions:profile }}
			    			{% endif %}
						</span>
	    				<b class="caret"></b>
	    			</a>
			        <ul class="dropdown-menu">
			        	{% for submission in submissions %}
			            <li>
			                <a href="{{ submission|url }}">
			                    {{ forloop.revcounter }}.
			                    {{ submission.submission_time }}
			                    {% submission_points submission %}
			                </a>
			            </li>
			        	{% empty %}
			            <li>
			                <a href="#">{% trans "No submissions yet" %}</a>
			            </li>
			        	{% endfor %}
			        </ul>
				</li>
				<li>
					<p class="navbar-text navbar-btn">
						<small>
							{% if exercise.points_to_pass > 0 %}
							{% blocktrans with points=exercise.points_to_pass %}{{ points }} points required to pass.{% endblocktrans %}
							{% endif %}
							{% trans "Deadline" %} {{ module.closing_time }}
						</small>
					</p>
				</li>
				{% if is_course_staff %}
			    <li>
					<p class="navbar-text navbar-btn">
				    	<a class="btn btn-default btn-xs" href="{{ exercise|url:'submission-list' }}">
							<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
							{% trans "View all submissions" %}
						</a>
					</p>
				</li>
				{% endif %}
			</ul>
			<div class="exercise-response">
				{% include "_messages.html" %}

				{{ page.content|safe }}

				{% include "exercise/_exercise_wait.html" %}
			</div>
		</div>
	</body>
</html>
