{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load apps %}

{% block title %}{{ block.super }}: {% trans "Exercise" %} {{ module.order }}.{{ exercise.order }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        {% include "exercise/_exercise_menu.html" %}
    </div>
    {% block columns %}
    <div class="col-md-8">
        {% include "exercise/_exercise_header.html" %}
        {% block exercisecontent %}
        {% endblock %}
    </div>
    <div class="col-md-2">
        {% block exerciseinfo %}
        <div id="exercise-info" data-url="{{ exercise|url:'exercise-info' }}">
            {% include "exercise/_exercise_info.html" %}
        </div>
        {% endblock %}

		{% if submission %}
			{% plugin_renderers user submission as plugins %}
		{% else %}
			{% plugin_renderers user exercise as plugins %}
		{% endif %}
        {% for plugin in plugins %}
            {{ plugin.render|safe }}
        {% endfor %}
    </div>
    {% endblock %}
</div>
{% endblock %}
