{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load notification %}

{% block title_postfix %}: {% trans "Profile" %}{% endblock %}
{% block view_tag %}profile{% endblock %}

{% block columns %}
<div class="col-md-5">
    <div class="page-header">
        <h1>
            {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
            {% else %}
            {% trans "[Unknown name]" %}
            {% endif %}
        </h1>
    </div>
    <div>
        {% old_course_notifications instance user as read %}
    	{% new_course_notifications instance user as unread %}
        <h3>{% trans "Unread notifications" %}</h3>
        {% if unread.count > 0 %}
        <ul>
        	{% for notification in unread.notifications %}
            <li>
            	<strong>{% trans "Sent by:" %}</strong>
            	{{ notification.sender.user.get_full_name }} ({{ notification.timestamp }})<br/>
                <strong>{{ notification.subject }}</strong><br/>
                {{ notification.notification|safe }}
            </li>
        	{% endfor %}
        </ul>
        {% else %}
        <p>{% trans "No unread notifications." %}</p>
        {% endif %}

        <h3>{% trans "Older notifications" %}</h3>
        {% if read.count > 0 %}
        <ul>
        	{% for notification in read.notifications %}
            <li>
                <strong>{% trans "Sent by:" %}</strong>
                {{ notification.sender.user.get_full_name }} ({{ notification.timestamp }})<br/>
                <strong>{{ notification.subject }}</strong><br/>
                {{ notification.notification|safe }}
            </li>
        	{% endfor %}
        </ul>
        {% else %}
        <p>{% trans "No older notifications." %}</p>
        {% endif %}
    </div>
</div>
<div class="col-md-2">
    <div class="thumbnail">
        <img src="{{ profile.avatar_url }}" alt="avatar" />
    </div>
    <dl>
        {% trans "[Missing]" as miss %}
    	<dt>{% trans "Student ID" %}</dt>
        <dd>{% firstof profile.student_id miss %}</dd>
        <dt>{% trans "E-mail" %}</dt>
        <dd>{% firstof user.email miss %}</dd>
        <dt>{% trans "Username" %}</dt>
        <dd>{% firstof user.username miss %}</dd>
    </dl>
    {# TODO: check the user type and show editing options/help #}
    <div class="alert alert-info">
        {% blocktrans %}
        To change your settings, such as <strong>e-mail</strong>
        address or <strong>password</strong>, you must update
        them on your identity provider.
        {% endblocktrans %}
    </div>
    <div class="alert alert-info">
        {% blocktrans with email=user.email %}
        You can change your avatar icon
        at <a href="http://gravatar.com">gravatar.com</a>.
        Use your e-mail address <strong>{{ email }}</strong>
        when registering your account.
        {% endblocktrans %}
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">{% trans "Latest submissions" %}</h4>
        </div>
        <div class="list-group">
            {% for submission in submissions %}
            <a href="{{ submission|url }}" class="list-group-item">
                <span class="badge">
                    {{ submission.grade }} / {{ submission.exercise.max_points }}
                </span>
                {{ submission.exercise }}<br />
                <small class="text-nowrap">
                    {{ submission.submission_time }}
                </small>
            </a>
            {% empty %}
            <div class="list-group-item">
            	{% trans "No submissions for this course." %}
            </div>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
