{% extends "course/course_base.html" %}
{% load i18n %}
{% load notification %}

{% block coursecontent %}
<div class="row">
    <div class="span5">
        <p class="pull-right"><img src="{{ user.userprofile.avatar_url }}" alt="avatar" /></p>
        
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        
        <dl class="dl-horizontal">
        	<dt>{% trans "student-id" %}</dt>
            <dd>{{user.userprofile.student_id}}</dd>
            <dt>{% trans "email" %}</dt>
            <dd>{{user.email}}</dd>
            <dt>{% trans "username" %}</dt>
            <dd>{{user.username}}</dd>
        </dl>

        <div class="alert alert-info clearfix">
            {% blocktrans with email=user.email %}
                <p> You can change your avatar icon
                at <a href="http://gravatar.com">gravatar.com</a>.
                Use your e-mail address <strong>{{ email }}</strong>
                when registering your account.</p>
                <p>To change your settings, such
                as <strong>e-mail</strong> address
                or <strong>password</strong>, you must update them on
                your identity provider.</p>
            {% endblocktrans %}
        </div>

	    <div{# class="span10" #}>
	        {% old_course_notifications instance user as read %}
			{% new_course_notifications instance user as unread %}
	        <h3>{% trans "Unread notifications" %}</h3>
	        {% if unread.count > 0 %}
            <ul>
            	{% for notification in unread.notifications %}
                <li class="notification">
                	<b>{% trans "Sent by:" %}</b>
                	{{ notification.sender.user.get_full_name }} ({{ notification.timestamp }})<br/>
                    <b>{{ notification.subject }}</b><br/>
                    {{ notification.notification|safe }}
                </li>
            	{% endfor %}
            </ul>
	        {% else %}
            <p>{% trans "No unread notifications." %}</p>
	        {% endif %}
	
	        <h3>{% trans "Older notifications" %}</h3>
	        {% if read.count > 0 %}
            <ul>
            	{% for notification in read.notifications %}
                <li class="notification">
	                <b>{% trans "Sent by:" %}</b>
	                {{ notification.sender.user.get_full_name }} ({{ notification.timestamp }})<br/>
	                <b>{{ notification.subject }}</b><br/>
	                {{ notification.notification|safe }}
                </li>
            	{% endfor %}
            </ul>
	        {% else %}
	        <p>{% trans "No older notifications." %}</p>
	        {% endif %}
	    </div>
    </div>
    <div class="span5">
        <h3>{{ course.name }}</h3>
        <p>
            {% blocktrans with points=course_summary.get_total_points max=course_summary.get_max_points %}
            You currently have
            <span class="label label-info">{{ points }} / {{ max }}</span>
            exercise points on this course.
            {% endblocktrans %}
        </p>
        
        <h3>{% trans "Your latest submissions" %}</h3>
        <ul>
            {% for submission in submissions %}
            <li>
            	<a href="{{ submission.get_absolute_url }}">
            		{{ submission.exercise.name }}
            	</a>,
            	{{ submission.grade }}/{{ submission.exercise.max_points }}
            </li>
            {% empty %}
            <li>
            	{% trans "No submissions for this course." %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
