{% extends "exercise/exercise_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "SUBMISSION" %} {{ index }} | {{ block.super }}{% endblock %}
{% block view_tag %}submission{% endblock %}

{% block exercisebreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "SUBMISSION" %} {{ index }}</li>
{% endblock %}

{% block exercisecontent %}
    {% if submission.files.all %}
    <h4>{% translate "FILES_IN_SUBMISSION" %}</h4>
    <ul class="list-unstyled">
        {% for file in submission.files.all %}
        <li>
        	<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        	{% include "exercise/_file_link.html" %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if submission.assistant_feedback %}
        <h4>{% translate "ASSISTANT_FEEDBACK" %}</h4>
        <blockquote>{{ submission.assistant_feedback|safe }}</blockquote>
    {% endif %}

    {% if submission.feedback and submission.feedback.strip %}
        <div id="exercise">
            {{ submission.feedback|safe }}
        </div>
    {% elif submission.status == "waiting" %}
        <div class="alert alert-info">
			{% translate "SUBMISSION_ACCEPTED_FOR_GRADING" %}
		</div>
    {% else %}
        <div class="alert alert-info">
            {% translate "NO_GRADER_FEEDBACK_FOR_SUBMISSION" %}
        </div>
    {% endif %}
    {% include "exercise/_exercise_wait.html" %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'exercise/poll.js' %}"></script>
{% endblock %}

{% block exerciseinfo %}
{{ block.super }}
{% include 'exercise/_submission_info.html' %}
{% endblock %}
