{% extends "exercise/exercise_base.html" %}
{% load i18n %}

{% block exercisecontent %}
    
    {% if submission.files.all %}
    <h3>{% trans "Files in this submission" %}</h3>
    <ul class="unstyled">
        {% for file in submission.files.all %}
        <li>
        	<i class="icon-file"></i>
        	{% include "exercise/_file_link.html" %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if submission.exercise.allow_assistant_grading %}
    {% if submission.assistant_feedback %}
    
    <h2>{% trans "Assistant feedback" %}</h2>
    {{ submission.assistant_feedback|safe }}
    
    {% else %}
    
    <div class="alert alert-info">
        {% trans "No assistant feedback available for this submission." %}
    </div>
    
    {% endif %}
    {% endif %}

    {% if submission.feedback %}
    
    <h2>{% trans "Grader feedback" %}</h2>
	{{ submission.feedback|safe }}
    
    {% else %}
    
    <div class="alert alert-info">
        {% trans "No grader feedback available for this submission." %}
    </div>
    
    {% endif %}

{% endblock %}

{% block exerciseinfo %}
{{ block.super }}
{% include 'exercise/_submission_info.html' %}
{% endblock %}
