{% load i18n %}
{% load course %}
{% load exercise %}
<table class="submission-info table table-bordered table-condensed">
	<tr>
		<th>{% trans "Date" %}</th>
		<th>{% if submission.is_graded %}{% trans "Points" %}{% else %}{% trans "Status" %}{% endif %}</th>
		{% if submission.files.exists %}
		<th>{% trans "Files" %}</th>
		{% endif %}
		{% if is_course_staff %}
		<th>{% trans "Course staff" %}</th>
		{% endif %}
	</tr>
	<tr>
		<td>
			{{ submission.submission_time }}
			{% if submission.late_penalty_applied %}
			<span class="label label-warning">
				{% blocktrans with percent=submission.late_penalty_applied|percent %}
				Late <small>-{{ percent }}%</small>
				{% endblocktrans %}
			</span>
			{% endif %}
		</td>
		<td>{% submission_points submission %}</td>
		{% if submission.files.exists %}
		<td>
			{% for file in submission.files.all %}
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				{% include "exercise/_file_link.html" %}
			</div>
			{% endfor %}
		</td>
		{% endif %}
		{% if is_course_staff %}
		<td>
			<a href="{{ submission|url:'submission-inspect' }}" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
				{% trans "Inspect" %}
			</a>
		</td>
		{% endif %}
	</tr>
</table>

{% if submission.exercise.allow_assistant_grading %}
{% if submission.assistant_feedback %}

<h4>{% trans "Assistant feedback" %}</h4>
{{ submission.assistant_feedback|safe }}

{% else %}
<div class="alert alert-info">
	{% trans "No assistant feedback available for this submission." %}
</div>
{% endif %}
{% endif %}

{% if submission.feedback %}

{{ submission.feedback|safe }}

{% else %}
<div class="alert alert-info">
	{% trans "No grader feedback available for this submission." %}
</div>
{% endif %}
