{% load i18n %}
{% load static %}
{% load course %}
{% load exercise %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ exercise }}</title>

		<script src="https://code.jquery.com/jquery-3.7.0.min.js"
				integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap5.min.js' %}"></script>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" rel="stylesheet"
				integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA=="
				crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
				integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/scala.min.js"
				integrity="sha512-F7HBSjTYDsAreqced8cggvF5AuB+j2TXktnLYpCrpWF2fhQJJCc5KimR3LYLs0AppTBecbPN9M9Hjf8yC2WstA=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/matlab.min.js"
				integrity="sha512-5ZGiuxBBzpJ0aH15H1I850TRlyLKnJz4oUehftIWUpEGv4k/Yq7Iva5m7yqfLQYjMjZLcQ8eFCkPQR5JL5CUrQ=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/dockerfile.min.js"
				integrity="sha512-f4j2jCLhh6ii5vDz5Zi41dqB8gpf1J3VJfApZSdlZQCzm5X4jmMKRulA0Vlf1CCewroxvKrel6yCCSpiEwFNsA=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/submission.css' %}" />
	</head>
	<body>
		<p class="submission-title">
			{% if exercise.parent %}{{ exercise.parent|parse_localization }}:{% endif %}
			{{ exercise|parse_localization }}
		</p>
		<table class="submission-info table table-bordered table-sm">
			<tr>
				{% is_ajax as is_ajax_result %}
				{% if not is_ajax_result %}
				<th rowspan="2">
					<a href="{{ submission.exercise|url:'exercise-plain' }}" class="aplus-button--secondary aplus-button--md" role="button">
						{% translate "RETURN_TO_EXERCISE" %}
					</a>
				</th>
				{% endif %}
				<th>{% translate "DATE" %}</th>
				<th>{% if submission.is_graded %}{% translate "POINTS" %}{% else %}{% translate "STATUS" %}{% endif %}</th>
				{% if submission.files.exists %}<th>{% translate "FILES" %}</th>{% endif %}
				{% if is_course_staff %}<th>{% translate "COURSE_STAFF" %}</th>{% endif %}
			</tr>
			<tr>
				<td>
					{{ submission.submission_time|date:'DATETIME_SECONDS_FORMAT' }}
					{% if submission.late_penalty_applied %}
					<span class="badge text-bg-warning">
						{% blocktranslate trimmed with percent=submission.late_penalty_applied|percent %}
						LATE_W_PENALTY -- {{ percent }}
						{% endblocktranslate %}
					</span>
					{% endif %}
				</td>
				<td class="points-badge">
					<span class="d-none">{% points_badge summary %}</span>
					{% points_badge submission_entry %}
				</td>
				{% if submission.files.exists %}
				<td>
					<ul class="list-unstyled">
					{% for file in submission.files.all %}
						<li>
							<i class="bi-file" aria-hidden="true"></i>
							{% include "exercise/_file_link.html" %}
						</li>
					{% endfor %}
					</ul>
				</td>
				{% endif %}
				{% if is_course_staff %}
				<td>
					<a href="{{ submission|url:'submission-inspect' }}" class="aplus-button--secondary aplus-button--md" role="button">
						<i class="bi-zoom-in" aria-hidden="true"></i>
						{% translate "INSPECT" %}
					</a>
				</td>
				{% endif %}
			</tr>
		</table>

		<div id="exercise-all">
		{% if pending.num_retries > 0 %}
		<div class="alert alert-warning">
			{% blocktranslate trimmed with num_retries=pending.num_retries max_retries=pending.max_retries %}
				SUBMISSION_GRADING_RETRIED -- {{ num_retries }}, {{ max_retries }}
			{% endblocktranslate %}
		</div>
		{% endif %}
	
		{% if feedback_revealed and submission.assistant_feedback %}
		<h4>{% translate "ASSISTANT_FEEDBACK" %}</h4>
		<blockquote>{{ submission.assistant_feedback|safe }}</blockquote>
		{% endif %}

		{% include "exercise/_submit_progress.html" %}
		{% if not feedback_revealed %}
		<div class="alert alert-success">
			{% translate "SUBMISSION_ACCEPTED_FOR_GRADING" %}
		</div>
		<div class="exercise-content">
			{{ submission_page.content|safe }}
		</div>
		{% elif submission.feedback and submission.feedback.strip %}
		<div class="exercise-content">
			{{ submission.feedback|safe }}
		</div>
		{% elif submission.status == "waiting" %}
		<div class="alert alert-info">
			{% translate "SUBMISSION_ACCEPTED_FOR_GRADING" %}
		</div>
		{% else %}
		<div class="alert alert-info">
			{% translate "NO_GRADER_FEEDBACK_FOR_SUBMISSION" %}
		</div>
		{% endif %}

		</div>
	</body>
</html>
