{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}
{% load apps %}

{% block title %}{% translate "COURSE_MATERIALS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}toc{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "COURSE_MATERIALS" %}</li>
{% endblock %}

{% block coursecontent %}
{% user_toc %}
{% endblock %}

{% block sidecontent %}
{% category_points %}

{% plugin_renderers user instance as plugins %}
{% for plugin in plugins %}
    {{ plugin.render|safe }}
{% endfor %}
{% endblock %}
