/* Add padding to the whole window */
.col-sm-12 {
  padding: 0 5% 0 5%;
}

/* Remove padding and margin from panels */
.panel-body {
  padding: 0;
  margin: 0;
}

.panel-heading {
  cursor: pointer;
}

.contentDivider {
  padding: 30 px;
}

.fieldWrapper {
  padding: 10 px;
}

/* Override data-aplus-exercise from main.css
   Otherwise the panel height is extended
*/
[data-aplus-exercise] {
  border: none;/*grey #e3e3e3;*/
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  margin-bottom: 0;
  min-height: 0;
}

/* Add white background to language dropdown */
#lang-dropdown {
  background-color: white;
  margin: 0px 5px 0px 5px;
}

.nav>li>span {
  display: inline-block;
  color: #ffffff;
  padding: 15px;
}

.nav>li>input {
  margin: 15px;
}
