{% load i18n %}
{% if grade >= 0 %}
<form method="post" action="{{ url }}">
  {% csrf_token %}
  <p>
    <button{% if grade == 0 %} disabled="yes"{% endif %} class="btn btn-default">
      {% blocktranslate trimmed %}GET_COURSE_DIPLOMA{% endblocktranslate %}
    </button>
    {% if grade == 0 and is_course_staff %}
    <button class="btn btn-link">
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      {% translate "OPEN_GRADE_0_DIPLOMA" %}
    </button>
    {% endif %}
  </p>
</form>
{% endif %}
