$width: 100%;
$padding-amount: 5px;  
$margin: 20px;


.error-summary {
	background: repeating-linear-gradient(
		45deg,
		$aplus-danger,
		$aplus-danger $padding-amount,
		$aplus-background $padding-amount,
		$aplus-background $padding-amount * 2
	);
	padding: $padding-amount;
	color: $aplus-danger;
	margin: $margin 0px;	
	&__text {
		color: $aplus-danger;
		background: $aplus-background;
		padding: $padding-amount * 2;
		padding-left: $padding-amount * 3;
		ul {
			list-style-type: none;
			padding-left: 0px;
		}
	}
}