@import '../mixins/focus';

// These styles apply consistent focus states to elements which
// don't have a focus state defined elswhere, including inside the
// course content.

// It's preferable to use component-specific focus styles where
// possible, and they should be mixed into all new components.

a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
div:focus-visible {
	@include focus-with-outline-only;
}
