.hljs {
	padding: 0;
}
table.src tr td.num {
	color: #ccc;
	background: #fff;
	border-right: 1px solid #ccc;
	vertical-align: top;
	padding:0 0.4em;
}
table.src tr td.src {
	padding:0 0.4em;
}
table.src tr td.src {
	white-space: pre-wrap;
}
table.src.no-wrap tr td.src {
	white-space: pre;
}
table.src tr td.old {
	background: #f8d7da;
}
table.src tr td.new {
	background: #d4edda;
}
