.hljs {
	padding: 0;
}
table.src tr td.num {
	color: #6a737d;
	border-right: 1px solid var(--bs-border-color);
	vertical-align: top;
	padding: 0 0.4em;
	text-align: right;
}
[data-bs-theme=dark] table.src tr td.num {
    color: #8b949e;
}
table.src tr td.src {
	padding:0 0.4em;
}
table.src tr td.src {
	white-space: pre-wrap;
}
table.src.no-wrap tr td.src {
	white-space: pre;
}
table.src tr td.old {
	background: #f8d7da;
}
table.src tr td.new {
	background: #d4edda;
}
.highlight {
	border-radius: var(--bs-border-radius);
}
