
/* Bootstrap-icons */

@mixin bootstrap-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: bootstrap-icons;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
