.menu-notification {
	.glyphicon {
		margin-right: 18px;
	}
	.badge {
		position: absolute;
		left: 28px;
		top: 15px;
	}
	@media (max-width: 768px) {
		&.open > ul.dropdown-menu > li > a.page-modal {
			color: #dadada;
		}
	}
}
/* for navbar-fixed-top: body {
	padding-top: 70px;
}*/
