.menu-notification {
	i {
		margin-right: 25px;
	}
	.badge {
		position: absolute;
		left: 20px;
		top: 4px;
		-webkit-animation: bounce 2s 5 ease-in alternate;
		-moz-animation: bounce 2s 5 ease-in alternate;
		-o-animation: bounce 2s 5 ease-in alternate;
		animation: bounce 2s 5 ease-in alternate;
	}
	@media (max-width: 768px) {
		&.open > ul.dropdown-menu > li > a.page-modal {
			color: #dadada;
		}
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-15px);
	}
}
@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-15px);
	}
}
@-o-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-15px);
	}
}
/* for navbar-fixed-top: body {
	padding-top: 70px;
}*/
