.news-panel {
    margin-bottom: 30px;
    .list-group-item-heading {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .list-group-item-title {
        font-weight: bold;
        margin: 0px;
        display: inline-block;
    }
    .list-group-item-details {
        font-size: 0.9em;
        display: inline-block;
    }
    .list-group-item,
    .pinned-list-group-item,
    .folding-list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        border: none;
    }
    .list-group-item:last-child {
        border-bottom-left-radius: var(--bs-card-inner-border-radius);
        border-bottom-right-radius: var(--bs-card-inner-border-radius);
    }
    .pinned-list-group-item {
        border-left: 2px solid $aplus-brand-primary;
    }
    .news-item.pinned-list-group-item:last-child {
        border-bottom-left-radius: var(--bs-card-inner-border-radius);
    }
    .folding-list-group-item {
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
    }
    .folding-list-group-item.collapsed {
        border-bottom-left-radius: var(--bs-card-inner-border-radius);
        border-bottom-right-radius: var(--bs-card-inner-border-radius);
    }
    .folding-list-group-item:hover {
        background-color: var(--bs-secondary-bg);
    }
    .list-group-item-text *:last-child {
        margin-bottom: 0;
    }
    .bi-chevron-down::before {
        transition: transform .2s ease;
    }
    .folding-list-group-item[aria-expanded="true"] .bi-chevron-down::before {
        transform: rotate(180deg);
    }
}
