nav.row.siblings {
	flex-direction: row;
	justify-content: space-between;
	margin: 0 5px;

	a.nav-flex-left, a.nav-flex-right  {
		white-space: nowrap;
		max-width: 45%;
		overflow: hidden;
		text-overflow: ellipsis;
		width: auto;
	}

	&::before,
	&::after {
		content: none;
	}
}
