nav.row.siblings {
	flex-direction: row;
	justify-content: space-between;

	a.d-inline-flex {
        max-width: 100%; // Constrain the link to not overflow its container

        > span.nav-flex-left,
        > span.nav-flex-middle,
        > span.nav-flex-right {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

	&::before,
	&::after {
		content: none;
	}
}
