@mixin base() {
	display: inline-flex;
	align-items: center;

	.points-indicator__icon {
		height: 24px;
		width: 24px;
		margin-right: 4px;
	}

	.points-indicator__icon-background {
		fill: white;
	}

	.points-indicator__icon-elements {
		fill: $brand-danger;
	}
}

@mixin color-styles($foreground-color, $background-color) {
	.points-indicator__icon-background {
		fill: $background-color;
	}

	.points-indicator__icon-element {
		fill: $foreground-color;
	}

	.points-indicator__icon-element-inverse {
		fill: $background-color;
	}

	.points-indicator__icon-pie-background {
		fill: $background-color;
	}

	.points-indicator__icon-pie-slice {
		fill: transparent;
		stroke: $foreground-color;
	}
}

.points-indicator {
	&--not-started {
		@include base;
		@include color-styles($brand-primary, transparent);
	}

	&--waiting {
		@include base;
		@include color-styles($brand-primary, transparent);
	}

	&--points {
		@include base;
		@include color-styles($brand-primary, white);
	}

	&--rejected {
		@include base;
		@include color-styles($brand-danger, transparent);
	}

	&--error {
		@include base;
		@include color-styles($gray, transparent);
	}
}

.points-indicator--inverse{
	color: white;
}

.points-indicator--inverse.points-indicator {
	&--not-started {
		@include color-styles(white, transparent);
	}

	&--waiting {
		@include color-styles(white, transparent);
	}

	&--points {
		@include color-styles(white, $brand-primary);
	}

	&--rejected {
		@include color-styles(white, transparent);
	}

	&--error {
		@include color-styles($gray-lighter, transparent);
	}
}
