.course-sidebar-expander {
	border-radius: var(--bs-border-radius);
	@media (max-width: 767px) {
		display: none;
	}
}

.course-sidebar-collapser {
	border-radius: var(--bs-border-radius);
	@media (max-width: 767px) {
		display: none;
	}
}

#sidebar-lang-dropdown {
	padding: 3px 6px 3px 6px;
	@media (max-width: 767px) {
		display: none;
	}
}

.course-sidebar-button {
	span {
		width: 22px;
		height: 22px;
		font-size: 14px;
	}
	margin-left: 5px;
}

.course-menu li > a:hover {
	background-color: var(--bs-secondary-bg, #f9f2f4);
}

#bs-navbar-collapse.minimised {
	width: 44px;
	overflow: visible;
	pointer-events: auto;
	z-index: 1045;
	.course-menu-label {
		display: none;
	}
	.new-tab-link {
		display: none;
	}
	ul.nav-stacked {
		margin-left: -3px;
	}
	li.header {
		padding-top: 0;
	}
	.sidebar-lang-menu {
		margin-top: 6px;
	}
	div.offcanvas-body {
		width: 24px;
	}
	.course-sidebar-expander {
		margin-left: -4px;
	}
}

@media (max-width: 767px) {
	#bs-navbar-collapse.minimised {
		width: auto;
		.course-menu-label {
			display: block;
		}
		ul.nav-stacked {
			margin-left: inherit;
		}
		div.offcanvas-body {
			width: auto;
		}
		.course-sidebar-expander {
			margin-left: inherit;
		}
	}
}

#bs-navbar-collapse.show, #bs-navbar-collapse.showing {
	overflow-y: hidden;
	padding-right: 0;
	padding-left: 0;
	button.course-sidebar-expander, button.course-sidebar-collapser {
		display: none;
	}
	button.btn-close {
		display: block !important;
	}
	#sidebar-lang-dropdown {
		display: block;
	}
}

#bs-navbar-collapse div.offcanvas-body {
	display: block;
	@media (max-width: 767px) {
		li {
			line-height: 30px;
		}
	}
}
