/* common */
.glyphicon, .label {
    margin-right: 0.2em;
}
dl > dt {
    margin-top: 0.5em;
}
iframe {
    border: none;
}
.pre {
    white-space: pre;
}
.unread {
    font-weight: bold;
}
.panel-title .pull-right {
    margin-left: 0.5em;
}
.alert .pull-left {
    margin-right: 0.5em;
}
.nav .navbar-btn {
    margin-top: 10px;
    margin-bottom: 0;
}
.hljs {
    padding: 0;
}
table.src tr td.num {
    color: #ccc;
    background: #fff;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding:0 0.4em;
}
table.src tr td.src {
    white-space: pre-wrap;
    padding:0 0.4em;
}
#exercise blockquote {
  font-size:100%;
}

/* site footer */
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    position: relative;
}
.site-content {
    padding-bottom: 70px;
}
.site-footer {
    position: absolute;
    bottom: 0;
    min-height: 50px;
}

/* site header */
.navbar-static-top {
    background-color: #337ab7;
    background-image: -moz-linear-gradient(top, #0088cc, #2e6da4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#2e6da4));
    background-image: -webkit-linear-gradient(top, #0088cc, #2e6da4);
    background-image: -o-linear-gradient(top, #0088cc, #0066aa);
    background-image: linear-gradient(to bottom, #337ab7, #2e6da4);
    background-repeat: repeat-x;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-static-top .navbar-brand,
.navbar-static-top .navbar-nav>li>a,
.navbar-static-top .navbar-toggle,
.navbar-static-top .navbar-nav>.active>a,
.navbar-static-top .navbar-nav>.active>a:focus,
.navbar-static-top .navbar-nav>.active>a:hover {
    color: #ffffff;
    background: transparent;
}
.navbar-static-top a.navbar-brand:hover,
.navbar-static-top .navbar-nav>li>a:hover,
.navbar-static-top .navbar-nav>.open>a,
.navbar-static-top .navbar-nav>.open>a:focus,
.navbar-static-top .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #236aa7;
    background-color: rgba(0, 0, 0, 0.10);
}
.navbar-static-top .navbar-header .visible-xs {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-static-top ul.visible-xs {
    margin: 0;
}
.navbar-static-top ul.visible-xs li {
    border: 1px solid;
    border-top: none;
    border-color: #236aa7;
    border-color: rgba(0, 0, 0, 0.25);
}
.navbar-static-top ul.visible-xs .header {
    border-left: none;
    border-right: none;
    padding: 0.2em 1em;
}
.navbar-static-top ul.visible-xs .header h4 {
    font-size: 10px;
    font-weight: bolder;
    color: #75A5D0;
    margin: 0;
}

/* menus */
.course-menu .nav>li>a {
    padding: 5px;
}
.siblings>.btn {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-exercise, .menu-submission {
    max-width: 50%;
    text-overflow: ellipsis;
}
@media (min-width: 768px) {
    .col-sm-2 .nav a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.toc li {
    list-style: none;
}

/* index thumbnails */
.course-thumbnail {
    height: 330px;
    position: relative;
}
.course-thumbnail .image {
    height: 130px;
    overflow: hidden;
    text-align: center;
    background: #eee;
}
.course-thumbnail .image img {
    width: 100%;
}
.course-thumbnail .image .glyphicon {
    color: #fff;
    font-size: 90px;
}
.course-thumbnail .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* panels */
.module-panel .panel-heading {
    display: block;
}
.module-panel .panel-title .caret {
    margin-right: 0.5em;
}
.collapsed .caret {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.module-panel table {
    margin: 0;
}

/* point progress and badges */
.progress {
    position: relative;
}
.progress .required-points {
    position: absolute;
    height: 20px;
    border-left: 1px solid black;
}
.badge-danger, .panel-primary>.panel-heading .badge-danger {
    background-color: #d9534f;
    color: #fff;
}
.badge-warning, .panel-primary>.panel-heading .badge-warning {
    background-color: #f0ad4e;
    color: #fff;
}
.badge-info, .panel-primary>.panel-heading .badge-info {
    background-color: #5bc0de;
    color: #fff;
}
.badge-success, .panel-primary>.panel-heading .badge-success {
    background-color: #5cb85c;
    color: #fff;
}
.panel-primary>.panel-heading .badge-danger,
.panel-primary>.panel-heading .badge-warning,
.panel-primary>.panel-heading .badge-info,
.panel-primary>.panel-heading .badge-success {
    border: 1px solid #fff;
    padding: 2px 6px;
}

/* exercise wells */
.exercise-summary {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 19px;
}
.form-inline .form-group div {
    display: inline-block;
}
