/* common */
.site-message {
  position: relative;
}
.site-message .glyphicon {
  position: absolute;
  top: 19px;
}
.site-message .message {
  margin-left: 27px;
}
.glyphicon, .label {
    margin-right: 0.2em;
}
dl > dt {
    margin-top: 0.5em;
}
iframe {
    border: none;
}
.pre {
    white-space: pre;
}
.unread {
    font-weight: bold;
}
.panel-title .pull-right {
    margin-left: 0.5em;
}
.nav .navbar-btn {
    margin-top: 10px;
    margin-bottom: 0;
}
.hljs {
    padding: 0;
}
table.src tr td.num {
    color: #ccc;
    background: #fff;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding:0 0.4em;
}
table.src tr td.src {
    white-space: pre-wrap;
    padding:0 0.4em;
}
.modal-dialog .modal-progress {
  padding: 40px 60px 20px;
}
#exercise-page-content blockquote {
  font-size:100%;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* FOCUS STATES - !important is needed to apply consistently to all elements */

.js-focus-visible a.focus-visible,
.js-focus-visible input.btn.focus-visible,
.js-focus-visible button.focus-visible { /* Mostly for links in text */
    background-color: #ffdd00 !important;
    color: #333 !important;
    outline: 3px solid rgba(0, 0, 0, 0) !important;
    text-decoration: underline !important;
}

.js-focus-visible input.focus-visible, 
.js-focus-visible select.focus-visible, 
.js-focus-visible div.focus-visible {
    outline: 3px solid #ffdd00 !important;
}


/* site footer */
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    position: relative;
}
.site-content {
    padding-bottom: 70px;
}
.site-footer {
    position: absolute;
    bottom: 0;
    min-height: 50px;
    z-index: 990;
}

/* site header */
.topbar {
    background-color: #337ab7;
    background-image: -moz-linear-gradient(top, #337ab7, #2e6da4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#337ab7), to(#2e6da4));
    background-image: -webkit-linear-gradient(top, #337ab7, #2e6da4);
    background-image: -o-linear-gradient(top, #337ab7, #2e6da4);
    background-image: linear-gradient(to bottom, #337ab7, #2e6da4);
    background-repeat: repeat-x;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar .navbar-brand,
.topbar .navbar-nav>li>a,
.topbar .navbar-toggle,
.topbar .navbar-nav>.active>a,
.topbar .navbar-nav>.active>a:focus,
.topbar .navbar-nav>.active>a:hover {
    color: #ffffff;
    background: transparent;
}
.topbar a.navbar-brand:hover,
.topbar .navbar-nav>li>a:hover,
.topbar .navbar-nav>.open>a,
.topbar .navbar-nav>.open>a:focus,
.topbar .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #236aa7;
    background-color: rgba(0, 0, 0, 0.10);
}
.topbar .navbar-toggle .badge {
    position: absolute;
    right: -10px;
    top: 4px;
}
.topbar .navbar-header .visible-xs {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topbar ul.visible-xs {
    margin: 0;
}
.topbar ul.visible-xs li {
    border: 1px solid;
    border-top: none;
    border-color: #236aa7;
    border-color: rgba(0, 0, 0, 0.25);
}
.topbar ul.visible-xs li a {
    color: white !important;
    padding: 10px 15px !important;
}
.topbar ul.visible-xs ul.dropdown-menu {
    padding: 0;
}
.topbar ul.visible-xs ul.dropdown-menu li {
    border: none;
    border-top: 1px solid;
}
.topbar ul.visible-xs .header {
    border-left: none;
    border-right: none;
    padding: 0.2em 1em;
}
.topbar ul.visible-xs .header h4 {
    font-size: 10px;
    font-weight: bolder;
    color: #75A5D0;
    margin: 0;
}
.navbar-nav>li.menu-groups>a.dropdown-toggle {
    background: rgba(255, 0, 0, 0.3);
}
.navbar-nav>li.menu-groups>a.dropdown-toggle:hover,
.navbar-nav>li.menu-groups.open>a.dropdown-toggle {
    background: rgba(255, 0, 0, 0.4);
}
.navbar-nav>li.menu-groups .profile-avatars {
    display: inline-block;
    margin: -6px 3px;
}
.dropdown-menu>li button {
  display: block;
  border: none;
  background: transparent;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}
.dropdown-menu>li button:hover {
  background: #eee;
}
.menu-notification .glyphicon {
  margin-right: 18px;
}
.menu-notification .badge {
  position: absolute;
  left: 28px;
  top: 15px;
  -webkit-animation: bounce 10s ease-in-out;
  -moz-animation: bounce 10s ease-in-out;
  -o-animation: bounce 10s ease-in-out;
  animation: bounce 10s ease-in-out;
}
@-webkit-keyframes bounce {
  0%,10%,20%,25%,35%,40%,50%,55%,65%,70%,80%,90%,100% { top:15px; transform:scale(1); }
    5%,15%,    30%,    45%,    60%,    75%,    95% { top:50px; transform:scale(2); }
}
@-moz-keyframes bounce {
  0%,10%,20%,25%,35%,40%,50%,55%,65%,70%,80%,90%,100% { top:15px; transform:scale(1); }
    5%,15%,    30%,    45%,    60%,    75%,    95% { top:50px; transform:scale(2); }
}
@-o-keyframes bounce {
  0%,10%,20%,25%,35%,40%,50%,55%,65%,70%,80%,90%,100% { top:15px; transform:scale(1); }
    5%,15%,    30%,    45%,    60%,    75%,    95% { top:50px; transform:scale(2); }
}
@keyframes bounce {
  0%,10%,20%,25%,35%,40%,50%,55%,65%,70%,80%,90%,100% { top:15px; transform:scale(1); }
    5%,15%,    30%,    45%,    60%,    75%,    95% { top:50px; transform:scale(2); }
}
/* for navbar-fixed-top: body {
  padding-top: 70px;
}*/

/* Skip links */

.skip-link { /* This one is equally applicable to all skip links */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    display: block;
}

.skip-link:focus {
    position: static;
    width: 100%;
    min-height: 50px;
    height: auto;
    margin: inherit;
    overflow: visible;
    clip: auto;
    padding: 15px;
}

.page-skip-link:focus {
    min-height: 24px;
}

/* menus */
.course-menu .nav>li>a {
    padding: 2px 2px 2px 5px;
}
#main-course-menu.fixed {
    position: fixed;
    top: 20px;
}
.course-menu .advert-thumbnail {
    margin-top: 4em;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.course-menu .advert-thumbnail h4 {
    margin-top: 0;
}
.siblings>.btn {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-exercise, .menu-submission {
    max-width: 50%;
    text-overflow: ellipsis;
}
@media (min-width: 768px) {
    .col-sm-2 .nav a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.toc li {
    list-style: none;
}

/* the course index on the frontpage */
  
.frontpage-panel {
    margin: 1%;
    margin-top: 30px;
}

.frontpage-panel .panel-heading {
    border-bottom: solid 1px #eee;
    font-weight: 500;
}

.frontpage-panel .panel-body {
    height: 80px;
}

.panel-default-text {
    font-size: 18px;
}

.frontpage-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.frontpage .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 8px;
    margin-bottom: 20px;
    padding: 4px;
}

.frontpage .advert-card {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .frontpage .card {
        width: 23%;
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .frontpage .card {
        width: 30%;
    }
}

@media (min-width: 670px) and (max-width: 959px) {
    .frontpage .card {
        width: 47%;
    }
}

@media (max-width: 669px) {
    .frontpage .card {
        width: 100%;
    }
}

.frontpage a:hover {
    text-decoration: none;
}

.frontpage .card-clickable {
    flex-grow: 1;
}

.frontpage .card-clickable:hover {
    filter: brightness(85%);
}

.frontpage .advert-card:hover h3, 
.frontpage .advert-card:hover p,
.frontpage .card-clickable:hover h3, 
.frontpage .card-clickable:hover p {
    color: #333;
}

.frontpage .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 145px;
    background-color:#eeeeee;
}

.frontpage .advert-image,
.frontpage .course-image {
    position: relative;
}

.frontpage .course-image {
    color: #fff;
}

.frontpage .course-image i,
.frontpage .advert-image i {
    font-size: 90px;
    position: absolute;
    left: 34%;
    top: 15%;
}

.frontpage .card-body {
    padding: 10px;
    padding-top: 0px;
    color: #333333;
}

.frontpage .card-title {
    color: #337ab7;
}

.frontpage .card-subtitle {
    font-size: 18px;
}

.frontpage .card-footer {
    padding: 10px 10px 14px 14px;
    width: 100%;
    flex-shrink: 0;
}

.archive-link {
    margin: 1%;
    font-size: 18px;
}


/* panels */  
.module-panel .panel-heading {
    display: block;
}
.module-panel .panel-title .caret {
    margin-right: 0.5em;
}
.collapsed .caret {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.module-panel table {
    margin: 0;
}

/* course news */
.news-panel {
    margin-bottom: 30px;
}

.news-panel .future-instance {
    color: #c0322d;
    background-color: #fff;
}

.news-panel .current-instance {
    color: #333;
    background-color: #fff;
}

.news-panel .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.news-panel .list-group-item-heading {
    padding-top: 5px;
    padding-bottom: 10px;
}

.news-panel .list-group-item-title {
    font-weight: bold;
    margin: 0px;
    display: inline-block;
}

.news-panel .list-group-item-details {
    font-size: 0.9em;
    display: inline-block;
}

.news-panel .list-group-item,
.news-panel .pinned-list-group-item,
.news-panel .folding-list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.news-panel .pinned-list-group-item {
    border-left: 2px solid #337ab7;
    border-bottom: 1px solid #ccc;
}

.news-panel .folding-list-group-item {    
    color: #337ab7;
    background-color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.news-panel .folding-list-group-item:hover {
    color: #337ab7;
    background-color: #eee;
}

.news-panel .list-group-item-text *:last-child {
    margin-bottom: 0;
}

/* point progress and badges */
.progress {
    position: relative;
}
.progress .required-points {
    position: absolute;
    height: 20px;
    border-left: 1px solid black;
}
.glyphicon.red {
  color: #ff7070;
}
.badge-danger {
    background-color: #d9534f !important;
    color: #fff !important;
}
.badge-warning {
    background-color: #f0ad4e !important;
    color: #fff !important;
}
.badge-info {
    background-color: #5bc0de !important;
    color: #fff !important;
}
.badge-success {
    background-color: #5cb85c !important;
    color: #fff !important;
}
.panel-primary>.panel-heading .badge-danger,
.panel-primary>.panel-heading .badge-warning,
.panel-primary>.panel-heading .badge-info,
.panel-primary>.panel-heading .badge-success {
    border: 1px solid #fff;
    padding: 2px 6px;
}
.unconfirmed-points {
  opacity: 0.6;
}
td.submissions-dropdown {
  text-align:center;
}

/* exercise wells */
[data-aplus-exercise] {
    border: 1px solid #bce8f1;/*grey #e3e3e3;*/
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 10px;
    min-height: 150px;
}
.exercise-summary {
    background-color: #d9edf7;/*primary #337ab7;*/
    border-color: #bce8f1;/*primary #2e6da4;*/
    border-radius: 0;
}
[data-aplus-exercise] .exercise-summary {
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.exercise-summary .navbar-nav {
    margin: 0;
}
.exercise-summary .navbar-nav .navbar-text {
    margin: 15px 15px 0 15px;
}
.exercise-summary .navbar-nav>li>a,
.exercise-summary .navbar-nav>.active>a,
.exercise-summary .navbar-nav>.active>a:focus,
.exercise-summary .navbar-nav>.active>a:hover,
.exercise-summary .navbar-nav .navbar-text {
    color: #31708f;
    background-color: transparent;
}
.exercise-summary .navbar-nav>li>a:hover,
.exercise-summary .navbar-nav>.open>a,
.exercise-summary .navbar-nav>.open>a:focus,
.exercise-summary .navbar-nav>.open>a:hover {
    background-color: rgba(0,0,0,0.04);
}
.navbar-nav>li>a.file-modal {
    display: inline;
    padding: 0;
    text-decoration: underline;
}
.exercise-response {
  padding: 0 1em;
}
[data-aplus-no-summary] .exercise-summary {
    display: none;
}
.form-inline .form-group div {
    display: inline-block;
}
.correct-option {
  margin-left: -38px;
  margin-right: 20px;
  color: green;
}
.neutral-option {
  margin-left: -40px;
  margin-right: 18px;
  font-size: 18px;
  color: #f5bc09;
}
.btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* results table */

table.results-table .category-row {
    font-weight: bold;
}

/* overlays */
.overlay-parent {
    position: relative;
    padding-bottom: 15px; /* Same as .form-group margin-bottom */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: #000b;
}

.overlay .panel {
    margin: auto;
    margin-top: 4rem;
    width: 80%;
}
