/* common */
.glyphicon, .label {
    margin: 0 0.5em;
}
dl > dt {
    margin-top: 0.5em;
}
.pull-right {
    margin-left: 0.5em;
}
.nav-tabs .navbar-btn {
    margin-top: 10px;
    margin-bottom: 0;
}

/* site footer */
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    position: relative;
}
.site-content {
    padding-bottom: 70px;
}
.site-footer {
    position: absolute;
    bottom: 0;
    min-height: 50px;
}

/* site header */
.navbar-static-top .navbar-header .visible-xs {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* index thumbnails */
.course-thumbnail {
    height: 330px;
    position: relative;
}
.course-thumbnail .image {
    height: 130px;
    overflow: hidden;
    text-align: center;
    background: #cccccc;
}
.course-thumbnail .image img {
    height: 130px;
}
.course-thumbnail .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* module panels */
.module-panel .panel-heading {
    display: block;
}
.module-panel .panel-title .caret {
    margin-right: 0.5em;
}
.module-panel .collapsed .panel-title .caret {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.module-panel table {
    margin: 0;
}

/* point progress bars */
.progress .required-points {
    position: absolute;
    height: 20px;
    border-left: 1px solid black;
}
