{% extends "exercise/submission.html" %}

{% block header %}{% endblock %}
{% block course_sidebar %}
<div class="col-sm-1"></div>
{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block breadcrumblist %}{% endblock %}
{% block siblings %}{% endblock %}
{% block siblings_bottom %}{% endblock %}
{% block footer %}{% endblock %}

{% block exercise_wait %}
{% include "lti_tool/_lti_exercise_wait.html" %}
{% endblock %}

{% block exerciseinfo %}
{{ block.super }}
{% include 'exercise/_submission_info.html' %}
{% endblock %}
