{% load i18n %}
{% load course %}

{% for instance in instances %}
{% with instance_url=instance|url %}
	<div class="frontpage card">
		<div class="card-clickable">
			<a href="{{ instance_url }}">
				{% if not condensed %}
				<div class="course-image" aria-hidden="true">
					{% if instance.image %}
						<img class="card-img-top" src="{{ instance.image.url }}" alt="" />
					{% else %}
					<div class="card-img-top">
						<i class="glyphicon glyphicon-book"></i>
					</div>
					{% endif %}
				</div>
				{% endif %}
				<div class="card-body">
					<h3 class="card-title" lang="{{ instance.language }}">
						{{ instance.course.name|parse_localization }}<br />
					</h3>
					<p class="card-subtitle" lang="{{ instance.language }}">
						{{ instance.instance_name|parse_localization }}
					</p>
					<p class="card-text">
						{{ instance.course.code }}
						{% if not instance.visible_to_students and not condensed %}
   							<span class="label label-danger">{% translate "HIDDEN_FROM_STUDENTS" %}</span>
						{% endif %}
						<br />
						{{ instance.starting_time|date:"SHORT_DATE_FORMAT" }} &ndash;
						{{ instance.ending_time|date:"SHORT_DATE_FORMAT" }}
						<br />
					</p>
				</div>
			</a>
		</div>
		{% if not condensed %}
		<div class="card-footer">
			{% if instance.enrollment_audience == 1 or instance.enrollment_audience == 3 %}
				<span class="label label-success">{{ internal_user_label|safe }}</span>
			{% endif %}
			{% if instance.enrollment_audience == 2 or instance.enrollment_audience == 3 %}
				<span class="label label-info">{{ external_user_label|safe }}</span>
			{% endif %}
		</div>
		{% endif %}
	</div>
{% endwith %}
{% endfor %}