{% load i18n %}
{% load course %}
{% load exercise %}
{% load notification %}
{% load external_services %}
{% load static %}

{% prepare_course_menu %}

<li>
	<a href="#course-content" class="skip-link page-skip-link hidden-xs">
		{% translate "SKIP_COURSE_NAVIGATION" %}
	</a>
</li>

{% if instance.language|first == "|" %}
<li class="header visible-xs">
	<h4 id="course-menu-heading">{% translate "LANGUAGE" %}</h4>
</li>
<li class="visible-xs dropdown">
	<a href="#" class="dropdown-toggle" id="lang-dropdown-mobile" data-toggle="dropdown" role="button"
		aria-haspopup="true" aria-expanded="false">
		{% translate "CHANGE_LANGUAGE" %} <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" aria-labelledby="lang-dropdown-mobile">
		{% for language in instance.language|list_unselected %}
		<li role="none">
			<form action="{{ instance|url:'set-enrollment-language' }}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ request.get_full_path }}" />
				<input name="language" type="hidden" value="{{ language }}" />
				<button type="submit" class="btn">{{ language|language_name_local }}</button>
			</form>
		</li>
		{% endfor %}
	</ul>
</li>
{% endif %}
<li class="header">
	{% if instance.language|first == "|" %}
	<div class="course-sidebar-button pull-right hidden-xs dropdown">
		<input type="image" src="{% static 'images/uls.svg' %}" alt="{% translate 'LANGUAGE' %}"
			class="aplus-button--secondary aplus-button--xs" id="lang-dropdown-desktop" type="button"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-dropdown-desktop">
			{% for language in instance.language|list_unselected %}
			<li>
				<form action="{{ instance|url:'set-enrollment-language' }}" method="post">
					{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path }}" />
					<input name="language" type="hidden" value="{{ language }}" />
					<button type="submit" class="btn">{{ language|language_name_local }}</button>
				</form>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<div class="course-sidebar-button pull-right hidden-xs">
		<button
			class="aplus-button--secondary aplus-button--xs course-sidebar-collapser"
			title="{% translate "CLOSE_SIDEBAR" %}"
			aria-label="{% translate "CLOSE_SIDEBAR" %}"
		>
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</button>
	</div>
	<h4 id="course-menu-heading">{% translate "COURSE" %}</h4>
</li>

<li class="menu-home">
	<a href="{{ instance|url }}">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		{{ course.code }}
	</a>
</li>
<li class="menu-toc">
	<a href="{{ instance|url:'toc' }}">
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		{% translate "COURSE_MATERIALS" %}
	</a>
</li>
<li class="menu-results">
	<a href="{{ instance|url:'results' }}">
		<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
		{% translate "EXERCISE_RESULTS" %}
	</a>
</li>

{% max_group_size as max_group %}
{% if max_group > 1 %}
<li class="menu-groups">
	<a href="{{ instance|url:'groups' }}">
		<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
		{% translate "FORM_A_GROUP" %}
	</a>
</li>
{% endif %}


{% for group in course_menu.student_link_groups %}
{% if group.label %}
<li class="header">
	<h4>{{ group.label|parse_localization }}</h4>
</li>
{% endif %}
{% for entry in group.items %}
{% if entry.enabled %}
<li>
	<a href="{{ entry.url }}" {% if entry.blank %} target="_blank" {% endif %}>
		{% if entry.icon_class %}
		<span class="glyphicon glyphicon-{{ entry.icon_class }}" aria-hidden="true"></span>
		{% endif %}
		{{ entry.label|parse_localization }}
	</a>
</li>
{% endif %}
{% endfor %}
{% endfor %}

{% for tab in instance.tabs.all %}
{% if forloop.first %}
<li class="header">
	<h4>{% translate "APPS" %}</h4>
</li>
{% endif %}
<li class="menu-tab{{ tab.id }}">
	<a href="{% url 'apps-tab' course_slug=course.url instance_slug=instance.url tab_id=tab.id %}">
		<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
		{{ tab.label }}
	</a>
</li>
{% endfor %}

{% if is_course_staff %}
<li class="header">
	<h4>{% translate "COURSE_STAFF" %}</h4>
</li>

<li class="menu-participants">
	<a href="{{ instance|url:'participants' }}">
		<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
		{% translate "PARTICIPANTS" %}
	</a>
</li>

<li class="menu-groups-edit">
	<a href="{{ instance|url:'groups-list' }}">
		<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
		{% translate "GROUPS" %}
	</a>
</li>

{% if instance.coursediplomadesign %}
<li class="menu-grades">
	<a href="{% url 'diploma-list' instance.coursediplomadesign.id %}">
		<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
		{% translate "GRADES" %}
	</a>
</li>
{% endif %}

<li class="menu-all-results">
	<a href="{{ instance|url:'all-results' }}">
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
		{% translate "ALL_RESULTS" %}
	</a>
</li>

<li class="menu-analytics">
	<a href="{{ instance|url:'analytics' }}">
		<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
		{% translate "VISUALIZATIONS" %}
	</a>
</li>

{% if is_teacher %}
<li class="menu-edit-news">
	<a href="{{ instance|url:'news-list' }}">
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		{% translate "EDIT_NEWS" %}
	</a>
</li>
<li class="menu-edit-course">
	<a href="{{ instance|url:'course-edit' }}">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		{% translate "EDIT_COURSE" %}
	</a>
</li>
<li class="menu-deadline-deviations">
	<a href="{{ instance|url:'deviations-list-dl' }}">
		<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
		{% translate "DEADLINE_DEVIATIONS" %}
	</a>
</li>
<li class="menu-submission-deviations">
	<a href="{{ instance|url:'deviations-list-submissions' }}">
		<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
		{% translate "SUBMISSION_DEVIATIONS" %}
	</a>
</li>
{% endif %}

{% for group in course_menu.staff_link_groups %}
{% if group.label %}
<li class="header">
	<h4>{{ group.label|parse_localization }}</h4>
</li>
{% endif %}
{% for entry in group.items %}
{% if entry.enabled %}
{% if is_teacher or entry|is_assistant_link %}
<li>
	<a href="{{ entry.url }}" {% if entry.blank %} target="_blank" {% endif %}>
		{% if entry.icon_class %}
		<span class="glyphicon glyphicon-{{ entry.icon_class }}" aria-hidden="true"></span>
		{% endif %}
		{{ entry.label|parse_localization }}
	</a>
</li>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}

{% comment %}
{% if is_student %}
<li class="header">
	<h4>{% trans "ENROLLMENT" %}</h4>
</li>
<li class="menu-unenroll">
	<a data-toggle="modal" data-target="#unenroll-modal" role="button">
		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
		{% trans "UNENROLL" %}
	</a>
</li>
{% endif %}
{% endcomment %}
