{% load i18n %}
{% load course %}

{% if not is_student and not instance.is_past and not instance.has_enrollment_closed %}
	<div class="alert alert-info">
	{% if enrollable or is_course_staff %}
		{% if instance.is_enrollment_open %}
			<form method="post" action="{{ instance|url:'enroll' }}">
				{% csrf_token %}
				{% if instance.view_content_to > 1 %}
					{% translate "ENROLL_TO_SUBMIT_EXERCISES" %}
				{% else %}
					{% translate "ENROLL_TO_SUBMIT_EXERCISES_AND_SEE_MATERIAL" %}
				{% endif %}
				<input type="submit" value="{% translate "ENROLL" %}" class="aplus-button--default aplus-button--md">
				{% if instance.enrollment_ending_time %}
					<div>
						<small>
							{% blocktranslate trimmed with end=instance.enrollment_ending_time %}
							ENROLLMENT_OPEN_UNTIL -- {{ end }}
							{% endblocktranslate %}
						</small>
					</div>
				{% endif %}
			</form>
		{% elif instance.has_enrollment_closed %}
			{% translate "ENROLLMENT_HAS_ENDED" %}
		{% else %}
			{% blocktranslate trimmed with start=instance.enrollment_start end=instance.enrollment_end %}
				COURSE_OPENS -- {{ start }}
			{% endblocktranslate %}
		{% endif %}
	{% elif profile %}
		{% if instance.view_content_to < 3 %}
			{% translate "ENROLLMENT_AND_CONTENT_EXPLORATION_NOT_ALLOWED" %}
		{% else %}
			{% translate "ENROLLMENT_NOT_ALLOWED_BUT_CAN_EXPLORE_CONTENT" %}
		{% endif %}
	{% else %}
		{% translate "LOGIN_REQUIRED_FOR_SUBMISSIONS_BUT_CAN_EXPLORE_CONTENT" %}
	{% endif %}
</div>
{% endif %}
