{% load i18n %}
{% load course %}
{% if groups %}
<li role="presentation" class="menu-groups">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {% if enrollment.selected_group %}
    <small>{% trans "You are now submitting as a group" %}</small>
    {% avatars enrollment.selected_group.members.all %}
    {% else %}
    <small>{% trans "You are now submitting alone" %}</small>
    {% endif %}
    <span class="caret" aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <form id="group-select-form" method="post" action="{{ instance|url:'group-select' }}">
        {% csrf_token %}
        <button type="submit" name="group" value="0" class="btn btn-link">
          {% trans "Submit alone" %}
        </button>
      </form>
    </li>
    {% for group in groups %}
    <li>
      <form id="group-select-form" method="post" action="{{ instance|url:'group-select' }}">
        {% csrf_token %}
        <button type="submit" name="group" value="{{ group.id }}" class="btn btn-link">
          {{ group.members.all|profiles }}
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
</li>
{% endif %}
