{% load i18n %}
{% load course %}
{% if groups %}
<li role="presentation" class="menu-groups nav-item dropdown">
  <a href="#" class="btn btn-link py-2 px-2 px-lg-2 dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="selection">
      <span id="group-selection-icon">
        {% if "alone" in selected %}
          <i class="bi-person-fill" aria-hidden="true"></i>
        {% else %}
          <i class="bi-people-fill" aria-hidden="true"></i>
        {% endif %}
      </span>
      <span id="group-selection-label" class="d-none d-md-inline-flex align-items-center">
        <span style="max-width: 15vw; text-overflow: ellipsis; overflow: hidden;">
          {{ selected }}
        </span>
      </span>
      <span class="caret" aria-hidden="true"></span>
    </span>
    <span class="loader d-none">
      <small>{% translate "GROUP_LOADER_REGISTERING_SELECTION" %}</small>
    </span>
  </a>
  <ul class="dropdown-menu" style="position: absolute; right: 0; left: auto">
    <li>
      <form id="group-select-form" method="post" action="{{ instance|url:'group-select' }}">
        {% csrf_token %}
        <button class="dropdown-item" type="submit" name="group" value="0" data-group-size="1">
          <i class="bi-person-fill" aria-hidden="true"></i>
          {% translate "SUBMIT_ALONE" %}
        </button>
      </form>
    </li>
    {% for group in groups %}
    <li>
      <form id="group-select-form" method="post" action="{{ instance|url:'group-select' }}">
        {% csrf_token %}
        <button class="dropdown-item" type="submit" name="group" value="{{ group.id }}" data-group-size="{{ group.size }}">
          <i class="bi-people-fill" aria-hidden="true"></i>
          {% blocktranslate trimmed with collaborators=group.collaborators %}
            SUBMIT_WITH -- {{ collaborators }}
          {% endblocktranslate %}
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
</li>
{% endif %}
