{% load i18n %}
{% load course %}

{% if module.status == 'maintenance' %}
<p>
  {% trans 'Unfortunately this module is currently under maintenance.' %}
</p>
{% else %}

{% for lobject in objects %}
{% if lobject.sub == 'open' %}
<ul class="toc">
{% elif lobject.sub == 'close' %}
</ul>
{% else %}
    <li>
        {% if open %}
        {% if lobject.is_empty %}
        {{ lobject }}
        {% else %}
        <a href="{{ lobject|url }}">{{ lobject }}</a>
        {% endif %}

        {% else %}
        {{ lobject }}
        {% if is_course_staff %}
        <a class="btn btn-default btn-xs" href="{{ lobject|url }}">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {% trans "Early access" %}
        </a>
        {% endif %}
        {% endif %}
    </li>
{% endif %}
{% endfor %}

{% endif %}
