{% load i18n %}
{% load course %}
<nav class="row siblings">

    {% if next %}
    {% if next.opening_time <= now %}
    <a href="{{ next.link }}" class="pull-right btn btn-link">
        {{ next.name }} &raquo;
    </a>
    {% else %}
    <span class="pull-right btn btn-link disabled">
        {{ next.name }} &raquo;
        {% if is_course_staff %}
        <a href="{{ next.link }}" class="pull-right btn btn-default btn-xs">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {% trans "Early access" %}
        </a>
        {% endif %}
    </span>
    {% endif %}
    {% endif %}

    {% if previous %}
    {% if previous.opening_time <= now %}
    <a href="{{ previous.link }}" class="btn btn-link">
        &laquo; {{ previous.name }}
    </a>
    {% else %}
    <span class="btn btn-link disabled">
        &laquo; {{ previous.name }}
        {% if is_course_staff %}
        <a href="{{ previous.link }}" class="pull-right btn btn-default btn-xs">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {% trans "Early access" %}
        </a>
        {% endif %}
    </span>
    {% endif %}
    {% endif %}
</nav>
