{% extends "course/course_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load course %}

{% block title %}{{ block.super }}: {{ chapter }}{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'exercise/poll.js' %}"></script>
<script src="{% static 'course/chapter.js' %}"></script>
{% endblock %}

{% block siblings %}
{% with next=chapter.next previous=chapter.previous %}
{% include "course/_siblings.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li><a href="{{ module|url }}">{{ module }}</a></li>
<li class="active">{{ chapter }}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
	<div id="chapter" data-chapter-url="{{ chapter|url }}">

		<div id="loading-indicator" class="hide progress"
			data-msg-load="{% trans 'Loading exercise...' %}"
			data-msg-submit="{% trans 'Posting submission...' %}"
			data-msg-error="{% trans 'Communication error with the exercise.' %}">
			<div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;"></div>
		</div>

		<div id="embed-modal" class="modal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							{% trans "Close" %}
						</button>
					</div>
				</div>
			</div>
		</div>

		{{ content|safe }}
	</div>
</div>
{% endblock %}
