{% extends "base.html" %}
{% load i18n %}
{% load base %}
{% load course %}

{% block scripts %}
{{ block.super }}
{% for url in instance.head_css_urls %}
<link rel="stylesheet" href="{{ url }}" />
{% endfor %}
{% for url in instance.head_js_urls %}
<script src="{{ url }}"></script>
{% endfor %}
{% endblock %}

{% block container_opening_tag %}
<div class="site-content container-fluid" id="content">
{% endblock %}

{% block container_closing_tag %}
</div>
{% endblock %}

{% block title %}{{ course.name|parse_localization }} | {{ block.super }} {% endblock %}

{% block alternates %}
{% for language in instance.languages %}
<link rel="alternate" hreflang="{{ language }}" href="{{ request.get_full_path|localized_url:language }}" />
{% endfor %}
<link rel="alternate" hreflang="x-default" href="{{ request.get_full_path|localized_url:instance.default_language }}" />
{% endblock %}

{% block content %}
<div data-taggings="{{ taggings|join:' ' }}" class="row">
	{% block course_sidebar %}
	<button
		class="d-none course-sidebar-expander"
		title="{% translate 'OPEN_SIDEBAR' %}"
		aria-label="{% translate 'OPEN_SIDEBAR' %}"
	>
		<i class="bi-caret-right-fill" aria-hidden="true"></i>
	</button>
	<div class="col-sm-2 d-none d-sm-block" id="course-sidebar">
		<nav class="course-menu" id="main-course-menu" aria-labelledby="course-menu-heading">
			<ul class="nav nav-pills nav-stacked flex-column" aria-orientation="vertical">
				{% include "course/_course_menu.html" %}
			</ul>
			{% site_advert as advert %}
			{% if advert %}
				<div class="thumbnail advert-thumbnail">
					<div class="caption">
						<h4>{{ advert.title }}</h4>
						<p>{{ advert.text|safe }}</p>
						<div class="buttons">
							<a href="{{ advert.href }}" target="_blank">
								{% translate "READ_MORE" %}
							</a>
						</div>
					</div>
				</div>
			{% endif %}
		</nav>

		{% comment %}
		<div class="calendar-view">
			<h4>{% trans "Calendar" %}</h4>
			<div id="study-calendar"></div>
			<p>
				<a href="{{ instance|url:'export-calendar' }}">
					<small class="text-body-secondary">{% trans "Download calendar (ics)" %}</small>
				</a>
			</p>
		</div>
		{% endcomment %}
	</div>
	{% endblock course_sidebar %}
	<div class="col-sm-10" id="course-content">
		{% if instance %}
		{% course_alert instance %}
		{% endif %}
		{% if instance.is_past and instance.has_enrollment_closed %}
			<div class="alert sticky-alert alert-default">
				{% translate "COURSE_HAS_ALREADY_ENDED" %}
				{% if instance.later_instance and instance.later_instance|is_visible_to:user %}
					<p>
						{% translate "LATEST_COURSE_INSTANCE_CAN_BE_FOUND" %}
						<a class="alert-link" href="{{ instance.later_instance|url }}">
							<span lang="{{ instance.later_instance.language }}">
								{{ instance.later_instance.course.name|parse_localization }}: {{ instance.later_instance.instance_name|parse_localization }}
							</span>
						</a>
					</p>
				{% endif %}
			</div>
		{% endif %}
		{% if query_language %}
			{% language user_language %}
			<div lang={{user_language}}>
				<div class="alert alert-default">
					<img class="language-icon" src="/static/images/uls.svg" alt="">
					{% blocktranslate trimmed with display_lang=query_language|language_name_translated pref_lang=user_language|language_name_translated %}
						LANGUAGE_WARNING_BROWSING_IN_DIFFERENT_LANGUAGE_THAN_IN_PREFERENCES -- {{ display_lang }}, {{ pref_lang }}
					{% endblocktranslate %}
					{% if user_course_data %}
						<div class="button-container">
							<form action="{{ url_without_language }}">
								<button type="submit" class="aplus-button--secondary aplus-button--md">
									{% blocktranslate trimmed with lang=user_language|language_name_translated %}
										LANGUAGE_BROWSE_COURSE_IN -- {{ lang }}
									{% endblocktranslate %}
								</button>
							</form>
							<form action="{{ instance|url:'set-enrollment-language' }}" method="post">
								{% csrf_token %}
								<input name="language" type="hidden" value="{{ query_language }}" />
								<button type="submit" class="aplus-button--secondary aplus-button--md">
									{% blocktranslate trimmed with lang=query_language|language_name_translated %}
										LANGUAGE_SET_COURSE_LANGUAGE -- {{ lang }}
									{% endblocktranslate %}
								</button>
							</form>
						</div>
					{% else %}
						{% translate "LANGUAGE_CAN_BE_CHANGED_FROM_PROFILE" %}
						<form action="{{ url_without_language }}">
							<button type="submit" class="aplus-button--secondary aplus-button--md">
								{% blocktranslate trimmed with lang=user_language|language_name_translated %}
									LANGUAGE_BROWSE_COURSE_IN -- {{ lang }}
								{% endblocktranslate %}
							</button>
						</form>
					{% endif %}
				</div>
			</div>
			{% endlanguage %}
		{% endif %}
		{% block siblings %}{% endblock %}
		{% block breadcrumb %}
		<nav aria-label="{% translate 'BREADCRUMB' %}">
			<ol class="breadcrumb">
				{% block breadcrumblist %}
				<li class="breadcrumb-item"><a href="{{ instance|url }}">{{ course.code }}</a></li>
				{% endblock %}
			</ol>
		</nav>
		{% endblock %}
		<main class="row">
			{% block columns %}
			<div class="col-lg-9">
				{% block coursecontent %}
				{% endblock %}
			</div>
			<div class="col-lg-3">
				{% block sidecontent %}
				{% endblock %}
			</div>
			{% endblock %}
		</main>
		{% block siblings_bottom %}{% endblock %}
	</div>
</div>

{% comment %}
<div id="unenroll-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="unenroll-modal-title">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="unenroll-modal-title">
				{% trans "UNENROLL" %}
			</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "CLOSE" %}">
			</button>
		</div>
		<div class="modal-body">
			<p>
				{% trans "UNENROLL_WARNING_DESCRIPTION" %}
				{% if not instance.is_enrollment_open %}
					{% trans "UNENROLL_WARNING_CANNOT_RE-ENROLL" %}
				{% endif %}
			</p>
			<p>
				{%trans "PROCEED_CONFIRMATION" %}
			</p>
		</div>
		<div class="modal-footer">
			<form action="{{ instance|url:'unenroll' }}" method="post">
				{% csrf_token %}
				<button
					type="button"
					class="aplus-button--secondary aplus-button--md"
					data-bs-dismiss="modal"
				>
					{% trans "CANCEL" %}
				</button>
				<button
					type="submit"
					class="aplus-button--danger aplus-button--md"
				>
					{% trans "UNENROLL" %}
				</button>
			</form>
		</div>
	  </div>
	</div>
</div>
{% endcomment %}

<script>
	$(document).ajaxStop(function(e) {
		const stickyAlert = $('.sticky-alert');
		if (stickyAlert.length > 0) {
			const currentOffset = $(document).scrollTop();
			const alertHeight = stickyAlert[0].offsetHeight;
			if (currentOffset > alertHeight) {
				const offset = currentOffset - alertHeight;
				window.scrollTo({ top: offset });
			}
		}
		$(this).unbind('ajaxStop');
	});
</script>

{% endblock %}

{% block mobilemenu %}
{{ block.super }}
{% include "course/_course_menu.html" %}
{% endblock %}
