{% extends "base.html" %}

{% block title %}
    {{ course.name }}
{% endblock %}

{% block maintitle %}
    <h1>{{ instance.course }} <small>{{ instance.instance_name }}</small></h1>
{% endblock %}


{% block breadcrumb %}{% endblock %}


{% block content %}
<div class="row">

    <div class="span2">
        <ul id="course-menu" class="nav nav-list">
        {% include "course/_course_menu.html" with instance=instance %}
        </ul>
    </div>

    <div class="span10">
        {% block coursecontent %}
        {% endblock %}
    </div>

</div>
{% endblock %}
