{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load apps %}

{% block title %}{% translate "ENROLLMENT" %} | {{ block.super }}{% endblock %}
{% block view_tag %}enroll{% endblock %}
{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "ENROLLMENT" %}</li>
{% endblock %}

{% block coursecontent %}
{% if is_student %}
  <div class="alert alert-info">
    {% translate "ENROLLMENT_IS_ALREADY_ENROLLED" %}
  </div>
{% else %}
  {% include "course/_enroll_form.html" %}
{% endif %}

<p>
  {% translate "ENROLLMENT_TARGET_GROUP" %}: {{ instance.enrollment_audience|enrollment_audience }}<br>
  {% blocktranslate trimmed with start=instance.enrollment_start end=instance.enrollment_end %}
    ENROLLMENT_OPEN_BETWEEN -- {{ start }}, {{ end }}
  {% endblocktranslate %}<br>
  {% translate "COURSE_VISIBILITY" %}: {{ instance.view_content_to|view_content_to }}
</p>

<div class="index">
  {{ instance.description|safe }}
</div>

<div class="index">
  {{ instance.footer|safe }}
</div>
{% endblock %}

{% block sidecontent %}
    {% plugin_renderers user instance as plugins %}
    {% for plugin in plugins %}
        {{ plugin.render|safe }}
    {% endfor %}
{% endblock %}
