{% extends "course/course_base.html" %}
{% load i18n %}
{% load humanize %}
{% load course %}
{% load exercise %}
{% load django_bootstrap5 %}

{% block title %}{% translate "MY_GROUPS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}groups{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "MY_GROUPS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-7">
  {% if instance.group_work_allowed %}

  <div class="alert alert-info">
    {% translate "[STAFF_HAS_NONE]" as staff_code %}
    {% blocktranslate trimmed with code=enrollment.personal_code|default:staff_code %}
      GROUP_PERSONAL_JOIN_CODE -- {{ code }}
    {% endblocktranslate %}
  </div>

  <form method="post" class="card form-horizontal">
    {% csrf_token %}
    <div class="card-body">
      <p>
        {% blocktranslate trimmed %}
          GROUP_CREATION_INSTRUCTIONS
        {% endblocktranslate %}
      </p>
      {% bootstrap_form form %}
      <button type="submit" class="aplus-button--default aplus-button--md mt-2">
          {% translate "GROUP_FORM_NEW" %}
      </button>
    </div>
  </form>

  {% else %}

  {% translate "GROUP_SUBMISSIONS_NOT_USED_ON_COURSE" %}

  {% endif %}
</div>
<div class="col-md-5">

  <div class="card">
    <div class="card-header bg-primary text-white">
      {% translate "MY_GROUPS" %}
    </div>
    <table class="table mb-0">
      {% for group in groups %}
      <tr>
        <td>{{ group.members.all|names }}</td>
        <td>{{ group.timestamp|naturalday }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">{% translate "NO_GROUPS_YET" %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}
