{% extends "course/course_base.html" %}
{% load i18n %}
{% load humanize %}
{% load course %}
{% load exercise %}
{% load bootstrap %}

{% block title %}{% translate "MY_GROUPS" %} | {{ block.super }}{% endblock %}
{% block view_tag %}groups{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% translate "MY_GROUPS" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-7">
  {% max_group_size as max_size %}
  {% if max_size > 1 %}

  <div class="alert alert-info">
    {% translate "[STAFF_HAS_NONE]" as staff_code %}
    {% blocktranslate trimmed with code=enrollment.personal_code|default:staff_code %}
      GROUP_PERSONAL_JOIN_CODE -- {{ code }}
    {% endblocktranslate %}
  </div>

  <form method="post" class="well form-horizontal">
    {% csrf_token %}
    <p>
      {% blocktranslate trimmed %}
        GROUP_CREATION_INSTRUCTIONS
      {% endblocktranslate %}
    </p>
    {{ form|bootstrap_horizontal }}
    <button type="submit" class="aplus-button--default aplus-button--md">
        {% translate "GROUP_FORM_NEW" %}
    </button>
  </form>

  {% else %}

  {% translate "GROUP_SUBMISSIONS_NOT_USED_ON_COURSE" %}

  {% endif %}
</div>
<div class="col-md-5">

  <div class="panel panel-primary">
    <div class="panel-heading">
      {% translate "MY_GROUPS" %}
    </div>
    <table class="table">
      {% for group in groups %}
      <tr>
        <td>{% avatars group.members.all %}</td>
        <td>{{ group.members.all|names }}</td>
        <td>{{ group.timestamp|naturalday }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">{% translate "NO_GROUPS_YET" %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}
