{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load course %}

{% block content %}

<div class="page-header">
    <h1>{{ welcome_text|safe }}</h1>
</div>

<div class="row">
    {% for instance in instances %}
    {% with instance_url=instance|url %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail course-thumbnail">
            <div class="image" aria-hidden="true">
                {% if instance.image %}
                <img src="{{ instance.image.url }}" alt="{{ instance.course.name }}" />
                {% else %}
                <h1 class="glyphicon glyphicon-book"></h1>
                {% endif %}
            </div>
            <div class="caption">
                <h3>
                	<a href="{{ instance_url }}">
                        {{ instance.course.name }}<br />
                    </a>
                </h3>
                <p>
                    {{ instance.course.code }}
                    {% if not instance.visible_to_students %}
                    <span class="label label-danger">{% trans "Hidden from students" %}</span>
                    {% endif %}
                    <br />
                    <!--{{ instance.instance_name }}<br />-->
                    {{ instance.starting_time|date:"N j, Y" }} &ndash;
                    {{ instance.ending_time|date:"N j, Y" }}
                </p>
                <div class="buttons caption">
                    <a class="btn btn-primary btn-block" role="button" href="{{ instance_url }}">
                        {% trans "View course" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>

<p>
    {% url 'archive' as url %}
    {% blocktrans with url=url %}
    Old courses can be found at the <a href="{{ url }}">course archive</a>.
    {% endblocktrans %}
</p>

{% endblock %}
