{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load base %}
{% load course %}

{% block content %}

{% if welcome_text %}
<div class="page-header">
	<h1>{{ welcome_text|safe }}</h1>
</div>
{% endif %}

{% if is_logged_in %}
	<section class="frontpage frontpage-section">
		{% if my_instances %}
				<div class="section-heading">
					<h2>{% translate "MY_COURSES" %}</h2>
				</div>
				<div class="cards">
					{% include "course/_course_cards.html" with instances=my_instances condensed=False %}
				</div>
		{% else %}
			<div class="panel-body">
				<p class="panel-default-text">
					{% translate "MY_COURSES_EMPTY" %}
				</p>
			</div>
		{% endif %}
	</section>
{% endif %}

	<section class="frontpage frontpage-section">
		<div class="section-heading">
			<h2>{% translate "ALL_ONGOING_COURSES" %}</h2>
			<div class="action">
				{% url 'archive' as url %}
				<a href="{{ url }}">{% translate "SEE_ALL_COURSES" %}</a>
			</div>
		</div>
		<div class="cards">
			{% site_advert as advert %}
			{% if advert %}
				<div class="frontpage advert-card card">
					<a href="{{ advert.href }}" target="_blank">
						<div class="advert-image" aria-hidden="true">
							{% if advert.image %}
								<img class="card-img-top" src="{{ advert.image }}" alt="" />
							{% else %}
								<div class="card-img-top">
									<i class="glyphicon glyphicon-comment"></i>
								</div>
							{% endif %}
						</div>
						<div class="card-body">
							<h3 class="card-title">{{ advert.title }}</h3>
							<p class="card-text">{{ advert.text|safe }}</p>
						</div>
					</a>
				</div>
			{% endif %}
			{% if all_instances %}
				{% include "course/_course_cards.html" with instances=all_instances condensed=False %}
			{% endif %}	
		</div>
		{% if not all_instances and not siteadvert %}
			<div class="panel-body">
				<p class="panel-default-text">
					{% translate "NO_ACTIVE_COURSES" %}
				</p>
			</div>
		{% endif %}
	</section>
{% endblock %}
