{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load apps %}

{% block title %}{{ block.super }}: {{ module }}{% endblock %}

{% block siblings %}
{% with next=module.next previous=module.previous %}
{% include "course/_siblings.html" %}
{% endwith %}
{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{{ module }}</li>
{% endblock %}

{% block coursecontent %}
    <p>
        <span class="small">
            {{ module.opening_time }}
            &ndash; {{ module.closing_time }}
        </span>
        {% if module.late_submissions_allowed %}
        <br />
        <span class="dates">
            <em>
                {% blocktrans with deadline=module.late_submission_deadline percent=module.get_late_submission_point_worth %}
                Late submission are allowed until {{ deadline }}
                but points are only worth {{ percent }} %.
                {% endblocktrans %}
            </em>
        </span>
        {% endif %}
    </p>

	{% if module.introduction %}
	<p>
		{{ module.introduction|safe }}
	</p>
	{% endif %}

    <ul class="chapters">
        {% for chapter in module.chapters.all %}
        <li>
            <a href="{{ chapter|url }}">
                {{ chapter }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% if not module.chapters.exists %}
    <ul class="exercises">
        {% for exercise in module.learning_objects.all %}
        <li>
            <a href="{{ exercise|url }}">
                {{ exercise }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block sidecontent %}
    {% plugin_renderers user instance as plugins %}
    {% for plugin in plugins %}
        {{ plugin.render|safe }}
    {% endfor %}
{% endblock %}
