{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}

{% block title %}{{ block.super }}: {% trans "Participants" %}{% endblock %}
{% block view_tag %}participants{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Participants" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-12">
    <h2>
      {% trans "Participants" %}
      &nbsp; <small id="participants-number"></small>
    </h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th><a href="#" class="order-toggle" id="order-id">{% trans "Student id" %} <span class="glyphicon glyphicon-triangle-bottom order-marker" aria-hidden="true"></span></a></th>
                <th><a href="#" class="order-toggle" id="order-last">{% trans "Last name" %} </a></th>
                <th><a href="#" class="order-toggle" id="order-first">{% trans "First name" %} </a></th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Tags" %}</th>
            </tr>
        </thead>
        <tbody id="participants">
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
  $(function() {

    var participants = {{ participants|safe }};

    $('#participants-number').text(participants.length);

    participants.sort(function(a, b) { return a.id.localeCompare(b.id); });

    var insertItems = function() {
      $('#participants').children().remove();
      participants.forEach(function(participant) {
        var row = $('<tr></tr>').appendTo('tbody');
        var link = $('<a></a>').attr('href', participant.link);
        $('<td></td>').append(link.clone().text(participant.id)).appendTo(row);
        $('<td></td>').append(link.clone().text(participant.last_name)).appendTo(row);
        $('<td></td>').append(link.clone().text(participant.first_name)).appendTo(row);
        //link = $('<a></a>').attr('href', 'mailto:' + participant.email);
        $('<td></td>').append(link.clone().text(participant.email)).appendTo(row);
        $('<td></td>').html(participant.tags).appendTo(row);
      });
    };

    insertItems();

    $('a.order-toggle').click(function(event) {
      event.preventDefault();

      $('.order-marker').remove();
      $(this).append($('<span class="glyphicon glyphicon-triangle-bottom order-marker" aria-hidden="true"></span>'));

      if ($(this).attr('id') === 'order-id') {
        participants.sort(function(a, b) { return a.id.localeCompare(b.id); });
        insertItems();
      } else if ($(this).attr('id') === 'order-last') {
        participants.sort(function(a, b) { return a.last_name.localeCompare(b.last_name); });
        insertItems();
      } else if ($(this).attr('id') === 'order-first') {
        participants.sort(function(a, b) { return a.first_name.localeCompare(b.first_name); });
        insertItems();
      }
    });

  });
</script>

{% endblock %}
