{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}
{% load apps %}

{% block view_tag %}home{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block coursecontent %}

{% if not enrolled %}
<div class="alert alert-info">
{% if enrollable %}
<form method="post" action="{{ instance|url:'enroll' }}">
  {% csrf_token %}
  {% if instance.view_content_to > 1 %}
  {% trans "In order to submit exercises, you must enroll to the course." %}
  {% else %}
  {% trans "In order to submit exercises and see material, you must enroll to the course." %}
  {% endif %}
  <input type="submit" value="{% trans 'Enroll' %}" class="btn btn-info">
</form>
{% elif profile %}
{% trans "Unfortunately, you cannot enroll to this course, but you may explore the course material." %}
{% else %}
{% trans "Login is required to submit exercises, but you may anonymously explore the course material." %}
{% endif %}
</div>
{% endif %}

<div>
    {{ instance.description|safe }}
</div>

{% if instance.index_mode == 1 %}
<ul class="toc">
    {% for module in instance.course_modules.all %}
    {% if module.status != 'hidden' %}
    {% with open=module.is_after_open %}
    <li>
        <h3>
            {% if open %}
            <a href="{{ module|url }}">{{ module }}</a>
            {% else %}
            {{ module }}
            {% if is_course_staff %}
            <a class="btn btn-default btn-xs" href="{{ module|url }}">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                {% trans "Early access" %}
            </a>
            {% endif %}
            {% endif %}
        </h3>
        <p>
            <small>{{ module.opening_time }} &ndash; {{ module.closing_time }}</small>
        </p>
        {% include 'course/_module_toc.html' with objects=module.flat_learning_objects %}
    </li>
    {% endwith %}
    {% endif %}
    {% endfor %}
</ul>

{% else %}
{% user_results %}
{% endif %}

<div>
  {{ instance.footer|safe }}
</div>
{% endblock %}

{% block sidecontent %}
    {% category_points %}

    {% plugin_renderers user instance as plugins %}
    {% for plugin in plugins %}
        {{ plugin.render|safe }}
    {% endfor %}
{% endblock %}
