/* Layout */
html,
body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	position: relative;
}
.site-content {
	padding-bottom: 70px;
	padding-top: 60px;
	@media (max-width: $grid-float-breakpoint-max) {
		padding-bottom: 250px;
	}
}
