/* site footer */

.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	z-index: 990;

	.nav > li > a {
		@include focus-with-background-and-color;
		color: $aplus-brand-primary;
		&:focus,
		&:hover {
			color: #236aa7;
		}
	}

	.navbar-text {
		color: $gray;

		@media (max-width: $grid-float-breakpoint-max) {
			// Use the same layout as the navbar links.
			padding: $nav-link-padding;
			margin: 0;
		}
	}
}
