/* site footer */

.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	z-index: 990;

	.nav > li > a {
		@include focus-with-background-and-color;
		color: var(--bs-body-color, $aplus-brand-primary);
		&:focus,
		&:hover {
			color: var(--bs-emphasis-color, #236aa7);
		}
	}

	.navbar-text {
		color: var(--bs-secondary-text-emphasis, $gray);
		size: 0.85em;

		@media (max-width: $grid-float-breakpoint-max) {
			// Use the same layout as the navbar links.
			padding: $nav-link-padding;
			margin: 0;
		}
	}
}
