// Since the top navbar is sticky, apply scroll-margin-top to all potential scroll targets to avoid them being hidden behind the navbar
h1, h2, h3, h4, h5, h6,
#modulesAccordion .accordion-header,
[id]:not(html):not(body),
.anchor,
.scroll-target,
section,
article {
    scroll-margin-top: 60px;
}

.navbar-dropdown {
	@extend .navbar-nav;
	margin: 0;
	float: left;
}

.topbar {
	background-color: $aplus-brand-primary;
	border-bottom: none;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25),
		inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25),
		inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 22px;

	.nav-link {
		--bs-nav-link-padding-x: 0.5rem;
	}

	.navbar-brand,
	.navbar-dropdown > a,
	.navbar-toggler,
	.navbar-nav > li > a,
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover {
		@include focus-with-outline-only;
		text-decoration: none;
		color: #ffffff;
		background: transparent;
	}

	.navbar-toggler {
		&:focus {
			box-shadow: 0 0 0 0.25rem $aplus-focus;
		}
	}

	.navbar-brand, .navbar-dropdown > li.dropdown > a.dropdown-toggle {
		padding-top: $navbar-padding-vertical;
		padding-bottom: $navbar-padding-vertical;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		--bs-btn-active-color:#ffffff;
	}

	.navbar-brand {
		margin-left: -12px;
	}

	a.navbar-brand:hover,
	a.navbar-dropdown > a:hover,
	.navbar-toggler:hover,
	.navbar-nav > li > a:hover,
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:focus,
	.navbar-nav > .open > a:hover {
		@include focus-with-outline-only;
		background-color: #236aa7;
		background-color: rgba(0, 0, 0, 0.1);
	}
	.navbar-nav > li.active > a:focus,
	.navbar-nav > li.open > a:focus {
		&:focus,
		&:hover {
			@include focus-with-outline-only;
			background-color: rgba(0,0,0,0.1);
		}
	}
	.navbar-dropdown {
		div.dropdown-backdrop {
			display: none;
		}

		li.dropdown > a.dropdown-toggle {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
		}
	}
}

// Make the left side (brand + course dropdown) flexible
.topbar .d-flex.align-items-center.ps-2 {
    flex: 1 1 auto;
    min-width: 0;

    .navbar-dropdown {
        min-width: 0;

        li.dropdown {
            min-width: 0;

            > a.dropdown-toggle {
                max-width: 100%;
            }
        }
    }
}

// Ensure the right side doesn't shrink
.topbar .d-flex.gap-2 {
    flex: 0 0 auto;
}
