{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}

{% block edittitle %}{% translate "BATCH_ASSESS_SUBMISSIONS" %}{% endblock %}
{% block view_tag %}edit-course,batch-assess{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "BATCH_CREATE_AND_ASSESS_SUBMISSIONS" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% translate "BATCH_CREATE_AND_ASSESS_SUBMISSIONS" %}</h3>
    </div>
    <div class="panel-body">
        {% blocktranslate trimmed with profile.id as id %}
          BATCH_CREATE_AND_ASSESS_JSON_FORM_INSTRUCTIONS -- {{ id }}
        {% endblocktranslate %}
<pre>{
  "objects": [
    {
      "students_by_student_id": [
        "XXXXX1"
      ],
      "feedback": "Nicely solved exercise!",
      "grader": X1,
      "exercise_id": Z1,
      "submission_time": "2014-09-24 11:50",
      "points": 100
    },
    {
      "students_by_student_id": [
        "XXXXX2"
      ],
      "feedback": "You can do better!",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 20
    },
    {
      "students_by_email": [
        "none@no.email"
      ],
      "feedback": "Last one.",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 1
    },
    {
      "students_by_user_id": [
        "aplus user id 1",
        "aplus user id 2"
      ],
      "feedback": "User found using A+ user id. User id is used in API and grading request url",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 20
    }
  ]
}
</pre>
        <form method="post">
        	{% csrf_token %}
            <div class="form-group">
                <textarea name="submissions_json" style="width:100%;height:10em;"></textarea>
            </div>
            <button type="submit" class="aplus-button--default aplus-button--md">
                {% translate "SUBMIT" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
