{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}

{% block edittitle %}{% trans "Batch assess submissions" %}{% endblock %}
{% block view_tag %}edit-course,batch-assess{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Batch create and assess submissions" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Batch create and assess submissions" %}</h3>
    </div>
    <div class="panel-body">
        {% blocktrans with profile.id as id %}
<p><em>Use only if you know what you are doing!</em></p>
<p>By submitting json to the form below you can try to create and assess multiple exercises for students automatically.</p>
<dl>
	<dt>XXXXX1 and XXXXX2</dt>
    <dd>the real student ids</dd>
	<dt>X1 (integer)</dt>
    <dd>the system userprofile id of the desired grader. Your userprofile id is <b>{{id}}.</b></dd>
	<dt>Z1 and Z2 (integers)</dt>
    <dd>the system exercise ids</dd>
</dl>
{% endblocktrans %}
<pre>{
  "objects": [
    {
      "students_by_student_id": [
        "XXXXX1"
      ],
      "feedback": "Nicely solved exercise!",
      "grader": X1,
      "exercise_id": Z1,
      "submission_time": "2014-09-24 11:50",
      "points": 100
    },
    {
      "students_by_student_id": [
        "XXXXX2"
      ],
      "feedback": "You can do better!",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 20
    },
    {
      "students_by_email": [
        "none@no.email"
      ],
      "feedback": "Last one.",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 1
    },
    {
      "students_by_user_id": [
        "aplus user id 1",
        "aplus user id 2"
      ],
      "feedback": "User found using A+ user id. User id is used in API and grading request url",
      "grader": X1,
      "exercise_id": Z2,
      "submission_time": "2014-09-24 11:50",
      "points": 20
    }
  ]
}
</pre>
        <form method="post">
        	{% csrf_token %}
            <div class="form-group">
                <textarea name="submissions_json" style="width:100%;height:10em;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
