{% load i18n %}

{% if error %}
  <div class="alert clearfix alert-danger" role="alert">{{ error }}</div>
{% else %}
  <table class="table table-sm table-bordered table-condensed">
    <tbody>
      <tr>
        <td>{% translate "BUILD_INITIATED_BY" %}</td>
        <td>{{ request_ip }}</td>
      </tr>
      <tr>
        <td>{% translate "BUILD_INITIATED_AT" %}</td>
        <td>{{ request_time }}</td>
      </tr>
      {% if not updated %}
        <tr class="warning">
          <td>{% translate "BUILD_FINISHED" %}</td>
          <td>{% translate "BUILD_NOT_YET_BUILT" %}</td>
        </tr>
      {% else %}
        <tr>
          <td>{% translate "BUILD_FINISHED" %}</td>
          <td>{{ updated_time }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <pre>
  {{ build_log }}
  </pre>
{% endif %}
