{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load course %}
{% load editcourse %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "INSTANCES" %}</li>
{% endblock %}
{% block view_tag %}edit-course,course-clone{% endblock %}

{% block coursecontent %}
<br />
<div class="card mb-4">
  <div class="card-header bg-primary">
    <h5 class="card-title text-white">{% translate "COURSE_INSTANCES" %}</h5>
  </div>
  <table class="table table-striped table-bordered table-sm mb-0">
    <tbody>
      {% for ci in course.instances.all %}
      <tr>
        <td>
          {% if ci == instance %}
          <strong>{{ ci.instance_name }}</strong>
          {% else %}
          <a href="{{ ci|url:'course-clone' }}">{{ ci.instance_name }}</a>
          {% endif %}
          {% if not ci.visible_to_students %}
          <span class="badge text-bg-default">{% translate "HIDDEN_lowercase" %}</span>
          {% endif %}
        </td>
        <td>{{ ci.url }}</td>
        <td>{{ ci.starting_time }} &ndash; {{ ci.ending_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<form id="clone-form" method="post" class="card">
  <div class="card-body">
    {% csrf_token %}
    <legend>{% translate "CLONE_COURSE" %}</legend>
    <p>
        {% translate "CLONE_COURSE_AND_DATA_INTO_NEW_INSTANCE_DESCRIPTION" %}
    </p>
    {% bootstrap_form form %}
    <button type="submit" class="aplus-button--default aplus-button--md">
        {% translate "CLONE_INTO_NEW_INSTANCE" %}
    </button>
    <div class="d-none progress">
      <div class="aplus-progress-bar aplus-progress-bar-striped active" role="progressbar" style="width:100%;">
        {% translate "CLONING_COURSE" %}
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function() {
    var form = $("#clone-form");
    form.on("submit", function(event) {
        form.find('[type="submit"]').attr("disabled", true);
        form.find('.progress').removeClass("d-none");
    });
});
</script>
{% endblock %}
