{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load editcourse %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "GITMANAGER" %}</li>
{% endblock %}
{% block view_tag %}edit-course,gitmanager-details{% endblock %}

{% block coursecontent %}
<br />
<form id="gitmanager-form" method="post" class="card">
    <div class="card-body">
        {% csrf_token %}
        <legend>{% translate "EDIT_GITMANAGER" %}</legend>
        <a style="float: right" role="button" value="{{ gitmanager_url }}" href="javascript:;" id="gitmanager-link">
            {% translate "OPEN_IN_GITMANAGER" %}
        </a>
        <p>
            {% translate "EDIT_GITMANAGER_DESCRIPTION" %}
        </p>
        {% bootstrap_form form %}
        <button type="submit" class="aplus-button--default aplus-button--md">
            {% translate "SUBMIT" %}
        </button>
        <div class="d-none progress">
        <div class="aplus-progress-bar aplus-progress-bar-striped active" role="progressbar" style="width:100%;">
            {% translate "UPDATING_GITMANAGER" %}
        </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function() {
    var form = $("#gitmanager-form");
    form.on("submit", function(event) {
        form.find('[type="submit"]').attr("disabled", true);
        form.find('.progress').removeClass("d-none");
    });

    $("#gitmanager-link").on("click", async function(event) {
        event.preventDefault();

        // Fetch gitmanager access token
        const course_id = document.getElementById('id_remote_id').value;
        const data = JSON.stringify({
            "taud": "gitmanager",
            "exp": "01:00:00",
            "permissions": [
                ["instance", 1, {"id": course_id}],
                ["instance", 2, {"id": course_id}]
            ]
        });
        const response = await fetch('/api/v2/get-token/', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: data
        });
        const token = await response.json();

        // Login to gitmanager using generated access token
        const gitmanager_url = "{{ gitmanager_url }}";
        await fetch(gitmanager_url + "/login", {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Authorization': 'Bearer ' + token,
            },
        });

        // Navigate to gitmanager, now logged in
        window.location = gitmanager_url;

    });
});
</script>
{% endblock %}
