{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load editcourse %}
{% load bootstrap %}

{% block editbreadcrumblist %}
<li class="active">{% trans "Edit course" %}</li>
{% endblock %}

{% block coursecontent %}
<br>
<form method="post" class="well form-inline">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button class="btn btn-primary" type="submit">{% trans 'Apply configuration' %}</button>
</form>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Exercise categories" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for category in instance.categories.all %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ category|editurl:'category' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {% trans "Edit category" %}
                    </a>
                    {% if category.learning_objects.count == 0 %}
                    <a class="btn btn-default btn-xs" href="{{ category|removeurl:'category' }}">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="btn btn-primary btn-xs" href="{{ instance|createurl:'category' }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% trans "Add new category" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Course modules" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for module in instance.course_modules.all %}
            <tr class="success">
                <th>
                  <strong>{{ module }}</strong>
                  {% if module.status != 'ready' %}
                  <span class="label label-default">{{ module.status }}</span>
                  {% endif %}
                </th>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ module|editurl:'module' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit module" %}
                    </a>
                    {% if module.learning_objects.count == 0 %}
                    <a class="btn btn-default btn-xs" href="{{ module|removeurl:'module' }}">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    {% endif %}
                    <a class="btn btn-link btn-xs" href="{{ module|url }}">
                        {% trans "Open module" %}
                    </a>
                </td>
            </tr>
            {% for lobject in module.flat_admin_learning_objects %}
            {% if not lobject.sub %}
            <tr>
                <td>
                    {{ lobject }}
                    {% if lobject.status != 'ready' %}
                    <span class="label label-default">{{ lobject.status }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ lobject|editurl:'exercise' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit exercise" %}
                    </a>
                    <a class="btn btn-default btn-xs" href="{{ lobject|removeurl:'exercise' }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ lobject|url }}">
                    	{% trans "Open exercise" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ lobject|url:'submission-list' }}">
                    	{% trans "View submissions" %}
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2">
                    <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#lobject{{ module.id }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% trans "Add new learning object" %}
                    </a>
                    <div class="modal" id="lobject{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="lobject{{ module.id }}Label">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="lobject{{ module.id }}Label">
                              {% trans 'Choose learning object type to add' %}
                            </h4>
                          </div>
                          <div class="modal-body">
                            <div class="list-group">
                              <a href="{{ module|createurl:'exercise,chapter' }}" class="list-group-item">
                                <div><strong>{% trans "Content chapter" %}</strong></div>
                                {% trans "A remote content page loaded in as a chapter" %}
                              </a>
                              <a href="{{ module|createurl:'exercise' }}" class="list-group-item">
                                <div><strong>{% trans "Exercise" %}</strong></div>
                                {% trans "A remote exercise page loaded in for posting submissions" %}
                              </a>
                              <a href="{{ module|createurl:'exercise,attachment' }}" class="list-group-item">
                                <div><strong>{% trans "Exercise with attachment" %}</strong></div>
                                {% trans "A local page accepting files and initiating remote grading with teacher provided grading attachment" %}
                              </a>
                              <a href="{{ module|createurl:'exercise,static' }}" class="list-group-item">
                                <div><strong>{% trans "Static exercise" %}</strong></div>
                                {% trans "A local page with editable markup content" %}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="btn btn-primary btn-xs" href="{{ instance|createurl:'module' }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% trans "Add new module" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
