{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load course %}
{% load editcourse %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Index" %}</li>
{% endblock %}
{% block view_tag %}edit-course,course-index{% endblock %}

{% block coursecontent %}
<br />
<form method="post" class="well">
    {% csrf_token %}
    <legend>{% trans "Edit course index" %}</legend>
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary">
        {% trans "Save" %}
    </button>
</form>
{% endblock %}
