{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load editcourse %}

{% block editbreadcrumblist %}
<li class="active">{% trans "Edit course" %}</li>
{% endblock %}

{% block coursecontent %}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Exercise categories" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for category in instance.categories.all %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ category|editurl:'category' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {% trans "Edit category" %}
                    </a>
                    {% if category.learning_objects.count == 0 %}
                    <a class="btn btn-default btn-xs" href="{{ category|removeurl:'category' }}">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="btn btn-primary btn-xs" href="{{ instance|createurl:'category' }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% trans "Add new category" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Course modules" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for module in instance.course_modules.all %}
            <tr class="success">
                <th><strong>{{ module }}</strong></th>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ module|editurl:'module' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit module" %}
                    </a>
                    {% if module.learning_objects.count == 0 %}
                    <a class="btn btn-default btn-xs" href="{{ module|removeurl:'module' }}">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    {% endif %}
                    <a class="btn btn-link btn-xs" href="{{ module|url }}">
                        {% trans "Open module" %}
                    </a>
                </td>
            </tr>
            {% for object in module.chapters.all %}
            <tr>
                <td>
                    {{ object }}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ object|editurl:'chapter' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit chapter" %}
                    </a>
                    <a class="btn btn-default btn-xs" href="{{ object|removeurl:'chapter' }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ object|url }}">
                        {% trans "Open chapter" %}
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <a class="btn btn-success btn-xs" href="{{ module|createurl:'chapter' }}">
                        {% trans "Add new chapter" %}
                    </a>
                </td>
            </tr>
            {% for object in module.learning_objects.all %}
            <tr>
                <td>
                    {{ object }}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ object|editurl:'exercise' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Edit exercise" %}
                    </a>
                    <a class="btn btn-default btn-xs" href="{{ object|removeurl:'exercise' }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans "Remove" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ object|url }}">
                    	{% trans "Open exercise" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ object|url:'submission-list' }}">
                    	{% trans "View submissions" %}
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <div class="btn-group dropdown">
                        <a class="btn btn-success btn-xs" href="{{ module|createurl:'exercise' }}">
                            {% trans "Add new exercise" %}
                        </a>
                        <a class="dropdown-toggle btn btn-success btn-xs" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ module|createurl:'exercise' }}">
                                    {% trans "Add exercise" %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ module|createurl:'exercise,static' }}">
                                    {% trans "Add static exercise" %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ module|createurl:'exercise,attachment' }}">
                                    {% trans "Add exercise with attachment" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="btn btn-primary btn-xs" href="{{ instance|createurl:'module' }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {% trans "Add new module" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
