{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load bootstrap %}

{% block edittitle %}{% if object.id %}{% blocktranslate trimmed with model=model_name id=object.id %}EDIT_MODEL -- {{ model }}, {{ id }}{% endblocktranslate %}{% else %}{% blocktranslate trimmed with model=model_name %}ADD_NEW_MODEL -- {{ model }}{% endblocktranslate %}{% endif %}{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">
    {% if object.id %}
    	{% blocktranslate trimmed with model=model_name %}
    	    EDIT_MODEL -- {{ model }}
    	{% endblocktranslate %}
    {% else %}
        {% blocktranslate trimmed with model=model_name %}
            ADD_NEW_MODEL -- {{ model }}
        {% endblocktranslate %}
    {% endif %}
</li>
{% endblock %}

{% block coursecontent %}
<br />
<form method="post" class="well form-horizontal"{% if form.multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% if form.remote_service_head %}
    <fieldset>
        <legend>{% translate "REMOTE_SERVICE" %}</legend>

        <div>
            {{ form.service_url|bootstrap_horizontal }}
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <p>
                {% translate "FILL_IN_URL_AND" %}
                <a id="fetch-metadata" class="btn btn-primary btn-xs" href="#">
                    {% translate "DOWNLOAD_POSSIBLE_METADATA" %}
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </a>
            </p>
            <div id="metadata-progress" class="progress hide">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;"></div>
            </div>
        </div>
    </fieldset>
    {% endif %}

    {% for fieldset in form.get_fieldsets %}
    <fieldset>
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}
        {% for field in fieldset.fields %}
        {{ field|bootstrap_horizontal }}
        {% endfor %}
    </fieldset>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="aplus-button--default aplus-button--md">{% translate "SUBMIT" %}</button>
            <a class="aplus-button--secondary aplus-button--md" href="{{ instance|url:'course-edit' }}" role="button">
                {% translate "CANCEL" %}
            </a>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% if form.service_url %}
<script type="text/javascript">
$(function() {
    $("#fetch-metadata").on("click", function(event) {
        event.preventDefault();
        $("#metadata-progress").removeClass("hide").show();
        $.getJSON("{{ instance|url:'exercise-metadata' }}",
        	{
                exercise_url: $("#id_service_url").val()
            },
            function(data) {
                if (data.success) {
                    $("#id_name").val(data.name);
                    $("#id_description").val(data.description);
                } else {
                    alert(data.message);
                }
                $("#metadata-progress").hide();
            }
        );
    })
});
</script>
{% endif %}
{% endblock %}
