{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load course %}
{% load editcourse %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/ajax_search_select.js' %}"></script>
{% endblock scripts %}
{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Teachers" %}</li>
{% endblock %}
{% block view_tag %}edit-course,course-teachers{% endblock %}

{% block coursecontent %}
<br role="presentation">
<form method="post" enctype="multipart/form-data" class="well">
	{% csrf_token %}
	<legend>{% trans "Edit course teachers" %}</legend>
	{{ form|bootstrap }}
	<button type="submit" class="aplus-button--default aplus-button--md">
		{% trans "Save" %}
	</button>
</form>
{% endblock %}
