{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}

{% block title %}{{ block.super}}: {% block edittitle %}{% trans "Edit course" %}{% endblock %}{% endblock %}
{% block view_tag %}edit-course,edit-content{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
{% block editbreadcrumblist %}
<li><a href="{{ instance|url:'course-edit' }}">{% trans "Edit course" %}</a></li>
{% endblock %}
{% endblock %}

{% block columns %}
<div class="col-md-12">

    <ul class="nav nav-tabs">
        <li role="presentation" class="menu-edit-content">
        	<a href="{{ instance|url:'course-edit' }}">
                {% trans "Content" %}
            </a>
        </li>
        <li role="presentation" class="menu-deviations">
            <a href="{{ instance|url:'deviations-list-dl' }}">
                {% trans "Deviations" %}
            </a>
        </li>
        <li role="presentation" class="menu-batch-assess">
            <a href="{{ instance|url:'batch-assess-form' }}">
                {% trans "Batch assess" %}
            </a>
        </li>
        {% comment %}
        <li role="presentation" class="menu-clone-instant">
            <a href="{{ instance|url:'course-edit' }}">
                {% trans "Clone" %}
            </a>
        </li>
        {% endcomment %}
    </ul>

    {% block coursecontent %}{% endblock %}
</div>
{% endblock %}
