{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}
{% load editcourse %}
{% load bootstrap %}

{% block editbreadcrumblist %}
<li class="active">{% translate "EDIT_COURSE" %}</li>
{% endblock %}

{% block coursecontent %}
<br>
<div class="well">
  <form method="post" class="form-inline" action="{{ instance|url:'course-configure' }}">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label" for="id_url">{% translate "IMPORT_AND_OVERRIDE_CONTENT_CONFIG_URL" %}</label>
      <input type="text" class="form-control" id="id_url" name="url" value="{{ instance.configure_url }}">
    </div>
    <button class="aplus-button--default aplus-button--md" type="submit" name="apply">{% translate "APPLY" %}</button>
    <button class="aplus-button--secondary aplus-button--md" type="submit" name="cache">{% translate "CLEAR_CONTENT_CACHE" %}</button>
  </form>
  {% if instance.build_log_url %}
  <a class="aplus-button--secondary aplus-button--md page-modal" href="{{ instance|url:'course-build-log' }}" role="button">
    {% translate "RETRIEVE_LATEST_BUILD_LOG" %}
  </a>
  {% endif %}
  {% if instance.last_modified %}
  <br>
  <br>
  <p>{% translate "PREV_MODIFICATION_OF_COURSE_INSTANCE_TIME" %}:</p>
  <b>{{ instance.last_modified }}.</b>
  {% endif %}
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% translate "EXERCISE_CATEGORIES" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    {{ category.name|parse_localization }}
                </td>
                <td>
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ category|editurl:'category' }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {% translate "EDIT_CATEGORY" %}
                    </a>
                    {% if category.count_lobjects == 0 %}
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ category|removeurl:'category' }}" role="button">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% translate "REMOVE" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ instance|createurl:'category' }}" role="button">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% translate "ADD_NEW_CATEGORY" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% translate "COURSE_MODULES" %}</h3>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            {% for module in modules %}
            <tr class="success">
                <th>
                  <strong>{{ module|parse_localization }}</strong>
                  {% if module.status != 'ready' %}
                  <span class="label label-default">{{ module.status }}</span>
                  {% endif %}
                </th>
                <td>
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ module|editurl:'module' }}" role="button">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% translate "EDIT_MODULE" %}
                    </a>
                    {% if module.learning_objects.count == 0 %}
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ module|removeurl:'module' }}" role="button">
                    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% translate "REMOVE" %}
                    </a>
                    {% endif %}
                    <a class="btn btn-link btn-xs" href="{{ module|url }}">
                        {% translate "VIEW_MODULE" %}
                    </a>
                </td>
            </tr>
            {% for lobject in module.flat_objects %}
            <tr>
                <td>
                    {{ lobject|parse_localization }}
                    {% if lobject.status != 'ready' %}
                    <span class="label label-default">{{ lobject.status }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ lobject|editurl:'exercise' }}" role="button">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      {% if lobject.is_submittable %}{% translate "EDIT_EXERCISE" %}{% else %}{% translate "EDIT_CHAPTER" %}{% endif %}
                    </a>
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ lobject|removeurl:'exercise' }}" role="button">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% translate "REMOVE" %}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ lobject|url }}">
                      {% if lobject.is_submittable %}{% translate "VIEW_EXERCISE" %}{% else %}{% translate "VIEW_CHAPTER" %}{% endif %}
                    </a>
                    {% if lobject.is_submittable %}
                    <a class="btn btn-link btn-xs" href="{{ lobject|url:'submission-list' }}">
                    	{% translate "VIEW_SUBMISSIONS" %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <a class="aplus-button--secondary aplus-button--xs" data-toggle="modal" data-target="#lobject{{ module.id }}" role="button">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% translate "ADD_NEW_LEARNING_OBJECT" %}
                    </a>
                    <div class="modal" id="lobject{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="lobject{{ module.id }}Label">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="lobject{{ module.id }}Label">
                              {% translate "CHOOSE_LEARNING_OBJECT_TYPE" %}
                            </h4>
                          </div>
                          <div class="modal-body">
                            <div class="list-group">
                              <a href="{{ module|createurl:'exercise,chapter' }}" class="list-group-item">
                                <div><strong>{% translate "CHAPTER" %}</strong></div>
                                {% translate "REMOTE_CHAPTER_DESCRIPTION" %}
                              </a>
                              <a href="{{ module|createurl:'exercise' }}" class="list-group-item">
                                <div><strong>{% translate "EXERCISE" %}</strong></div>
                                {% translate "REMOTE_EXERCISE_PAGE_DESCRIPTION" %}
                              </a>
                              <a href="{{ module|createurl:'exercise,lti' }}" class="list-group-item">
                                <div><strong>{% translate "LTI_EXERCISE" %}</strong></div>
                                {% translate "REMOTE_LTI_EXERCISE_PAGE_DESCRIPTION" %}
                              </a>
                              <a href="{{ module|createurl:'exercise,attachment' }}" class="list-group-item">
                                <div><strong>{% translate "EXERCISE_WITH_ATTACHMENT" %}</strong></div>
                                {% translate "LOCAL_EXERCISE_WITH_ATTACHMENT_PAGE_DESCRIPTION" %}
                              </a>
                              <a href="{{ module|createurl:'exercise,static' }}" class="list-group-item">
                                <div><strong>{% translate "STATIC_EXERCISE" %}</strong></div>
                                {% translate "LOCAL_STATIC_EXERCISE_PAGE_DESCRIPTION" %}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2">
                    <a class="aplus-button--secondary aplus-button--xs" href="{{ instance|createurl:'module' }}" role="button">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        {% translate "ADD_NEW_MODULE" %}
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<form method="post" class="well">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button class="aplus-button--default aplus-button--md" type="submit" name="save">{% translate "SAVE" %}</button>
    <button class="aplus-button--secondary aplus-button--md" type="submit" name="renumbermodule">{% translate "RENUMERATE_LEARNING_OBJECTS_FOR_EACH_MODULE" %}</button>
    <button class="aplus-button--secondary aplus-button--md" type="submit" name="renumbercourse">{% translate "RENUMERATE_LEARNING_OBJECTS_IGNORING_MODULES" %}</button>
</form>
{% endblock %}
