{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load course %}

{% block edittitle %}{% blocktranslate trimmed with model=model_name id=object.id %}REMOVE_MODEL -- {{ model }}, {{ id }}{% endblocktranslate %}{% endblock %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">
	{% blocktranslate trimmed with model=model_name %}
		REMOVE_MODEL -- {{ model }}
	{% endblocktranslate %}
</li>
{% endblock %}

{% block coursecontent %}
<br />
<form method="post" class="well form">
	{% csrf_token %}
	<legend>
		{% blocktranslate trimmed with model=model_name %}
			REMOVE_MODEL_CONFIRM -- {{ model }}
		{% endblocktranslate %}
	</legend>

	<div class="alert alert-danger">
		{% if empty %}
			{% blocktranslate trimmed with model=model_name name=object %}
				REMOVE_MODEL_CONFIRMATION_ALERT -- {{ model }}, {{ name }}
			{% endblocktranslate %}

			{% if model == "exercise" %}
			<p>
				{% blocktranslate trimmed with num=object.submissions.count %}
					REMOVE_EXERCISE_MODEL_CONFIRMATION_ALERT -- {{ num }}
				{% endblocktranslate %}
			</p>
			{% endif %}
		{% else %}
			{% blocktranslate trimmed with model=model_name name=object %}
				REMOVE_MODEL_MUST_BE_EMPTY -- {{ model }}, {{ name }}
			{% endblocktranslate %}
		{% endif %}
	</div>

	<div class="form-group">
		{% if empty %}
		<input class="aplus-button--danger aplus-button--md" type="submit" value="{% translate 'REMOVE' %}" />
		{% endif %}
		<a class="aplus-button--secondary aplus-button--md" href="{{ instance|url:'course-edit' }}" role="button">
			{% translate "CANCEL" %}
		</a>
	</div>
</form>
{% endblock %}
