{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "SIGN_IN_AS_GIVEN_USER" %} | {{ block.super }}{% endblock %}

{% block content %}
<h2 class="page-title">{% translate "SIGN_IN_AS_GIVEN_USER" %}</h2>
<p>
  {% translate "SIGN_IN_AS_GIVEN_USER_DESCRIPTION_AND_WARNING" %}
</p>
<form method="post">
  {% csrf_token %}
  <label>
    {% translate "USERNAME" %}
    <input type="text" name="username" />
  </label>
  <input type="submit" value="{% translate 'CHANGE_MY_SESSION' %}" />
</form>
{% endblock %}
