{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign in as given user" %} | {{ block.super }}{% endblock %}

{% block content %}
<h2 class="page-title">{% trans "Sign in as given user" %}</h2>
<p>
  {% trans "For debugging purposes, superusers may sign in here as any user. Consider your actions!" %}
</p>
<form method="post">
  {% csrf_token %}
  <label>
    {% trans "Username" %}
    <input type="text" name="username" />
  </label>
  <input type="submit" value="{% trans 'Change my session' %}" />
</form>
{% endblock %}
