{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load course %}
{% load editcourse %}

{% block editbreadcrumblist %}
{{ block.super }}
<li><a href="{{ instance|url:'course-tags' }}">{% translate "TAGS" %}</a></li>
<li class="active">{% translate "ADD_NEW_USER_TAG" %}</li>
{% endblock %}
{% block view_tag %}edit-course,course-tags{% endblock %}

{% block coursecontent %}
<br />
<form method="post" class="well form-horizontal">
	{% csrf_token %}
	<legend>{% translate "ADD_STUDENT_TAG" %}</legend>
	{{ form|bootstrap_horizontal }}
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="aplus-button--default aplus-button--md">{% translate "SAVE" %}</button>
			<a href="{{ instance|url:'course-tags' }}" class="aplus-button--secondary aplus-button--md" role="button">{% translate "CANCEL" %}</a>
		</div>
	</div>
</form>
{% endblock %}
