{% extends "edit_course/edit_course_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load course %}
{% load editcourse %}
{% load colortag %}

{% block editbreadcrumblist %}
{{ block.super }}
<li class="active">{% translate "TAGS" %}</li>
{% endblock %}
{% block view_tag %}edit-course,course-tags{% endblock %}

{% block coursecontent %}
<br />
<p>
	<a class="aplus-button--secondary aplus-button--sm" role="button" href="{{ instance|url:'course-tags-add' }}">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		{% translate "ADD_NEW_STUDENT_TAG" %}
	</a>
</p>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{% translate "STUDENT_TAGS" %}</h3>
	</div>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th>{% translate "TAG" %}</th>
			<th>{% translate "SLUG" %}</th>
			<th>{% translate "DESCRIPTION" %}</th>
			<th>{% translate "VISIBLE_TO_STUDENTS" %}</th>
			<th>{% translate "ACTIONS" %}</th>
		</tr>
		{% with hide_tooltip=True %}
		{% for tag in object_list %}
		<tr>
			<td>{{ tag|colortag }}</td>
			<td>{{ tag.slug }}</td>
			<td>{{ tag.description }}</td>
			<td>{% if tag.visible_to_students %}<span style="color: #00B000;">yes</span>{% else %}<span style="color: #B00000;">no</span>{% endif %}</td>
			<td>
				<a href="{{ tag|url:'course-tags-edit' }}" class="aplus-button--secondary aplus-button--xs" role="button">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					{% translate "EDIT" %}
				</a>
				<a href="{{ tag|url:'course-tags-remove' }}" class="aplus-button--secondary aplus-button--xs" role="button">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{% translate "REMOVE" %}
				</a>
        <a href="{{ tag|url:'course-taggings-add' }}" class="aplus-button--secondary aplus-button--xs" role="button">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          {% translate "TAG_STUDENTS" %}
        </a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="4">{% translate "NO_STUDENT_TAGS" %}</td>
		</tr>
		{% endfor %}
		{% endwith %}
	</table>
</div>
{% endblock %}
