/* warning glyphs in alert boxes */

.external-service .alert .glyphicon {
    display: table-cell;
}

.external-service .alert div,
.external-service .alert span {
    padding-left: 0.6em;
    display: table-cell;
}

.external-service .well p:last-child {
    margin-bottom: 0;
}
