body {
	
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px;
	
	color:#333333;
	background:#ffffff;

	margin:0;
	padding:1.5em 3em;
}

h1 {
	font-size:30px;
	line-height:36px;
	font-weight:bold;
	text-rendering:optimizelegibility;
	
	margin:9px 0;
}

p {
	margin:0 0 9px 0;
}
