{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "INTERNAL_SERVER_ERROR_500" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					{% translate "INTERNAL_SERVER_ERROR_500" %}
					<span class="tiny">(500)</span>
				</h1>
			</div>
			<div class="alert alert-danger">
				<i class="bi-exclamation-triangle" aria-hidden="true"></i>
				{% translate "SOMETHING_WENT_WRONG" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
