<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>A+</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/static/css/submission.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <script type="text/javascript" src="/static/js/aaltoplus.js"></script>
        <script type="text/javascript" src="/static/prettify/prettify.js"></script>
        <link rel="stylesheet" href="/static/prettify/prettify.css" type="text/css" />
    </head>
    <body>
        <div id="page">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                            <h1>Error 500 <small>internal system error</small></h1>
                        </div>
                    </div>
                </div>
                <div class="hero-unit">
                    <p>
                        Something went terribly wrong and A+ was not able to process your request. Sorry.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
