<h2>Known Issues</h2>
<p>At present, A+ partly complies with the defined requirements for accessibility. Further improvements are needed, especially:</p>
<ul>
	<li>Some elements of the service are not keyboard accessible.</li>
	<li>The focus state is often unclear.</li>
	<li>Some interface elements have colour contrast below the requirement.</li>
	<li>Some interface elements are unlabelled or unclearly labelled.</li>
	<li>No "skip links" to bypass blocks of content are present.</li>
	<li>Resizing only the text of the page using the browser does not work reliably.</li>
	<li>The language of parts of the content can’t always be ascertained programmatically (the language of pages typically can be).</li>
</ul>

<p>Further detail can be seen in <a href="https://apluslms.github.io/accessibility-audit/">the results of the self-evaluation carried out in Summer 2020</a>. </p>
<p>Most known issues will be addressed in the next version of the platform, scheduled for release in early 2021.</p>
<p>We are actively working to address the accessibility issues that have been identified.</p>
<p>This summary was created in August 2020.</p>
