<h2>Tunnetut ongelmat</h2>
<p>Nykytilanteessa A+ täyttää osittain saavutettavuusvaatimukset. Lisäparannuksia vaaditaan, erityisesti seuraavissa toiminnallisuuksissa:</p>
<ul>
	<li>Joihinkin palvelun osiin ei pääse pelkällä näppäimistöllä.</li>
	<li>Valittuna oleva sivun osa (fokuksen tila) ei usein erotu riittävän selkeästi.</li>
	<li>Joissakin käyttöliittymän osissa värien kontrasti on liian alhainen.</li>
	<li>Joistakin käyttöliittymän osista (erityisesti lomakkeissa) puuttuvat nimilaput tai nimilaput ovat epäselviä.</li>
	<li>Sivunäkymän toistuvia osia (erityisesti navigaatiota) ei voi ohittaa eli ohituslinkit puuttuvat.</li>
	<li>Tekstin kokoa ei voi luotettavasti muuttaa selainasetuksista.</li>
	<li>Sisällön osien kieltä ei aina pysty määrittelemään ohjelmallisesti. (Koko sivun kielen yleensä pystyy määrittelemään.)</li>
</ul>

<p>Lisätietoja on saatavilla <a href="https://apluslms.github.io/accessibility-audit/">itsearvion raportissa</a>, joka tehtiin kesällä 2020. </p>
<p>Suurin osa tunnetuista ongelmista korjataan alustan seuraavassa versiossa, jonka julkaisu on suunniteltu vuoden 2021 alkuun.</p>
<p>Korjaamme havaitut ongelmat viipymättä.</p>
<p>Tämä tiivistelmä luotiin elokuussa 2020.</p>
