{% load i18n %}
{% load static %}
{% load base %}
{% load course %}
{% load notification %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% brand_name %}{% endblock %}</title>

	{% block alternates %}
	{% get_available_languages as LANGUAGES %}
	{% get_language_info_list for LANGUAGES as languages %}
	{% for language in languages %}
	<link rel="alternate" hreflang="{{ language.code }}" href="{{ request.get_full_path|localized_url:language.code }}" />
	{% endfor %}
	<link rel="alternate" hreflang="x-default" href="{{ request.get_full_path|localized_url }}" />
	{% endblock %}

	<script src="https://code.jquery.com/jquery-3.7.0.min.js"
			integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap5.min.js' %}"></script>

	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">-->
	<!--<link href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" rel="stylesheet"
			integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE"
			crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css" rel="stylesheet"
			integrity="sha384-e7wK18mMVsIpE/BDLrCQ99c7gROAxr9czDzslePcAHgCLGCRidxq1mrNCLVF2oaj"
			crossorigin="anonymous" referrerpolicy="no-referrer" />-->

	<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" rel="stylesheet"
			integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
			integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/scala.min.js"
			integrity="sha512-F7HBSjTYDsAreqced8cggvF5AuB+j2TXktnLYpCrpWF2fhQJJCc5KimR3LYLs0AppTBecbPN9M9Hjf8yC2WstA=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/matlab.min.js"
			integrity="sha512-5ZGiuxBBzpJ0aH15H1I850TRlyLKnJz4oUehftIWUpEGv4k/Yq7Iva5m7yqfLQYjMjZLcQ8eFCkPQR5JL5CUrQ=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/dockerfile.min.js"
			integrity="sha512-f4j2jCLhh6ii5vDz5Zi41dqB8gpf1J3VJfApZSdlZQCzm5X4jmMKRulA0Vlf1CCewroxvKrel6yCCSpiEwFNsA=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
			integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="{% static 'js/translate.min.js' %}"></script>

	{% if is_teacher %}
	<link data-translation rel="preload" as="fetch" crossorigin="anonymous"
		type="application/json, text/javascript, */*; q=0.01" hreflang="fi"
		href="{{ STATIC_URL }}js-translations/teacher.fi.json">
	<script src="{% static 'js/table.js' %}"></script>
	{% endif %}
	<link data-translation rel="preload" as="fetch" crossorigin="anonymous"
		type="application/json, text/javascript, */*; q=0.01" hreflang="fi"
		href="{{ STATIC_URL }}js-translations/utils.fi.json">

	{% block js-translations %}
	{# Put all additional translation files inside this block. #}
	{% endblock %}


	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/submission.css' %}" />
	<link rel="stylesheet" href="{% static 'django_colortag.css' %}" />
	<script src="{% static 'js/polyfill-find.js' %}"></script>
	<script src="{% static 'js/focus-visible-polyfill.min.js' %}"></script>
	<script src="{% static 'js/aplus.js' %}"></script>
	{{ form.media.js }}

	{% block scripts %}
	{# Put all additional scripts inside this block. #}
	{% endblock %}

	{% block meta %}
	{# Put all additional meta data inside this block. #}
	{% endblock %}

	<!-- Some favicons courtesy of http://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="{{ STATIC_URL }}mstile-144x144.png">
</head>

<body
	class="{% if profile %}{% if is_external_student %}external-student{% else %}internal-student{% endif %}{% endif %} lang-{{ request.LANGUAGE_CODE }}"
	data-view-tag="{% block view_tag %}{% endblock %}">
	<a href="#content" class="skip-link">{% translate "SKIP_MAIN_NAVIGATION" %}</a>
	<div class="page-wrap">
		{% block header %}
		<header>
			<nav class="navbar-header topbar navbar sticky-top visible-xs" aria-label="{% translate 'MAIN' %}">
				<div class="container-fluid">
					<div style="display: flex; align-items: center">
						<a class="navbar-brand" href="{% url 'home' %}">{% brand_name %}</a>
						<span class="navbar-brand" style="font-size: 0.8em">{{ APLUS_VERSION }}</span>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li role="presentation" class="nav-item dropdown">
								<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">
									{% if instance %}
									{{ course|parse_localization }}
									{% if not instance.visible_to_students %}
									<span class="badge text-bg-danger">{% translate "HIDDEN_capitalized" %}</span>
									{% endif %}
									{% else %}
									{% translate "SELECT_COURSE" %}
									{% endif %}
								</a>
								{% course_menu %}
							</li>
						</ul>
					</div>
					<div class="d-none d-sm-flex">
						<ul class="nav navbar-nav user-menu" style="flex-direction: row; align-items: baseline; gap: 1em">
							{% if show_language_toggle %}
							<li class="nav-item">
								{% if request.LANGUAGE_CODE == 'fi' %}
								<a class="nav-link" href="?hl=en" role="button" aria-label="{% translate 'CHANGE_LANGUAGE_TO_ENGLISH' %}" hreflang="en" onclick="changeLanguage('en'); return false;">
									<span>
										<img src="{% static 'images/uls_white.svg' %}" alt="">
										EN
									</span>
								</a>
								{% else %}
								<a class="nav-link" href="?hl=fi" role="button" aria-label="{% translate 'CHANGE_LANGUAGE_TO_FINNISH' %}" hreflang="fi" onclick="changeLanguage('fi'); return false;">
									<span>
										<img src="{% static 'images/uls_white.svg' %}" alt="">
										FI
									</span>
								</a>
								{% endif %}
							</li>
							{% endif %}
							{% if user.is_authenticated %}
							{% group_select %}
							{% notification_menu %}
							<li role="presentation" class="profile-menu nav-item dropdown">
								<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">
									<i class="bi-person-fill" aria-hidden="true" data-testid="user-menu"></i>
									{{ user.first_name }} {{ user.last_name }} 
								</a>
								<ul class="dropdown-menu" style="position: absolute; right: 0; left: auto">
									<li role="presentation">
										<a class="dropdown-item" href="{% url 'profile' %}">{% translate "PROFILE" %}</a>
									</li>
									<li role="separator" class="dropdown-divider"></li>
									<li role="presentation">
										<a class="dropdown-item" href="{% url 'logout' %}">
											<i class="bi-box-arrow-right" aria-hidden="true"></i>
											{% translate "LOG_OUT"%}
										</a>
									</li>
								</ul>
							</li>
							{% else %}
							<li role="presentation">
								<a href="{% url 'login' %}{% login_next %}">
									<i class="bi-box-arrow-in-right" aria-hidden="true"></i>
									{% translate "LOG_IN"%}
								</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<button type="button" class="navbar-toggler collapsed d-block d-sm-none" data-bs-toggle="collapse"
						data-bs-target="#bs-navbar-collapse" aria-expanded="false">
						<span class="visually-hidden">{% translate "TOGGLE_NAVIGATION" %}</span>
						{% notification_count as n_count %}
						{% if n_count > 0 %}
						<span class="badge badge-danger float-end">{{ n_count }}</span>
						{% endif %}
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="bs-navbar-collapse">

						{# Separate menu optimized for mobile users #}
						<ul class="nav navbar-nav d-block d-sm-none">
							{% notification_count as n_count %}
							{% if n_count > 0 %}
								<li class="header">
									<h4>{% translate "NOTIFICATION" %}</h4>
								</li>
							{% endif %}
							{% notification_menu %}
							{% group_select %}
							{% block mobilemenu %}{% endblock %}
							<li class="header">
								<h4>{% translate "SITE" %}</h4>
							</li>
							<li>
								<a class="nav-link" href="{% url 'home' %}">
									<i class="bi-house-door-fill" aria-hidden="true"></i>
									{% translate "HOME" %}
								</a>
							</li>
							{% course_menu %}
							{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'profile' %}">
									<i class="bi-person-fill" aria-hidden="true"></i>
									{{ user.first_name }} {{ user.last_name }}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout' %}">
									<i class="bi-caret-left" aria-hidden="true"></i>
									{% translate "LOG_OUT"%}
								</a>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}{% login_next %}">
									<i class="bi-box-arrow-in-right" aria-hidden="true"></i>
									{% translate "LOG_IN" %}
								</a>
							</li>
							{% endif %}
							<li>
								{% if show_language_toggle %}
								{% if request.LANGUAGE_CODE == 'fi' %}
								<a href="?hl=en" role="button" aria-label="{% translate 'CHANGE_LANGUAGE_TO_ENGLISH' %}" hreflang="en" onclick="changeLanguage('en'); return false;">
									<span>
										<img src="{% static 'images/uls_white.svg' %}" alt="">
										EN
									</span>
								</a>
								{% else %}
								<a href="?hl=fi" role="button" aria-label="{% translate 'CHANGE_LANGUAGE_TO_FINNISH' %}" hreflang="fi" onclick="changeLanguage('fi'); return false;">
									<span>
										<img src="{% static 'images/uls_white.svg' %}" alt="">
										FI
									</span>
								</a>
								{% endif %}
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		{% endblock header %}

		{% block container_opening_tag %}
		<main class="site-content container-fluid" id="content">
			{% endblock %}
			{% site_alert %}
			{% include "_messages.html" %}
			{% block content %}
			<div class="error">
				No content
			</div>
			{% endblock %}
			{% block container_closing_tag %}
		</main>
		{% endblock %}

		{% block footer %}
		<footer class="site-footer footer mt-auto" role="contentinfo">
			<nav class="navbar navbar-expand sticky-bottom bg-body-tertiary" role="presentation">
				<div class="container-fluid">
					<ul class="nav navbar-nav" style="align-items: center">
						{% block footercontent %}{% endblock %}
						<li class="nav-item"><a class="nav-link" href="{% url 'privacy_notice' %}">{% translate "PRIVACY_NOTICE" %}</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'accessibility_statement' %}">{% translate "ACCESSIBILITY_STATEMENT" %}</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'support_channels' %}">{% translate "SUPPORT" %}</a></li>
						<li class="nav-item"><a class="nav-link" href="https://link.webropol.com/s/aplus-feedback" target="_blank">{% translate "FEEDBACK" %}</a></li>
						<li class="nav-item"><span class="navbar-text">{% brand_name %} {{ APLUS_VERSION }}</span></li>
					</ul>
				</div>
			</nav>
		</footer>
		{% endblock %}
	</div>
	<div id="page-modal" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-progress">
					<div class="modal-submit-error alert alert-danger" style="display:none">
						{% translate "EXERCISE_ERROR_COMMUNICATION" %}
					</div>
					<div class="progress">
						<div class="aplus-progress-bar aplus-progress-bar-striped active" role="progressbar" style="width:100%"
							data-msg-error="{% translate 'LOADING_FAILED' %}">
							{% translate "LOADING" %}
						</div>
					</div>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="aplus-button--secondary aplus-button--md" data-bs-dismiss="modal">
						{% translate "CLOSE" %}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="file-modal" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-progress">
					<div class="progress">
						<div class="aplus-progress-bar aplus-progress-bar-striped active" role="progressbar" style="width:100%"
							data-msg-error="{% translate 'LOADING_FAILED' %}">
							{% translate "LOADING" %}
						</div>
					</div>
				</div>
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "CLOSE" %}">
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	{% if not is_course_staff %}{% tracking_html %}{% endif %}
</body>

</html>
