{% load i18n %}
{% load course_menu %}
{% load notification %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        
        <title>{% block title %}A+{% endblock %}</title>

        <!-- This is for responsive bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/submission.css" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />

        <link rel="stylesheet" href="{{ STATIC_URL }}prettify/prettify.css" type="text/css" />

        <!-- Some favicons courtesy of http://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="{{ STATIC_URL }}mstile-144x144.png">
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="base-container">
            {% block navbar %}

            <div id="main-navbar" class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">A+</a>
                        <div class="nav dropdown nav-collapse collapse">
                            <a href="#" class="brand dropdown-toggle" data-toggle="dropdown">
                                {% block pagetitle %}
                                    {% trans "Select course" %}
                                {% endblock %}
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% render_course_list %}
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul id="user-status" class="nav pull-right">
                                {% if user.is_authenticated %}

									{% unread_notifications user as unread %}
                                    {% if unread.count > 0 %}
                                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i id="unread-notifications-icon" class="icon-white icon-envelope"></i> 
                                        {% blocktrans with count=unread.count count_p=unread.count|pluralize %}
                                            {{ count }} new notification{{ count_p }}
                                        {% endblocktrans %}
                                        </a>                                        
                                        <ul class="dropdown-menu" id="notification-menu">
                                            {% for course_instance in unread.course_instances %}
                                                <li><a href="{{ course_instance.get_absolute_url }}me/">{{course_instance.instance_name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                        </li>
                                    {% endif %}

                                    {% if unread.count == 0 and instance %}
                                        <li><a id="notification-icon" href="{{ instance.get_absolute_url }}me/"><i class="icon-white icon-envelope"></i></a></li>
                                    {% endif %}

                                    <li><a>{% trans "Logged in as"%} {{ user.username }}.</a></li>
                                    <li><a href="{% url 'logout' %}">{% trans "Log out"%}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            <div id="main_content" class="container">
                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                            {% block maintitle %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% block breadcrumb %}{% endblock %}

                {% block secondnav %}{% endblock %}

                {% include "widgets/messages.html" %}

                {% block content %}
                    <div class="error">
                        No content
                    </div>
                {% endblock %}
            </div>

            {% block footer %}
            <footer>
                <div class="container">
                    {% block footercontent %}{% endblock %}
                    <p><a href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
                </div>
            </footer>
            {% endblock %}

            <!-- When the scripts are at the end of the body, the rendering is not
            blocked by the script loading and thus, the borwser shows the page
            faster -->
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/aaltoplus.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}prettify/prettify.js"></script>

            {% block scripts %}
                {# Put all additional scripts inside this block. #}
            {% endblock %}

        </div><!-- #base-container -->
    </body>
</html>
