<html>
    <head>
        
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file1" />
            <input type="submit" />
        </form>
        <h1>GET parameters</h1>
        <table border="1">
        {% for tpl in get_params %}
            <tr>
                <td>{{tpl.0}}</td>
                <td>{{tpl.1}}</td>
            </tr>
        {% endfor %}
        </table>
        <h1>POST parameters</h1>
        <table border="1">
        {% for tpl in post_params %}
            <tr>
                <td>{{tpl.0}}</td>
                <td>{{tpl.1}}</td>
        {% endfor %}
        </table>
        <h1>Files</h1>
        <table border="1">
        {% for tpl in files %}
            <tr>
                <td>{{ tpl.0 }}</td>
                <td><pre>{{ tpl.1.read }}</pre></td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
