<p class="lead">Meidän tulee noudattaa EU:n saavutettavuusdirektiiviä, jonka tarkoituksena on taata kaikille tasavertaiset mahdollisuudet käyttää digitaalisia palveluita ja asettaa yhtenäiset vaatimukset saavutettavuudelle.</p>
<p>Sivuston saavutettavuuden nykyinen taso on WCAG 2.1, taso AA. Direktiivin vaatimukset on huomioitu web-sivuston kehityksessä ja kehitystyö jatkuu edelleen. Tämän selosteen saavutettavuusarvion tiedot perustuvat itsearvioon, joka tehtiin kesällä 2020.</p>
<p>Me olemme sitoutuneet seuraamaan saavutettavuusstandardeja. Toteutamme saavutettavuusvaatimusten edellyttämät toimenpiteet seuraavasti:</p>
<ul>
	<li>saavutettavuus kuuluu arvoihimme</li>
	<li>saavutettavuus on sisällytetty meidän käytäntöihimme ja laatutyöhömme</li>
	<li>henkilöstössämme on nimetty vastuuhenkilö saavutettavuudesta.</li>
	<li>meidän tavoitteenamme on teknisesti saavutettava ja sisällöltään ymmärrettävä palvelu, joka on helposti kaikkien käytettävissä.</li>
</ul>

<p>Lähetä palautetta meille eli tämän sivuston ylläpitäjille, jos huomaat sivustolla muita kuin alla listattuja saavutettavuusongelmia.</p>
