<p class="lead">We are subject to the EU's accessibility directive, the aim of which is to ensure equality in a digitalised society and set uniform requirements for accessibility.</p>
<p>The site's current accessibility standard is WCAG 2.1, level AA. The requirements of the Directive have been taken into account in the development of the website, and the work continues. The information in this statement is based on self-assessment carried out in the summer of 2020. It has been updated after new platform releases.</p>
<p>We are committed to observing accessibility standards. The following measures are implemented in order to achieve this goal:</p>
<ul>
	<li>accessibility is part of our mission statement</li>
	<li>accessibility has been taken into account in our practices</li>
	<li>a member of staff has been appointed to be responsible for accessibility.</li>
	<li>the team's objective is to maintain a service that is technically accessible and understandable in terms of its contents and that is clear and easy to use for all types of users.</li>
</ul>

<p>If you notice any deficiencies regarding the accessibility of the site beyond those listed below, you can provide feedback.</p>
<p>We will respond to your feedback within two weeks, at the latest.</p>
