<b>TÄMÄ ON ESIMERKKIPOHJA, JOTA KUNKIN ORGANISAATION TULEE TÄYDENTÄÄ JA KORJATA VASTAAMAAN OMAA YMPÄRISTÖÄÄN.</b>

<h3>Palvelun kuvaus</h3>

<p>
JÄRJESTELMÄN NIMI on hajautettu sähköinen opiskelualusta ja
kurssinhallintajärjestelmä. Järjestelmän käyttäjiä ovat opiskelijat ja
opettajat.
</p>
<p>
Järjestelmän avulla opettajat voivat hallinnoida kursseja ja kursseihin
liittyviä harjoituksia. Lisäksi järjestelmä mahdollistaa
ulkoisissa järjestelmissä olevien harjoitustehtävien liittämisen
kurssille ilman, että ulkoisiin järjestelmiin joudutaan
konfiguroimaan tai tallentamaan kurssiin liittyviä tietoja, kuten
tehtävien palauttamiseen liittyviä määräaikoja tai opiskelijoiden
henkilötietoja.
</p>
<p>
Opiskelijat käyttävät järjestelmää ensisijaisesti kurssiin liittyvien
tehtävien palauttamiseen ja tehtävistä saadun palautteen tarkasteluun.
</p>

<h3>Tietosuojaseloste</h3>

<p>
Henkilötietolaki (523/1999) 10 § ja 24 §
</p>

<dl>
    <dt>1. Rekisterinpitäjä</dt>
    <dd>
        ORGANISAATION NIMI<br>
        POSTIOSOITE<br>
        PUHELINNUMERO
    </dd>
    <dt>2. Yhteyshenkilö rekisteriä koskevissa asioissa</dt>
    <dd>
        YHTEYSHENKILÖ TAI VASTUUORGANISAATIO<br>
        YHTEYSTIEDOT, SÄHKÖPOSTIOSOITE
    </dd>
    <dt>3. Rekisterin nimi</dt>
    <dd>JÄRJESTELMÄN käyttäjärekisteri</dd>
    <dt>4. Henkilötietojen käsittelyn tarkoitus</dt>
    <dd>
        Henkilötietoja käytetään opiskelijoille ja opettajille tarjotun
        palvelun käyttöoikeuksien hallintaan, palvelun edellyttämien
        yhteydenottojen mahdollistamiseen, opintosuoritusten kirjaamiseen ja
        opetuksen kehittämiseen. Lisäksi henkilötietoja käytetään palvelimen
        ja tietoliikenteen kapasiteetin seurantaan, teknisten ongelmien ja
        väärinkäytösten selvittämiseen sekä palvelun edelleenkehittämiseksi.
        Järjestelmän eräänä keskeisenä tehtävänä on harjoitustehtävien
        tekeminen ja automaattinen tarkastaminen. Opiskelija näkee omat
        tehtäväkohtaiset suorituksensa ja pisteensä. Opetushenkilökunta
        käsittelee opiskelijan tietoja opintosuoritusten arvioinnissa.
        Lisäksi tietoja käsitellään ao. laitoksella tutkimuksessa ja
        tilastollisesti opetuksen kehittämistä varten.
    </dd>
    <dt>5. Rekisterin tietosisältö</dt>
    <dd>
        <em>Perustiedot:</em> nimi, käyttäjätunnus, sähköpostiosoite.
        ORGANISAATION opiskelijoista lisäksi:
        opiskelijanumero, korkeakoulu, läsnäolotieto, ilmoittautuminen
        kurssille ja hyväksymisvuosi opiskelijaksi.<br>
        <em>Suoritustiedot:</em> opiskelijan kaikki tehtäväkohtaiset vastaukset
        ja vastausyritykset aikaleimoineen sekä tehtävien pisteytys.
        Suoritustiedot ovat salassapidettäviä (JulkL 24 § 1 mom 30 kohta).
    </dd>
    <dt>6. Säännönmukaiset tietolähteet</dt>
    <dd>
        1) Haka-federaatio<br>
        2) ORGANISAATION opiskelijatietorekisteristä opiskelijoiden perustiedot<br>
        3) Opiskelijoiden järjestelmään palauttamat tehtävien ratkaisut
    </dd>
    <dt>7. Tietojen säännönmukaiset luovutukset</dt>
    <dd>
        Henkilötietoja ei säännönmukaisesti luovuteta ao. laitoksen
        ulkopuolelle. Henkilötietoja voidaan käsitellä ja luovuttaa
        tieteellistä tutkimusta, tilastointia ja suunnittelu- ja
        selvitystehtäviä varten julkisuuslaissa ja henkilötietolaissa
        säädetyillä edellytyksillä.
    </dd>
    <dt>8. Tietojen siirto EU:n tai ETA:n ulkopuolelle</dt>
    <dd>
        Henkilötietoja ei siirretä EU/ETA-alueen ulkopuolelle ilman
        rekisteröidyn yksiselitteistä suostumusta.
    </dd>
    <dt>9. Rekisterin suojauksen periaatteet</dt>
    <dd>
        A) Manuaalinen aineisto: Ei ole.<br>
        B) ATK:lla käsiteltävät tiedot:
        Rekisteritietoja ei säilytetä muussa kuin sähköisessä muodossa.
        Verkon yli siirrettäessä tiedot suojataan SSL-tekniikalla.
        Rekisterin palvelinlaitteistot sijaitsevat varmistetuissa
        konesalitiloissa, jonne pääsy on rajoitettu atk-ylläpitäjiin.
        Pääsy rekisteritietoja sisältävään tietokantaan on rajoitettu sekä
        verkkotekniikan keinoin että käyttäjätunnuksien ja salasanojen avulla.
        Rekisterin ylläpito-oikeus on ainoastaan järjestelmän pääkäyttäjillä.
        Tietoja ylläpitävät projektihenkilöstö ja käyttäjät itse.
        Henkilötietoja säilytetään toistaiseksi kunnes rekisterin
        käyttötarkoitus lakkaa.
    </dd>
    <dt>10. Tarkastusoikeus</dt>
    <dd>
        Rekisteröity voi tarkastaa avoinna olevaan kurssiin liittyvät
        tietonsa itse www-käyttöliittymän kautta. Tämän jälkeen tietoja
        pääsee tarkastelemaan esittämällä kirjallinen pyyntö asiasta
        rekisterin yhteyshenkilölle.
    </dd>
    <dt>11. Oikeus vaatia tiedon korjaamista</dt>
    <dd>
        Ota yhteys kotiorganisaatioosi, mikäli kirjautumisen yhteydessä
        kotiorganisaatiostasi noudettavissa henkilötiedoissa on virheitä.
        Palvelun sinulta itseltäsi keräämät henkilötiedot oikaistaan
        ottamalla yhteys em. rekisteriasioita hoitavaan henkilöön.
        Pyyntö tiedon korjaamisesta tulee tehdä kirjallisesti
        rekisterinpitäjälle ja se osoitetaan rekisterin vastuuhenkilölle
        (osoite yllä).
    </dd>
    <dt>12. Muut henkilötietojen käsittelyyn liittyvät oikeudet</dt>
    <dd>
        Rekisteröity voi pyytää tietojensa poistamista rekisteristä
        erillisellä kirjallisella pyynnöllä sen jälkeen kun ORGANISAATION
        yleinen opintosuorituksille määrätty vähimmäissäilytysaika on päättynyt.
    </dd>
</dl>
