<h3>Palvelun kuvaus</h3>

<p>
A+ on hajautettu sähköinen opiskelualusta ja
kurssinhallintajärjestelmä. Järjestelmän käyttäjiä ovat opiskelijat ja
opettajat.
</p>
<p>
A+:n avulla opettajat voivat hallinnoida kursseja ja kursseihin
liittyviä harjoituksia. Lisäksi A+ mahdollistaa
ulkoisissa järjestelmissä olevien harjoitustehtävien liittämisen
kurssille ilman, että ulkoisiin järjestelmiin joudutaan
konfiguroimaan tai tallentamaan kurssiin liittyviä tietoja, kuten
tehtävien palauttamiseen liittyviä määräaikoja tai opiskelijoiden
henkilötietoja.
</p>
<p>
Opiskelijat käyttävät järjestelmää ensisijaisesti kurssiin liittyvien
tehtävien palauttamiseen ja tehtävistä saadun palautteen tarkasteluun.
</p>

<h3>Tietosuojaseloste</h3>

<h4>Yhdistetty rekisteriseloste- ja informointiasiakirja</h4>

<p>
Henkilötietolaki (523/1999) 10 § ja 24 §
</p>

<dl>
    <dt>Rekisterin nimi</dt>
    <dd>A+ käyttäjärekisteri</dd>
    <dt>Rekisterinpitäjä</dt>
    <dd>
        Aalto Yliopisto, Tietotekniikan laitos<br />
        PL 15400 <br />
        00076 AALTO
    </dd>
    <dt>Rekisteriasioita hoitava henkilö</dt>
    <dd>
        Otto Seppälä<br />
        <a href="https://people.aalto.fi/otto_seppala">
            https://people.aalto.fi/otto_seppala
        </a>
    </dd>
    <dt>Henkilötietojen käsittelyn tarkoitus</dt>
    <dd>
        Henkilötietoja käytetään opiskelijoille ja opettajille tarjotun
        palvelun käyttöoikeuksien hallintaan, palvelun edellyttämien
        yhteydenottojen mahdollistamiseen, opintosuoritusten kirjaamiseen ja
        opetuksen kehittämiseen. Lisäksi henkilötietoja käytetään palvelimen
        ja tietoliikenteen kapasiteetin seurantaan, teknisten ongelmien ja
        väärinkäytösten selvittämiseen sekä palvelun edelleenkehittämiseksi.
    </dd>
    <dt>Käsiteltävät henkilötiedot</dt>
    <dd>
        <em>Käyttäjän perustiedot:</em><br />
        Käyttäjän nimi, käyttäjätunnus, opiskelijanumero, sähköpostiosoite,
        kieli ja kotiorganisaatio noudetaan kotiorganisaatiosi suostumuksella
        aina, kun kirjaudut palveluun Aalto-tunnuksillasi.<br />
        <em>Käytöstä syntyvät tiedot:</em><br />
        Käyttäjien palveluun lataamat tiedot, kuten käyttöliittymän kieliasetus
        ja tehtävien ratkaisujen palautukset ja niistä saatu palaute.
    </dd>
    <dt>Käyttäjän koneelle tallennettavat tiedot</dt>
    <dd>
        Palvelu tallettaa käyttäjän selaimelle käyttäjän tunnistamiseen ja
        käyttökokemuksen parantamiseen liittyvää tietoa. Käyttäjä voi
        halutessaan kieltää näiden tietojen tallentamisen estämällä evästeiden
        ja local-storage selain-tietokannan käytön selaimensa asetuksista.
        Tällöin palvelu ei kuitenkaan enää toimi täydellisesti.
    </dd>
    <dt>Henkilötietojen säännönmukainen luovuttaminen</dt>
    <dd>
        Kunkin kurssin opettajalla on pääsy oman kurssinsa opiskelijoiden
        tietoihin ja lisäksi kurssin opettaja voi määritellä (automaattiseen)
        arviointiin käytettäviä palveluita, jonne A+ välittää opiskelijoiden
        palauttamat harjoitustyöt ja joista A+ kerää harjoitustöihin liittyvän
        palautteen. Rekisteri ei välitä Aalto-login kirjautumisen yhteydessä
        kerättyjä henkilötietoja opettajan määrittelemiin Aallon ulkopuolisiin
        palveluihin tai muille kolmansille osapuolille.
    </dd>
    <dt>Rekisterin suojauksen periaatteet</dt>
    <dd>
        Henkilötietoja käsitellään luottamuksellisesti. Rekisteri on suojattu
        ulkopuolisilta asianmukaisilla teknisillä suojakeinoilla. Tietoverkossa
        siirrettäessä henkilötiedot on suojattu SSL-tekniikalla mikäli käyttäjä
        käyttää https-protokollaa. Rekisteriä ei säilytetä paperitulosteena.
        Rekisteriä käyttävät ainoastaan henkilöt, joiden toimenkuvaan sen
        käyttö kuuluu. Jokaisella rekisterin käyttäjällä on henkilökohtainen
        käyttäjätunnus ja salasana.
    </dd>
    <dt>Tarkastusoikeus</dt>
    <dd>
        Tarkistaaksesi, mitä henkilötietoja sinusta on tallennettu, ota yhteys
        em. yhteyshenkilöön.
    </dd>
    <dt>Virheellisten tietojen oikaisu</dt>
    <dd>
        Ota yhteys kotiorganisaatioosi, mikäli kirjautumisen yhteydessä
        kotiorganisaatiostasi noudettavissa henkilötiedoissa on virheitä.
        Palvelun sinulta itseltäsi keräämät henkilötiedot oikaistaan ottamalla
        yhteys em. rekisteriasioita hoitavaan henkilöön.
    </dd>
</dl>
