{% load i18n %}
{% load static %}
{% load base %}
{% brand_name as brand %}
{% brand_name_long as brand_long %}
{% brand_institution_name as institution %}

<section class="frontpage frontpage-section" aria-label="{% translate "SUPPORT" %}">
	<div class="cards">
		<section class="widecard frontpage" aria-label="{% translate "TEACHERS" %}">
			<div class="card-body">
				<h2>{% translate "TEACHERS" %}</h2>
				<p class="card-text">
					<a target="_blank" rel="noopener" href="https://plus.cs.aalto.fi/aplus-manual/master/">
						{% blocktranslate trimmed %}
							MANUAL -- {{ brand_long }}
						{% endblocktranslate %}
					</a>
					{% translate "MANUAL_DESCRIPTION" %}
				</p>
				<p class="card-text">
					{% translate "CONTACT_SUPPORT_BY_EMAIL" %}
					<a rel="noopener" href="mailto:aplusguru@cs.aalto.fi" style="display: inline;">
						aplusguru@cs.aalto.fi
					</a>
				</p>
				<p class="card-text">
					<a target="_blank" rel="noopener" href="https://link.webropol.com/s/aplus-feedback">
						{% translate "GIVE_FEEDBACK" %}
					</a>
				</p>
			</div>
		</section>
		<section class="widecard frontpage" aria-label="{% translate "STUDENTS" %}">
			<div class="card-body">
				<h2>{% translate "STUDENTS" %}</h2>
				<p class="card-text">
					{% translate "CONTACT_COURSE_STAFF_FOR_ASSISTANCE_ON_COURSE_MATTERS" %}
				</p>
			</div>
		</section>
	</div>
</section>

<section class="text-center" aria-label="{% translate "A+_LMS_PROJECT_WEBSITE" %}">
	<a target="_blank" rel="noopener" href="https://apluslms.github.io/">{% translate "A+_LMS_PROJECT_WEBSITE" %}</a>
</section>
