{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<h2>Register for A+ Service</h2>
<form method="post" action=".">{% csrf_token %}
  <div>
      <p>By registering for this A+ service:</p>
      <ul>
        <li>I confirm that the work I submit to the assignments is my own,</li>
        <li>I will not release my solutions to the assignments publicly,</li> 
        <li>I understand that if someone else submits my work as his own, course staff cannot ensure who was the original author and the same consequences are applied to all parties of the plagiarism,    
        <li>I follow <a href="https://into.aalto.fi/display/enregulations/Aalto+University+Code+of+Academic+Integrity+and+Handling+Violations+Thereof#AaltoUniversityCodeofAcademicIntegrityandHandlingViolationsThereof-3.3Fraudulentmeansinstudying" target="_blank">Aalto University Code of Academic Integrity</a>.</li>
      </ul>

      A+ stores some personal information as explained in the <a href="privacy-policy.html">privacy policy</a>.
        
      {% comment %}
      I consent my Identity Provider to release the following attributes to A+:
      <ul>
        {% for name,value in shib_attrs.items %}
          <li>{{ name }}:     {{ value }}</li>
        {% endfor %}
      </ul>
      {% endcomment %}   
     
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
  <div class="submit-row">
    <input type="submit" value="Submit" class="default" />
  </div>
</form>
{% endblock %}
