{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<h2>Register for A+ Service</h2>
<form method="post" action=".">{% csrf_token %}
  <div>
      <p>By registering on this A+ service I approve the course honor code and privacy policy:</p>
  
      <h3>Course Honor Code</h3>
      <ul>
        <li>I confirm that the work I submit to the assignments is my own.</li>
        <li>I will not release my solutions to the assignments publicly.</li> 
        <li>I also understand that if someone else submits my work as his own, the course staff cannot ensure who was the original author and that the same consequences can be applied to all parties involved.    
        <li>I am aware of and follow <a href="https://into.aalto.fi/display/enregulations/Aalto+University+Code+of+Academic+Integrity+and+Handling+Violations+Thereof#AaltoUniversityCodeofAcademicIntegrityandHandlingViolationsThereof-3.3Fraudulentmeansinstudying" target="_blank">Aalto University Code of Academic Integrity</a>.</li>
      </ul>

      <h3>Privacy policy</h3>
      A+ stores some personal information as explained in the <a href="https://plus.cs.hut.fi/privacy-policy" target="_blank">privacy policy</a>.
        
      {% comment %}
      I consent my Identity Provider to release the following attributes to A+:
      <ul>
        {% for name,value in shib_attrs.items %}
          <li>{{ name }}:     {{ value }}</li>
        {% endfor %}
      </ul>
      {% endcomment %}   
     
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
  <div class="submit-row">
    <input type="submit" value="Submit" class="default" />
  </div>
</form>
{% endblock %}
