{% extends "course/course_base.html" %}
{% load i18n %}

{% block coursecontent %}

<h2>{% trans "Add deadline rule deviation" %}</h2>

<form method="post" class="well">
    {% csrf_token %}
    
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div id="add_dl_deviations">
        
        {{form.as_p}}
        
        <div class="form-actions">
            <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
        </div>
    </div>
</form>

{% endblock %}
