{% load i18n %}
{% load course %}
{% if unread.count > 0 %}
<div class="alert alert-danger visible-xs">
    <span class="glyphicon glyphicon-envelope pull-left" aria-hidden="true"></span>
    <p>
        {% trans "You have" %} {{ undread.count }} {{ unread_message }}
        <ul>
            {% for notification in unread.notifications %}
            <li><a href="{{ notification.course_instance|url:'notifications' }}" class="alert-link">
                {{ notification.course_instance.course }}: {{ notification.subject }}
            </a></li>
            {% endfor %}
        </ul>
    </p>
</div>
{% endif %}
