{% extends "course/course_base.html" %}
{% load i18n %}
{% load course %}
{% load exercise %}

{% block title %}{{ block.super }}: {% trans "Notifications" %}{% endblock %}
{% block view_tag %}profile{% endblock %}

{% block breadcrumblist %}
{{ block.super }}
<li class="active">{% trans "Notifications" %}</li>
{% endblock %}

{% block columns %}
<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="badge pull-right">
                    {% blocktrans with count=count %}{{ count }} unread{% endblocktrans %}
                </span>
                {% trans "Notifications" %}
            </h4>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{% trans "Subject" %}</th>
                    <th>{% trans "From" %}</th>
                    <th>{% trans "Date" %}</th>
                </tr>
            </thead>
            <tbody class="ajax-tail-list" data-per-page="{{ per_page }}">
                {% include "notification/_notifications_list.html" %}
                <tr class="more-link hide">
                    <td colspan="3">
                        <a href="{{ instance|url:'notifications' }}?page=2">
                            {% trans "Show older notifications..." %}
                        </a>
                        <div class="progress hide">
                            <div class="progress-bar progress-bar-striped active" style="width:100%;">
                                {% trans "Loading." %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    {% latest_submissions %}

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}
