{% extends "exammode/base.html" %}
{% load course %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="text-center">
    <p>
        {% blocktrans %}
        Please confirm that you have answered to all required questions before finishing the exam.
        You won't be able to edit your submissions after finishing the exam.
        {% endblocktrans %}
        <br> {% trans "You can go back to the exam with the back button." %}
    </p>

    <h1>{{examsession.course_instance.course}}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="end-exam" value="Finish exam" class="btn btn-primary">
        <input type="submit" name="cancel" value="Cancel"  class="btn btn-basic">
    </form>
</div>
{% endblock content %}
