{% extends "exammode/base.html" %}
{% load course %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="text-center">
	<p>
		{% trans "Please confirm that you selected the correct exam." %}
		<br>{% trans "You can go back to exam selection with the button below." %}
	</p>
	<a class="btn btn-danger btn-lg" href="{% url 'exam_start' %}">
		{% trans "Return" %}
	</a>
	<h1>{{examsession.course_instance.course}}</h1>
		{{examsession.exam_module}}
	<form action="" method="post">
		{% csrf_token %}
		<input
			type="submit"
			name="start-exam"
			value="Start exam"
			class="btn btn-success">
	</form>
</div>
{% endblock content %}
