{% extends "exammode/base.html" %}
{% load i18n %}

{% block content %}
{% if user_exam %}
<div class="text-center">
	<h1>{% trans "Active exam detected!" %}</h1>
	<div class="alert alert-danger">
		<p>{% blocktrans %}
		It seems that you already have an active exam attempt. To start a new exam,
		you must not have another active exam. You can continue by finishing your current
		exam or submitting it instantly.
		{% endblocktrans %}
		</p>
	</div>
<form action="" method="post">
		{% csrf_token %}
		<input type="submit" name="continue" value="Continue previous attempt" class="btn btn-primary">
		<input type="submit" name="discard" value="Return previous attempt" class="btn btn-danger">
</form>
</div>
{% else %}
<div class="text-center">
	<h1>{% trans "List of active exams" %}</h1>
	<br style="line-height: 2;">
	{% if active_exams %}
		<ul class="list-unstyled">
			{% for exam in active_exams %}
			<li class="list-group-item">
					<b>{{exam.course_instance}}</b>;
					{{exam.name}}, Room: {{exam.room}}
				<a
					class="btn btn-success"
					href="{% url 'exam_details' exam.id %}">
					{% trans "Start exam" %}
				</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{% trans "There are no active exams at the moment." %}</p>
	{% endif %}
</div>
{% endif %}
{% endblock content %}
