{% extends "exammode/base.html" %}
{% load i18n %}

{% block content %}
<div class="text-center">
	<h1>{% trans "List of active exams" %}</h1>
	<br style="line-height: 2;">
	{% if active_exams %}
		<ul class="list-unstyled">
			{% for exam in active_exams %}
			<li class="list-group-item">
					<b>{{exam.course_instance}}</b>;
					{{exam.name}}, Room: {{exam.room}}
				<a
					class="btn btn-success"
					href="{% url 'exam_details' exam.id %}">
					{% trans "Start exam" %}
				</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{% trans "There are no active exams at the moment." %}</p>
	{% endif %}
</div>
{% endblock content %}
