/*
 * Navigation
 */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	background-color: #A9A9A9 !important;
}

/*
 * Table
 */

.student-id,
.student-name {
	background-color: rgb(188, 232, 241);
	font-weight: bold;
}

table#table-points thead#table-heading th.indicator-heading {
	filter: brightness(85%);
}

table#table-points thead#table-heading th {
	top: 0;
	border-bottom-width: 1px;
}

table#table-points thead th:not(.indicator-heading) {
	background-color: white;
}

table#table-points thead th div.ratio {
	text-align: right;
	font-style: italic;
	font-weight: normal;
}
table#table-points thead th div.ratio::after {
	content: "%";
}
